Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: show active stage indicator during composite processing (#524)
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
Due: eslint, prettier

fix: cap download speed display and add GB formatting tier
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
Due: eslint, prettier

fix: cap download speed display and add GB formatting tier (#525)
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
Due: eslint, prettier

feat: add AWS EC2 staging deployment scripts
  docker/docker-compose.staging.yml
  docs/deployment.md
  docs/key-files.md
  frontend/jwst-frontend/Dockerfile
  frontend/jwst-frontend/nginx-staging.conf
  frontend/jwst-frontend/src/config/api.ts
  scripts/deploy-aws.sh
  scripts/server-setup.sh
Due: eslint, prettier

feat: add AWS EC2 staging deployment scripts (#526)
  docker/docker-compose.staging.yml
  docs/deployment.md
  docs/key-files.md
  frontend/jwst-frontend/Dockerfile
  frontend/jwst-frontend/nginx-staging.conf
  frontend/jwst-frontend/src/config/api.ts
  scripts/deploy-aws.sh
  scripts/server-setup.sh
Due: eslint, prettier

fix: set data directory ownership for container user in server-setup
  scripts/server-setup.sh
Due: none

fix: set data directory ownership for container user in server-setup (#527)
  scripts/server-setup.sh
Due: none

fix: add SignalR /hubs proxy to nginx staging and production configs
  frontend/jwst-frontend/nginx-ssl.conf
  frontend/jwst-frontend/nginx-staging.conf
Due: none

fix: add SignalR /hubs proxy to nginx staging and production configs (#528)
  frontend/jwst-frontend/nginx-ssl.conf
  frontend/jwst-frontend/nginx-staging.conf
Due: none

fix: filter proprietary MAST data from searches and recipes
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: use Simbad-resolvable names for featured target MAST searches
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
Due: none

fix: filter proprietary MAST data from searches and recipes (#530)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: use Simbad-resolvable names for featured target MAST searches (#531)
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
Due: none

docs: add tiered storage roadmap and update EBS to 100GB
  docs/deployment.md
  docs/development-plan.md
  scripts/deploy-aws.sh
Due: none

docs: add email and account management epic (H-series) to Phase 6
  docs/development-plan.md
Due: none

docs: add tiered storage and email/account management roadmap (#532)
  docs/deployment.md
  docs/development-plan.md
  scripts/deploy-aws.sh
Due: none

fix: remove overflow hidden that prevents library dashboard scrolling
  frontend/jwst-frontend/src/pages/MyLibrary.css
Due: prettier

fix: remove overflow hidden that prevents library dashboard scrolling (#533)
  frontend/jwst-frontend/src/pages/MyLibrary.css
Due: prettier

fix: wait for wizard stepper in composite E2E tests
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
Due: none

fix: wait for wizard stepper in composite E2E tests (#534)
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
Due: none

fix: exclude spectral observations from composite pipeline
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/composite/routes.py
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: exclude spectral observations from composite pipeline (#535)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/composite/routes.py
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

feat: add auth badge to recipe cards and cache MAST target searches
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  processing-engine/app/mast/routes.py
Due: eslint, prettier, mypy

feat: add auth badge to recipe cards and cache MAST target searches (#536)
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  processing-engine/app/mast/routes.py
Due: eslint, prettier, mypy

feat: allow anonymous access to read-only endpoints and skip download for existing data
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/DataAvailabilityModels.cs
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/jwstDataService.ts
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
Due: eslint, prettier

fix: pass observations to RecipeCard for data availability check
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
Due: eslint, prettier

feat: allow anonymous access to read-only endpoints and skip download for existing data (#538)
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/DataAvailabilityModels.cs
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/jwstDataService.ts
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
Due: eslint, prettier

fix: use synchronous composite endpoint for anonymous users
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
