Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

feat: wire 130 blog screenshots into posts with contextual alt text (#580)
  docs/blog/posts/2026-01-13.md
  docs/blog/posts/2026-01-14.md
  docs/blog/posts/2026-01-20.md
  docs/blog/posts/2026-01-22.md
  docs/blog/posts/2026-01-27.md
  docs/blog/posts/2026-01-28.md
  docs/blog/posts/2026-01-29.md
  docs/blog/posts/2026-01-30.md
  docs/blog/posts/2026-01-31.md
  docs/blog/posts/2026-02-01.md
  docs/blog/posts/2026-02-02.md
  docs/blog/posts/2026-02-03.md
  docs/blog/posts/2026-02-06.md
  docs/blog/posts/2026-02-07.md
  docs/blog/posts/2026-02-08.md
  docs/blog/posts/2026-02-09.md
  docs/blog/posts/2026-02-12.md
  docs/blog/posts/2026-02-13.md
  docs/blog/posts/2026-02-14.md
  docs/blog/posts/2026-02-15.md
  docs/blog/posts/2026-02-16.md
  docs/blog/posts/2026-02-17.md
  docs/blog/posts/2026-02-18.md
  docs/blog/posts/2026-02-22.md
  docs/blog/posts/2026-02-23.md
  docs/blog/posts/2026-02-24.md
  docs/blog/posts/2026-02-25.md
  docs/blog/posts/2026-02-26.md
  docs/blog/posts/2026-03-01.md
  docs/blog/posts/2026-03-02.md
Due: none

feat: add GitHub Pages deployment for mkdocs site (#581)
  .github/workflows/docs.yml
Due: none

feat: add automated blog image pipeline with wiring script and enrichment updates
  .claude/commands/enrich-blog.md
  docs/blog/images/manifest.json
  docs/blog/posts/2026-03-02.md
  scripts/wire-blog-images.py
Due: none

feat: add automated blog image pipeline with wiring script and enrichment updates (#582)
  .claude/commands/enrich-blog.md
  docs/blog/images/manifest.json
  docs/blog/posts/2026-03-02.md
  scripts/wire-blog-images.py
Due: none

chore: remove .claude/commands from git tracking
  .claude/commands/enrich-blog.md
Due: none

fix: add monthly granularity to blog archive sidebar
  mkdocs.yml
Due: none

chore: remove .claude/commands from git tracking (#583)
  .claude/commands/enrich-blog.md
Due: none

feat: extend design token system with wizard, viewer, and auth palette
  frontend/jwst-frontend/src/index.css
Due: prettier

feat: extend design token system with wizard, viewer, and auth palette (#585)
  frontend/jwst-frontend/src/index.css
Due: prettier

feat: tokenize wizard shell and stepper CSS (P1)
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/wizard/ImageFilterToolbar.css
  frontend/jwst-frontend/src/components/wizard/WizardStepper.css
Due: prettier

feat: tokenize DataCard and dashboard CSS (P7)
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.css
Due: prettier

feat: tokenize composite wizard step CSS (P2)
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelCard.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.css
Due: prettier

feat: tokenize comparison + region CSS (P8)
  frontend/jwst-frontend/src/components/ComparisonImagePicker.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
Due: prettier

feat: tokenize AuthPages CSS + auth sweep (P9)
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

feat: tokenize mosaic wizard step CSS (P3)
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
Due: prettier

refactor: replace hardcoded colors with design tokens in MastSearch and WhatsNewPanel CSS
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
Due: prettier

refactor: replace hardcoded colors with design tokens in viewer modal CSS
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/TableViewer.css
Due: prettier

refactor: replace hardcoded colors with design tokens in FITS viewer and tool panel CSS
  frontend/jwst-frontend/src/components/AnnotationOverlay.css
  frontend/jwst-frontend/src/components/CubeNavigator.css
  frontend/jwst-frontend/src/components/CurvesEditor.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/HistogramPanel.css
  frontend/jwst-frontend/src/components/StretchControls.css
Due: prettier

style: fix Prettier formatting in tokenized CSS files
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
Due: prettier

feat: tokenize wizard shell and stepper CSS (P1) (#586)
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/wizard/ImageFilterToolbar.css
  frontend/jwst-frontend/src/components/wizard/WizardStepper.css
Due: prettier

feat: tokenize DataCard and dashboard CSS (P7) (#587)
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.css
Due: prettier

feat: tokenize composite wizard step CSS (P2) (#588)
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelCard.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.css
Due: prettier

feat: tokenize comparison + region CSS (P8) (#589)
  frontend/jwst-frontend/src/components/ComparisonImagePicker.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
Due: prettier

feat: tokenize AuthPages CSS + auth sweep (P9) (#590)
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

feat: tokenize mosaic wizard step CSS (P3) (#591)
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
Due: prettier

refactor: tokenize MastSearch and WhatsNewPanel CSS colors (#592)
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
Due: prettier
