Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

refactor: consolidate button padding to 3 tiers (P19.3)
  docs/development-plan.md
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.tsx
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.tsx
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.css
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.css
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
  frontend/jwst-frontend/src/components/discovery/ObservationList.css
  frontend/jwst-frontend/src/components/discovery/ObservationList.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

refactor: consolidate button padding to 3 tiers (P19.3) (#607)
  docs/development-plan.md
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.tsx
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.tsx
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.css
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.css
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
  frontend/jwst-frontend/src/components/discovery/ObservationList.css
  frontend/jwst-frontend/src/components/discovery/ObservationList.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

refactor: enforce min-height standard (38px regular, 36px icon-only) (P19.4)
  docs/development-plan.md
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.tsx
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
Due: eslint, prettier

docs: add P19.5 and P19.6 tasks for remaining button standardization (#609, #610)
  docs/development-plan.md
Due: none

docs: add enriched blog post for 2026-03-03
  docs/blog/MILESTONES.md
  docs/blog/images/2026-03-03/image-2.png
  docs/blog/images/2026-03-03/image-3.png
  docs/blog/images/2026-03-03/image.png
  docs/blog/images/manifest.json
  docs/blog/posts/2026-03-03.md
Due: none

docs: add blog post title for 2026-03-03
  docs/blog/posts/2026-03-03.md
Due: none

fix: resolve SA1202 member ordering in JwstDataControllerTests
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
Due: none

fix: resolve SA1202 member ordering in JwstDataControllerTests (#612)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
Due: none

docs: add enriched blog post for 2026-03-03 (#611)
  docs/blog/MILESTONES.md
  docs/blog/images/2026-03-03/image-2.png
  docs/blog/images/2026-03-03/image-3.png
  docs/blog/images/2026-03-03/image.png
  docs/blog/images/manifest.json
  docs/blog/posts/2026-03-03.md
Due: none

refactor: enforce min-height standard (38px regular, 36px icon-only) (P19.4) (#608)
  docs/development-plan.md
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.tsx
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
Due: eslint, prettier

fix: add missing blank line between properties (SA1516)
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
Due: none

fix: add missing blank line between properties (SA1516) (#613)
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
Due: none

fix: resolve all 8 frontend lint warnings
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
Due: eslint, prettier

fix: resolve all 8 frontend lint warnings (#614)
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
Due: eslint, prettier

fix: show partial download failures as warnings instead of blocking errors
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: show partial download failures as warnings instead of blocking errors (#615)
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: pass recipe via Router state to skip redundant API calls
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: pass recipe via Router state to skip redundant API calls (#616)
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: add localStorage caching for searchByTarget and suggestRecipes
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
Due: eslint, prettier

feat: add LRU eviction and cache stats to localStorage cache
  frontend/jwst-frontend/src/utils/cacheUtils.test.ts
  frontend/jwst-frontend/src/utils/cacheUtils.ts
Due: eslint, prettier

fix: allow composite auto-assign with 2 selected images
  frontend/jwst-frontend/src/pages/CompositePage.tsx
Due: eslint, prettier

feat: bicolor compositing with synthetic green for 2-filter cases
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: allow composite auto-assign with 2 selected images (#620)
  frontend/jwst-frontend/src/pages/CompositePage.tsx
Due: eslint, prettier

feat: bicolor compositing with synthetic green for 2-filter cases (#621)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

chore: deploy from staging branch instead of main
  scripts/staging.sh
Due: none

chore: deploy from staging branch instead of main (#622)
  scripts/staging.sh
Due: none

feat: add localStorage caching for searchByTarget and suggestRecipes (#618)
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
