Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: correct E2E discovery error test expected text
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
Due: none

feat: shared image filter toolbar for composite creator (#550)
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/ImageFilterToolbar.css
  frontend/jwst-frontend/src/components/wizard/ImageFilterToolbar.test.tsx
  frontend/jwst-frontend/src/components/wizard/ImageFilterToolbar.tsx
  frontend/jwst-frontend/src/hooks/useImageFilters.test.ts
  frontend/jwst-frontend/src/hooks/useImageFilters.ts
Due: eslint, prettier

fix: auth bug, base controller extraction, 501 stubs, and perf improvements (#549)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/ApiControllerBase.cs
  backend/JwstDataAnalysis.API/Controllers/AuthController.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
Due: none

fix: include calibration level 2 in default MAST searches (#551)
  processing-engine/app/mast/models.py
Due: mypy

fix: include calibration level 2 in .NET MAST search defaults
  backend/JwstDataAnalysis.API/Models/MastModels.cs
Due: none

fix: include calibration level 2 in .NET MAST search defaults (#553)
  backend/JwstDataAnalysis.API/Models/MastModels.cs
Due: none

fix: guided discovery pipeline fails for Carina Nebula and wide-field targets
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/mast/mast_service.py
Due: eslint, prettier, mypy

fix: add SearchRadius to C# MastSearchParams model
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
Due: none

fix: use NGC 3324 for Carina Nebula target (actual ERO observation location)
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
Due: none

fix: revert download calibLevel to [3] for guided create
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

Add cloud storage evaluation for JWST data analysis deployment (#555)
  docs/cloud-storage-evaluation.md
Due: none

test: add dataproduct_type to E2E guided-create mock observations
  frontend/jwst-frontend/e2e/guided-create.spec.ts
Due: none

fix: guided discovery pipeline fails for Carina Nebula and wide-field targets (#554)
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/mast/mast_service.py
Due: eslint, prettier, mypy

fix: add pre-request token freshness check to prevent session expiry
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: add pre-request token freshness check to prevent session expiry (#556)
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

feat: add rotation controls and auto-apply adjustments to guided wizard result
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

test: add E2E coverage for guided create result step (step 3)
  frontend/jwst-frontend/e2e/guided-create.spec.ts
Due: none

feat: add rotation controls and auto-apply adjustments to guided wizard (#557)
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

feat: sidebar split layout for guided create result step
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

refactor: compact sidebar to fit viewport without scrolling
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

feat: sidebar split layout for guided create result step (#558)
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

fix: auth race condition in guided create when all data available
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: auth race condition in guided create when all data available (#559)
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: exclude coverage directory from Vite file watcher
  frontend/jwst-frontend/vite.config.ts
Due: none

fix: exclude coverage directory from Vite file watcher (#560)
  frontend/jwst-frontend/vite.config.ts
Due: none

chore: move exploration docs into docs/plans/exploration/
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  docs/key-files.md
  docs/plans/design/job-queue-websocket-progress.md
  docs/plans/exploration/cloud-storage-evaluation.md
  docs/plans/exploration/desktop-requirements.md
  mkdocs.yml
Due: none

chore: move exploration docs into docs/plans/exploration/ (#561)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  docs/key-files.md
  docs/plans/design/job-queue-websocket-progress.md
  docs/plans/exploration/cloud-storage-evaluation.md
  docs/plans/exploration/desktop-requirements.md
  mkdocs.yml
Due: none

chore: March 2026 git history audit and audit folder structure
  docs/audits/2026-01-31-git-history-audit.md
  docs/audits/2026-03-02-git-history-audit.md
  mkdocs.yml
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
