Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: wire draw-to-search — region URL flow, toolbar chip, unclippable note, region truncation banner
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.css
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.tsx
Due: eslint, prettier

test: e2e region deep link — clipped rows, removable chip, back to browse
  frontend/jwst-frontend/e2e/mast-search.spec.ts
Due: none

fix: normalise RA into [0,360) on region serialise; drop days window when a region bounds the search
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/utils/skyGeometry.test.ts
  frontend/jwst-frontend/src/utils/skyGeometry.ts
Due: eslint, prettier

feat: MAST Search v2 Phase 6 — draw-to-search (circle/polygon region on the sky map) (#1890)
  docs/plans/features/search-v2-draw.md
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.css
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.tsx
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.ts
  frontend/jwst-frontend/src/components/mast/map/SkyMap.css
  frontend/jwst-frontend/src/components/mast/map/SkyMap.test.tsx
  frontend/jwst-frontend/src/components/mast/map/SkyMap.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
  frontend/jwst-frontend/src/types/aladin-lite.ts
  frontend/jwst-frontend/src/utils/skyGeometry.test.ts
  frontend/jwst-frontend/src/utils/skyGeometry.ts
Due: eslint, prettier

fix: resolve curated recipes by display name and refuse unrenderable CE recipes
  docs/plans/features/community-edition-v1.md
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_recipe_engine.py
  processing-engine/tests/test_seed_ce.py
Due: mypy

fix: resolve curated recipes by display name and refuse unrenderable CE recipes (#1896)
  docs/plans/features/community-edition-v1.md
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_recipe_engine.py
  processing-engine/tests/test_seed_ce.py
Due: mypy

fix: stop region search hanging on multi-polygon footprints; keep map toolbar in its pane
  frontend/jwst-frontend/src/components/mast/map/SkyMap.css
  frontend/jwst-frontend/src/components/mast/map/footprints.test.ts
  frontend/jwst-frontend/src/components/mast/map/footprints.ts
Due: eslint, prettier

fix: stop region search hanging on multi-polygon footprints; keep map toolbar in its pane (#1900)
  frontend/jwst-frontend/src/components/mast/map/SkyMap.css
  frontend/jwst-frontend/src/components/mast/map/footprints.test.ts
  frontend/jwst-frontend/src/components/mast/map/footprints.ts
Due: eslint, prettier

chore: lift Dependabot open-PR cap on all five ecosystems
  .github/dependabot.yml
Due: none

chore: lift Dependabot open-PR cap on all five ecosystems (#1904)
  .github/dependabot.yml
Due: none

feat: sky map projection picker — Aitoff/Mollweide/Sphere, Aitoff by default
  docs/plans/features/search-v2-projections.md
  frontend/jwst-frontend/src/components/mast/map/SkyMap.css
  frontend/jwst-frontend/src/components/mast/map/SkyMap.test.tsx
  frontend/jwst-frontend/src/components/mast/map/SkyMap.tsx
Due: eslint, prettier

feat: sky map projection picker — Aitoff/Mollweide/Sphere, Aitoff by default (#1932)
  docs/plans/features/search-v2-projections.md
  frontend/jwst-frontend/src/components/mast/map/SkyMap.css
  frontend/jwst-frontend/src/components/mast/map/SkyMap.test.tsx
  frontend/jwst-frontend/src/components/mast/map/SkyMap.tsx
Due: eslint, prettier

fix: size the sky map's field of view to the projection, not a fixed 180°
  docs/plans/features/search-v2-projections-fov.md
  frontend/jwst-frontend/src/components/mast/map/SkyMap.test.tsx
  frontend/jwst-frontend/src/components/mast/map/SkyMap.tsx
Due: eslint, prettier

fix: size the sky map's field of view to the projection, not a fixed 180° (#1934)
  docs/plans/features/search-v2-projections-fov.md
  frontend/jwst-frontend/src/components/mast/map/SkyMap.test.tsx
  frontend/jwst-frontend/src/components/mast/map/SkyMap.tsx
Due: eslint, prettier

docs: document JWST_DATA_DIR in .env.example
  docker/.env.example
Due: none

docs: document JWST_DATA_DIR in .env.example (#1948)
  docker/.env.example
Due: none

docs: full-stack audit handoff (2026-08-25)
  docs/audits/2026-08-25-full-stack-audit-handoff.md
Due: none

docs: full-stack audit handoff (2026-08-25) (#1952)
  docs/audits/2026-08-25-full-stack-audit-handoff.md
Due: none

docs: onboard repo to the shared SDLC as public tier
  .claude/sdlc.json
  .gitignore
  AGENTS.md
  REVIEW.md
  docs/plans/intent/README.md
Due: none

feat: gate danger-zone paths instead of taxing every PR
  .claude/sdlc.json
  .github/scripts/danger-zone.js
  .github/workflows/danger-zone.yml
  AGENTS.md
  REVIEW.md
  docs/plans/design/sdlc-adoption.md
Due: none

docs: onboard repo to the shared SDLC (public tier) (#1958)
  .claude/sdlc.json
  .github/scripts/danger-zone.js
  .github/workflows/danger-zone.yml
  .gitignore
  AGENTS.md
  REVIEW.md
  docs/plans/design/sdlc-adoption.md
  docs/plans/intent/README.md
Due: none

fix: ignore every .env variant, not just names ending in .env
  .claude/sdlc.json
  .gitignore
  docs/plans/design/env-backup-gitignore.md
  docs/plans/features/env-backup-gitignore.md
Due: none

fix: remove stale ChannelCard from architecture diagram (fixes #1860)
  docs/architecture/frontend-architecture.md
Due: none

docs: align PR template and CONTRIBUTING with validate-pr.js
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

docs: align PR template and CONTRIBUTING with validate-pr.js (#1965)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

docs: make the PR standards check self-explanatory and locally runnable
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
  CONTRIBUTING.md
  scripts/README.md
Due: none

docs: make the PR standards check self-explanatory and locally runnable (#1966)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
  CONTRIBUTING.md
  scripts/README.md
Due: none

ci: add manual dispatch for Claude Code Review and skip fork PRs
  .github/workflows/claude-code-review.yml
  docs/plans/design/claude-review-manual-dispatch.md
  docs/plans/features/quick/claude-review-manual-dispatch.md
Due: none

docs: record that the review action skips itself on a modified workflow
  docs/plans/design/claude-review-manual-dispatch.md
  docs/plans/features/quick/claude-review-manual-dispatch.md
Due: none

ci: manual dispatch for Claude Code Review; skip fork PRs (#1967)
  .github/workflows/claude-code-review.yml
  docs/plans/design/claude-review-manual-dispatch.md
  docs/plans/features/quick/claude-review-manual-dispatch.md
Due: none

ci: accept owner-applied danger-approved label in the Danger Zone gate
  .claude/sdlc.json
  .github/scripts/danger-zone.cjs
  .github/scripts/danger-zone.js
  .github/scripts/danger-zone.test.cjs
  .github/workflows/danger-zone.yml
  AGENTS.md
  REVIEW.md
  docs/plans/design/danger-gate-owner-label.md
  docs/plans/features/quick/danger-gate-owner-label.md
Due: none

fix: remove stale ChannelCard from architecture diagram (fixes #1860) (#1963)
  docs/architecture/frontend-architecture.md
Due: none

ci: accept owner-applied danger-approved label in the Danger Zone gate (#1984)
  .claude/sdlc.json
  .github/scripts/danger-zone.cjs
  .github/scripts/danger-zone.js
  .github/scripts/danger-zone.test.cjs
  .github/workflows/danger-zone.yml
  AGENTS.md
  REVIEW.md
  docs/plans/design/danger-gate-owner-label.md
  docs/plans/features/quick/danger-gate-owner-label.md
Due: none

fix: ignore every .env variant, not just names ending in .env (#1962)
  .claude/sdlc.json
  .gitignore
  docs/plans/design/env-backup-gitignore.md
  docs/plans/features/env-backup-gitignore.md
Due: none

fix: harden MAST URI and local storage path validation
  docs/key-files.md
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/path_security.py
  processing-engine/app/storage/local_storage.py
  processing-engine/tests/test_mast_service_security.py
  processing-engine/tests/test_storage.py
Due: mypy

docs: plan bounded thumbnail queue back-pressure
  docs/plans/design/card-1104.md
  docs/plans/features/card-1104.md
Due: none

fix: bound thumbnail queue with async producer back-pressure
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/StartupScanBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailQueueTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/IThumbnailQueue.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/StartupScanBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailQueue.cs
  docs/architecture/backend-service-layer.md
  docs/architecture/concurrency-model.md
Due: none

docs: plan render zoom memory protection
  docs/plans/design/1105-zoom-memory-guard.md
  docs/plans/features/quick/1105-zoom-memory-guard.md
Due: none

docs: record thumbnail queue validation and occupancy behavior
  docs/architecture/concurrency-model.md
  docs/plans/design/card-1104.md
  docs/plans/features/card-1104.md
Due: none

fix: guard render downsampling against memory exhaustion
  processing-engine/app/diagnostics.py
  processing-engine/app/render/routes.py
  processing-engine/tests/test_render_memory.py
Due: mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
