Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: use synchronous composite endpoint for anonymous users (#539)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

docs: add OpenTelemetry observability roadmap (O-series)
  docs/development-plan.md
Due: none

docs: add OpenTelemetry observability roadmap (O-series) (#540)
  docs/development-plan.md
Due: none

chore: add staging server start/stop/deploy script
  scripts/staging.sh
Due: none

chore: add staging server start/stop/deploy script (#541)
  scripts/staging.sh
Due: none

docs: reorganize plans into design docs and exploration
  docs/development-plan.md
  docs/plans/design/color-mapping-research.md
  docs/plans/design/guided-discovery-experience.md
  docs/plans/design/job-queue-websocket-progress.md
  docs/plans/design/ux-specs/01-layout-shell-and-discovery-home.md
  docs/plans/design/ux-specs/02-target-detail-and-guided-creation.md
  docs/plans/exploration/processing-engine-scaling.md
  mkdocs.yml
Due: none

docs: reorganize plans into design docs and exploration (#542)
  docs/development-plan.md
  docs/plans/design/color-mapping-research.md
  docs/plans/design/guided-discovery-experience.md
  docs/plans/design/job-queue-websocket-progress.md
  docs/plans/design/ux-specs/01-layout-shell-and-discovery-home.md
  docs/plans/design/ux-specs/02-target-detail-and-guided-creation.md
  docs/plans/exploration/processing-engine-scaling.md
  mkdocs.yml
Due: none

docs: comprehensive architecture diagram update
  docs/architecture.md
Due: none

docs: comprehensive architecture diagram update (#543)
  docs/architecture.md
Due: none

refactor: simplify anonymous composite code and fix review findings
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/jwstDataService.ts
Due: eslint, prettier

refactor: simplify anonymous composite code and fix review findings (#544)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/jwstDataService.ts
Due: eslint, prettier

docs: split architecture diagrams into individual pages
  AGENTS.md
  docs/architecture.md
  docs/architecture/authentication-flow.md
  docs/architecture/backend-service-layer.md
  docs/architecture/data-lineage.md
  docs/architecture/discovery-recipe-flow.md
  docs/architecture/docker-compose.md
  docs/architecture/frontend-architecture.md
  docs/architecture/guidedcreate-flow.md
  docs/architecture/index.md
  docs/architecture/job-queue-signalr.md
  docs/architecture/local-upload-flow.md
  docs/architecture/mast-import-flow.md
  docs/architecture/mongodb-document.md
  docs/architecture/processing-engine.md
  docs/architecture/storage-layer.md
  docs/architecture/system-overview.md
  docs/index.md
  mkdocs.yml
Due: none

docs: split architecture diagrams into individual pages (#545)
  AGENTS.md
  docs/architecture.md
  docs/architecture/authentication-flow.md
  docs/architecture/backend-service-layer.md
  docs/architecture/data-lineage.md
  docs/architecture/discovery-recipe-flow.md
  docs/architecture/docker-compose.md
  docs/architecture/frontend-architecture.md
  docs/architecture/guidedcreate-flow.md
  docs/architecture/index.md
  docs/architecture/job-queue-signalr.md
  docs/architecture/local-upload-flow.md
  docs/architecture/mast-import-flow.md
  docs/architecture/mongodb-document.md
  docs/architecture/processing-engine.md
  docs/architecture/storage-layer.md
  docs/architecture/system-overview.md
  docs/index.md
  mkdocs.yml
Due: none

docs: split dense architecture diagrams into readable sub-diagrams
  docs/architecture/backend-service-layer.md
  docs/architecture/processing-engine.md
Due: none

docs: split dense architecture diagrams into readable sub-diagrams (#546)
  docs/architecture/backend-service-layer.md
  docs/architecture/processing-engine.md
Due: none

feat: polish guided discovery with retry, skeletons, and error states
  docs/development-plan.md
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: clean up job subscriptions on retry to prevent stale updates
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: polish guided discovery with retry, skeletons, and error states (#547)
  docs/development-plan.md
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

refactor: deduplicate frontend TS utilities and consolidate CSS keyframes
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/HistogramPanel.css
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.css
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.css
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/CompositePage.css
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.css
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/utils/observationUtils.ts
Due: eslint, prettier

fix: auth bug, extract base controller, 501 stubs, and perf improvements
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/ApiControllerBase.cs
  backend/JwstDataAnalysis.API/Controllers/AuthController.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
Due: none

fix: update E2E selectors after wizard-page CSS consolidation
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/mosaic-wizard.spec.ts
Due: none

feat: add shared image filter toolbar for composite creator pool
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/ImageFilterToolbar.css
  frontend/jwst-frontend/src/components/wizard/ImageFilterToolbar.test.tsx
  frontend/jwst-frontend/src/components/wizard/ImageFilterToolbar.tsx
  frontend/jwst-frontend/src/hooks/useImageFilters.test.ts
  frontend/jwst-frontend/src/hooks/useImageFilters.ts
Due: eslint, prettier

refactor: deduplicate frontend TS utilities and consolidate CSS keyframes (#548)
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/mosaic-wizard.spec.ts
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/HistogramPanel.css
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.css
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.css
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/CompositePage.css
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.css
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/utils/observationUtils.ts
Due: eslint, prettier

fix: correct E2E selector for discovery error state
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
Due: none

fix: include calibration level 2 in default MAST searches
  processing-engine/app/mast/models.py
Due: mypy

fix: correct E2E discovery error test selector and expected text
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
Due: none

fix: correct E2E discovery error test expected text
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
Due: none
