Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: show friendly message instead of raw nginx 502 page on gateway errors (#1683)
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
Due: eslint, prettier

fix: require confirmation before applying channel color in guided ResultStep
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

fix: replace native color input with inline hue slider in channel picker
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

fix: restore RGB control in channel color picker and preserve muted colors
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

fix: preserve export zoom/pan when rotating in the framing panel
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
Due: eslint, prettier

fix: guided color picker confirm/RGB + export rotation zoom fix (#1688)
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

feat: redesign Result-step rotation control as a stable segmented pill
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

test: update rotation-control E2E for always-present disabled Reset
  frontend/jwst-frontend/e2e/guided-create.spec.ts
Due: none

feat: redesign Result-step rotation control as a stable segmented pill (#1689)
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

feat: Python JWT validation dependency for engine routes (#1709 PR 1)
  docker/docker-compose.yml
  docs/plans/features/1709-calibration-recipes.md
  processing-engine/app/auth/deps.py
  processing-engine/tests/test_auth_deps.py
Due: mypy

feat: Python JWT validation dependency for engine routes (#1709 PR 1) (#1714)
  docker/docker-compose.yml
  docs/plans/features/1709-calibration-recipes.md
  processing-engine/app/auth/deps.py
  processing-engine/tests/test_auth_deps.py
Due: mypy

feat: Mongo-persisted job store, /api/jobs endpoints, engine CORS (#1709 PR 2)
  docker/docker-compose.yml
  processing-engine/app/jobs/models.py
  processing-engine/app/jobs/routes.py
  processing-engine/app/jobs/runner.py
  processing-engine/app/jobs/store.py
  processing-engine/main.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_jobs_store.py
Due: mypy

ci: MongoDB service container for Python Tests job
  .github/workflows/ci.yml
Due: none

feat: Mongo job store + /api/jobs endpoints + engine CORS (#1709 PR 2) (#1716)
  .github/workflows/ci.yml
  docker/docker-compose.yml
  processing-engine/app/jobs/models.py
  processing-engine/app/jobs/routes.py
  processing-engine/app/jobs/runner.py
  processing-engine/app/jobs/store.py
  processing-engine/main.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_jobs_store.py
Due: mypy

feat: CalibrationRecipe schema, seed gallery, CRUD API (#1709 PR 3)
  docs/plans/features/1709-calibration-recipes.md
  processing-engine/app/calibration/__init__.py
  processing-engine/app/calibration/models.py
  processing-engine/app/calibration/routes.py
  processing-engine/app/calibration/seeds/miri-imaging.json
  processing-engine/app/calibration/seeds/nircam-imaging.json
  processing-engine/app/calibration/seeds/niriss-imaging.json
  processing-engine/app/calibration/store.py
  processing-engine/main.py
  processing-engine/tests/test_calibration_recipes.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: CalibrationRecipe schema, seed gallery, CRUD API (#1709 PR 3) (#1717)
  docs/plans/features/1709-calibration-recipes.md
  processing-engine/app/calibration/__init__.py
  processing-engine/app/calibration/models.py
  processing-engine/app/calibration/routes.py
  processing-engine/app/calibration/seeds/miri-imaging.json
  processing-engine/app/calibration/seeds/nircam-imaging.json
  processing-engine/app/calibration/seeds/niriss-imaging.json
  processing-engine/app/calibration/store.py
  processing-engine/main.py
  processing-engine/tests/test_calibration_recipes.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: jwst pipeline dependency, calibration feature flag, CRDS wiring (#1709 PR 4)
  docker/.env.example
  docker/docker-compose.ce.yml
  docker/docker-compose.yml
  processing-engine/Dockerfile
  processing-engine/app/calibration/flags.py
  processing-engine/app/calibration/routes.py
  processing-engine/requirements-calibration.txt
  processing-engine/tests/test_calibration_flags.py
Due: mypy

test: make calibration flag tests environment-honest
  processing-engine/tests/test_calibration_flags.py
Due: mypy

feat: jwst dependency + calibration feature flag + CRDS wiring (#1709 PR 4) (#1718)
  docker/.env.example
  docker/docker-compose.ce.yml
  docker/docker-compose.yml
  processing-engine/Dockerfile
  processing-engine/app/calibration/flags.py
  processing-engine/app/calibration/routes.py
  processing-engine/requirements-calibration.txt
  processing-engine/tests/test_calibration_flags.py
Due: mypy

feat: stage-3 fast-path calibration executor (#1709 PR 5)
  processing-engine/app/calibration/executor.py
  processing-engine/app/calibration/routes.py
  processing-engine/pyproject.toml
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_calibration_smoke.py
Due: mypy

feat: stage-3 fast-path calibration executor (#1709 PR 5) (#1720)
  processing-engine/app/calibration/executor.py
  processing-engine/app/calibration/routes.py
  processing-engine/pyproject.toml
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_calibration_smoke.py
Due: mypy

feat: full uncal pipeline + MAST input source (#1709 PR 6)
  docker/.env.example
  docker/docker-compose.yml
  processing-engine/app/calibration/executor.py
  processing-engine/app/calibration/routes.py
  processing-engine/app/jobs/store.py
  processing-engine/tests/test_calibration_executor.py
Due: mypy

feat: full uncal pipeline + MAST input source (#1709 PR 6) (#1722)
  docker/.env.example
  docker/docker-compose.yml
  processing-engine/app/calibration/executor.py
  processing-engine/app/calibration/routes.py
  processing-engine/app/jobs/store.py
  processing-engine/tests/test_calibration_executor.py
Due: mypy

feat: calibration recipe gallery UI + engine-bound service (#1709 PR 7)
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/config/engine.ts
  frontend/jwst-frontend/src/pages/CalibrationGallery.css
  frontend/jwst-frontend/src/pages/CalibrationGallery.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/calibrationService.ts
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
Due: eslint, prettier

feat: calibration recipe gallery UI + engine-bound service (#1709 PR 7) (#1723)
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/config/engine.ts
  frontend/jwst-frontend/src/pages/CalibrationGallery.css
  frontend/jwst-frontend/src/pages/CalibrationGallery.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/calibrationService.ts
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
Due: eslint, prettier

feat: calibration run-config + live progress UI (#1709 PR 8)
  frontend/jwst-frontend/e2e/calibrate.spec.ts
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/hooks/useCalibrationJob.test.ts
  frontend/jwst-frontend/src/hooks/useCalibrationJob.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.css
  frontend/jwst-frontend/src/pages/CalibrationGallery.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  processing-engine/app/calibration/routes.py
  processing-engine/tests/test_calibration_executor.py
Due: eslint, prettier, mypy

feat: calibration run-config + live progress UI (#1709 PR 8) (#1724)
  frontend/jwst-frontend/e2e/calibrate.spec.ts
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/hooks/useCalibrationJob.test.ts
  frontend/jwst-frontend/src/hooks/useCalibrationJob.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.css
  frontend/jwst-frontend/src/pages/CalibrationGallery.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  processing-engine/app/calibration/routes.py
  processing-engine/tests/test_calibration_executor.py
Due: eslint, prettier, mypy

fix: E2E mock engine gains calibration routes + CORS
  tests/mock-processing-engine/server.py
Due: none

fix: E2E mock engine gains calibration routes + CORS (#1725)
  tests/mock-processing-engine/server.py
Due: none

ci: include E2E mock engine in the app paths filter
  .github/workflows/ci.yml
Due: none

fix: publish mock engine port 8000 in the E2E stack
  docker/docker-compose.e2e.yml
Due: none

ci: include E2E mock engine in the app paths filter (#1726)
  .github/workflows/ci.yml
  docker/docker-compose.e2e.yml
Due: none

feat: JWPipeNB notebook importer (#1709 PR 9)
  frontend/jwst-frontend/src/pages/CalibrationGallery.css
  frontend/jwst-frontend/src/pages/CalibrationGallery.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
  processing-engine/app/calibration/importer.py
  processing-engine/app/calibration/routes.py
  processing-engine/pyproject.toml
  processing-engine/tests/fixtures/jwpipenb/JWPipeNB-MIRI-imaging.ipynb
  processing-engine/tests/fixtures/jwpipenb/JWPipeNB-nircam-imaging.ipynb
  processing-engine/tests/fixtures/jwpipenb/JWPipeNB-niriss-imaging.ipynb
  processing-engine/tests/test_calibration_importer.py
  tests/mock-processing-engine/server.py
Due: eslint, prettier, mypy

feat: JWPipeNB notebook importer (#1709 PR 9) (#1728)
  frontend/jwst-frontend/src/pages/CalibrationGallery.css
  frontend/jwst-frontend/src/pages/CalibrationGallery.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
  processing-engine/app/calibration/importer.py
  processing-engine/app/calibration/routes.py
  processing-engine/pyproject.toml
  processing-engine/tests/fixtures/jwpipenb/JWPipeNB-MIRI-imaging.ipynb
  processing-engine/tests/fixtures/jwpipenb/JWPipeNB-nircam-imaging.ipynb
  processing-engine/tests/fixtures/jwpipenb/JWPipeNB-niriss-imaging.ipynb
  processing-engine/tests/test_calibration_importer.py
  tests/mock-processing-engine/server.py
Due: eslint, prettier, mypy

feat: library Reprocess action + docs sweep (#1709 PR 10)
  docs/architecture/adr/0001-collapse-to-python-single-backend.md
  docs/architecture/calibration-pipeline-flow.md
  docs/architecture/index.md
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/setup-guide.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  mkdocs.yml
Due: eslint, prettier

feat: library Reprocess action + docs sweep (#1709 PR 10) (#1729)
  docs/architecture/adr/0001-collapse-to-python-single-backend.md
  docs/architecture/calibration-pipeline-flow.md
  docs/architecture/index.md
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/setup-guide.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  mkdocs.yml
Due: eslint, prettier

test: de-flake TargetDetail authenticated-availability assertion
  frontend/jwst-frontend/src/pages/TargetDetail.test.tsx
Due: eslint, prettier

test: de-flake TargetDetail authenticated-availability assertion (#1732)
  frontend/jwst-frontend/src/pages/TargetDetail.test.tsx
Due: eslint, prettier

style: ruff format test_jobs_routes.py (CI lint fix)
  processing-engine/tests/test_jobs_routes.py
Due: mypy

fix: trap focus inside the preview lightbox (a11y)
  frontend/jwst-frontend/src/components/ui/ImagePreviewLightbox.test.tsx
  frontend/jwst-frontend/src/components/ui/ImagePreviewLightbox.tsx
  frontend/jwst-frontend/src/components/ui/Modal.test.tsx
  frontend/jwst-frontend/src/components/ui/Modal.tsx
  frontend/jwst-frontend/src/components/ui/README.md
  frontend/jwst-frontend/src/hooks/useFocusTrap.ts
Due: eslint, prettier
