Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: switch to By Target view in openImageViewer to fix 18 E2E skips (#794)
  frontend/jwst-frontend/e2e/helpers.ts
Due: none

fix: match server content detection in export framing preview
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
Due: eslint, prettier

fix: match server content detection in export framing preview (#795)
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
Due: eslint, prettier

fix: add scroll shadow indicators to all bounded scrollable panels
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.css
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.tsx
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.tsx
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

fix: add scroll shadow indicators to all bounded scrollable panels (#798)
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.css
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.tsx
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.tsx
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

fix: filter discovery search to L3 calibration level to match downloads
  backend/JwstDataAnalysis.API.Tests/Services/DiscoveryServiceAliasTests.cs
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
Due: eslint, prettier

fix: replace Rho Ophiuchi with NGC 346 in featured targets
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
Due: none

fix: filter discovery search to L3 calibration level to match downloads (#801)
  backend/JwstDataAnalysis.API.Tests/Services/DiscoveryServiceAliasTests.cs
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
Due: eslint, prettier

fix: deduplicate c-prefix mosaic vs o-prefix observations in recipe engine
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

perf: cache c-prefix availability checks and share thread pool
  processing-engine/app/discovery/routes.py
Due: mypy

fix: deduplicate c-prefix mosaic vs o-prefix observations in recipe engine (#803)
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: use recipe observation_ids to filter downloads instead of raw MAST results
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: use recipe observation_ids to filter downloads instead of raw MAST results (#804)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: improve recipe quality with curated NGC 346, Best-N selection, and wavelength pruning
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix: always prefer o-prefix observations over c-prefix in deduplication
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix: add cache bypass and admin utilities for debugging stale recipe data
  frontend/jwst-frontend/src/index.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
  frontend/jwst-frontend/src/utils/cacheUtils.ts
Due: eslint, prettier

feat: add observability logging across recipe-to-download flow
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/Services/DiscoveryService.cs
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/discoveryService.ts
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
Due: eslint, prettier, mypy

fix: filter recipe obs_ids to selected filters and clean up dead code
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: use double cast for window.jwst to satisfy strict TypeScript
  frontend/jwst-frontend/src/index.tsx
Due: eslint, prettier

fix: always prefer o-prefix observations over c-prefix in deduplication (#808)
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/Services/DiscoveryService.cs
  frontend/jwst-frontend/src/index.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
  frontend/jwst-frontend/src/utils/cacheUtils.ts
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: add focus-visible states to all interactive elements
  frontend/jwst-frontend/src/components/CubeNavigator.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/StretchControls.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/search/SemanticSearchBar.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/AuthPages.css
Due: prettier

fix: standardize disabled state styling across components
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.css
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.tsx
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

feat: add empty state for dashboard card list
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.css
  frontend/jwst-frontend/src/components/dashboard/LineageView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.css
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
Due: eslint, prettier

fix: UserMenu dropdown blends into dark background
  frontend/jwst-frontend/src/components/UserMenu.css
Due: prettier

fix: composite/mosaic ready state too subtle
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
Due: prettier

fix: add focus-visible states to all interactive elements (#821)
  frontend/jwst-frontend/src/components/CubeNavigator.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/StretchControls.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/search/SemanticSearchBar.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/AuthPages.css
Due: prettier

fix: standardize disabled state styling across components (#822)
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.css
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.tsx
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

feat: add empty state for dashboard card list (#823)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.css
  frontend/jwst-frontend/src/components/dashboard/LineageView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.css
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
