Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: quote ExcludeByFile glob pattern in CI to prevent shell expansion
  .github/workflows/ci.yml
Due: none

perf: lazy-load all page routes to split main bundle (#750)
  docs/audits/2026-03-08-codebase-review.md
  docs/development-plan.md
  frontend/jwst-frontend/src/App.tsx
Due: eslint, prettier

fix: use %2c separator in ExcludeByFile to avoid MSBuild arg splitting
  .github/workflows/ci.yml
Due: none

fix: invalidate stale recipe cache after spatial overlap update (#765)
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
Due: eslint, prettier

chore: add coverlet exclusions for generated .NET backend code (#766)
  .github/workflows/ci.yml
  backend/coverlet.runsettings
Due: none

perf: lazy-load all page routes to split main bundle (#750) (#767)
  docs/audits/2026-03-08-codebase-review.md
  docs/development-plan.md
  frontend/jwst-frontend/src/App.tsx
Due: eslint, prettier

docs: update March 9 blog with spatial overlap and bundle optimization
  docs/blog/posts/2026-03-09.md
Due: none

docs: update March 9 blog with spatial overlap and bundle optimization (#768)
  docs/blog/posts/2026-03-09.md
Due: none

ci: add docs-only fast path with detect-changes gate
  .github/workflows/ci.yml
Due: none

ci: add docs-only fast path with detect-changes gate (#769)
  .github/workflows/ci.yml
Due: none

fix: correct SignalR long-polling mock to match LongPollingTransport protocol
  frontend/jwst-frontend/e2e/guided-create.spec.ts
Due: none

fix: correct SignalR long-polling mock to match LongPollingTransport protocol (#770)
  frontend/jwst-frontend/e2e/guided-create.spec.ts
Due: none

perf: convert blocking async handlers to sync for thread-pool execution
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/discovery/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/main.py
Due: mypy

perf: also convert perform_basic_analysis to sync
  processing-engine/app/processing/analysis.py
Due: mypy

docs: add dashboard screenshot for README
  docs/images/screenshot-dashboard.png
Due: none

docs: fix capture-screenshots.sh to use playwright-cli correctly
  .gitignore
  docs/images/screenshot-dashboard.png
  docs/images/screenshot-login.png
  scripts/README.md
  scripts/capture-screenshots.sh
Due: none

docs: add dashboard screenshot for README (#772)
  .gitignore
  docs/images/screenshot-dashboard.png
  docs/images/screenshot-login.png
  scripts/README.md
  scripts/capture-screenshots.sh
Due: none

perf: convert blocking async handlers to sync for thread-pool execution (#771)
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/discovery/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/processing/analysis.py
  processing-engine/main.py
Due: mypy

fix: auto-crop black borders from composite images
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

fix: add 60s timeout to background estimation in source detection
  processing-engine/app/analysis/routes.py
Due: mypy

fix: auto-crop black borders from composite images (#773)
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

fix: add 60s timeout to background estimation in source detection (#774)
  processing-engine/app/analysis/routes.py
Due: mypy

fix: route composite/mosaic services through apiClient for token refresh
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/services/mosaicService.test.ts
  frontend/jwst-frontend/src/services/mosaicService.ts
  frontend/jwst-frontend/src/services/signalRService.ts
Due: eslint, prettier

ci: pin .NET SDK to 10.0.200 to fix CI download failure
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

ci: pin .NET SDK to 10.0.200 to fix CI download failure (#776)
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: filter non-science observations from recipe generation
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix: route composite/mosaic services through apiClient for token refresh (#775)
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/services/mosaicService.test.ts
  frontend/jwst-frontend/src/services/mosaicService.ts
  frontend/jwst-frontend/src/services/signalRService.ts
Due: eslint, prettier

fix: filter non-science observations from recipe generation (#778)
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy
