Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: gate window.jwst debug globals behind import.meta.env.DEV (#1086)
  frontend/jwst-frontend/src/index.tsx
Due: eslint, prettier

fix: restore named TTL constants for cache readability
  processing-engine/app/mast/routes.py
Due: mypy

fix: add cachetools to requirements-mast.txt for mast-proxy container
  processing-engine/requirements-mast.txt
Due: none

fix: replace hand-rolled caches with TTLCache in mast/routes.py (#1087)
  processing-engine/app/mast/routes.py
  processing-engine/requirements-mast.txt
  processing-engine/requirements.txt
Due: mypy

refactor: split composite route god function into focused pipeline stages (#963, #1002)
  docs/plans/features/963-1002-composite-route-refactor.md
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

refactor: split composite route god function into focused pipeline stages (#963, #1002) (#1091)
  docs/plans/features/963-1002-composite-route-refactor.md
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

feat: expose unsharp masking in composite pipeline (#683)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

fix: address code-reviewer findings on unsharp-mask PR
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

feat: expose unsharp masking in composite pipeline (#683) (#1129)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

fix: enable gentle sharpening in the Auto composite preset
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

fix: enable gentle sharpening in the Auto composite preset (#1130)
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

feat: elapsed-time stage progression in composite ProcessStep
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
Due: eslint, prettier

feat: elapsed-time stage progression in composite ProcessStep (#1133)
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
Due: eslint, prettier

chore(deps): bump react and react-dom to 19.2.5
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
Due: none

ci: harden Dependabot — exempt body checks, group react, set commit prefixes
  .github/dependabot.yml
  .github/scripts/validate-pr.js
Due: none

docs: update stale documentation across 10 reference files
  docs/architecture/discovery-recipe-flow.md
  docs/architecture/docker-compose.md
  docs/key-files.md
  docs/quick-reference.md
  docs/setup-guide.md
  docs/standards/backend-development.md
  docs/standards/development-workflow.md
  docs/standards/docker-deployment.md
  docs/standards/frontend-development.md
  docs/standards/processing-engine.md
Due: none

docs: update stale documentation across 10 reference files (#1150)
  docs/architecture/discovery-recipe-flow.md
  docs/architecture/docker-compose.md
  docs/key-files.md
  docs/quick-reference.md
  docs/setup-guide.md
  docs/standards/backend-development.md
  docs/standards/development-workflow.md
  docs/standards/docker-deployment.md
  docs/standards/frontend-development.md
  docs/standards/processing-engine.md
Due: none

fix: security quick wins — password complexity, private-by-default, proxy trust
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  docker/.env.example
  docs/architecture/security-model.md
Due: none

fix: add security changes to backend code
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/AuthModels.cs
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/AuthService.cs
Due: none

fix: update E2E test passwords to meet new complexity requirements
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
Due: none

fix: update remaining E2E auth test passwords for complexity validation
  frontend/jwst-frontend/e2e/auth.spec.ts
Due: none

ci: harden Dependabot — exempt body checks, group react, set commit prefixes (#1135)
  .github/dependabot.yml
  .github/scripts/validate-pr.js
Due: none

chore(deps): bump react and react-dom to 19.2.5 (#1134)
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
Due: none

fix: show password requirements on registration page before submission
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/RegisterPage.test.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: security quick wins — password complexity, private-by-default, proxy trust (#1151)
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/AuthModels.cs
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  docker/.env.example
  docs/architecture/security-model.md
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/RegisterPage.test.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: prevent data enumeration via analysis and composite endpoints
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
Due: none

fix: make NotFound messages identical to prevent enumeration, restore AllowAnonymous on composite generate
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
Due: none

fix: standardize composite NotFound message, add enumeration indistinguishability tests
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
Due: none

fix: address review findings — mosaic message mismatch, indistinguishability tests, docs
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  docs/architecture/security-model.md
Due: none

fix(e2e): use complexity-valid passwords in mismatch test
  frontend/jwst-frontend/e2e/auth.spec.ts
Due: none

fix: prevent data enumeration via analysis and composite endpoints (#1174)
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  docs/architecture/security-model.md
  frontend/jwst-frontend/e2e/auth.spec.ts
Due: none

fix: guard normalize_array() against empty and all-NaN arrays
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_utils.py
Due: mypy

fix: guard normalize_array() against empty and all-NaN arrays (#1176)
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_utils.py
Due: mypy

fix: validate max_pixels and array dimensions in downscale_for_composite
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
Due: mypy

fix: include SharedWith data in search results
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
Due: none

fix: apply limit after offset in MAST service pagination
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_mast_pagination.py
Due: mypy

fix: handle race condition when accessing partial file mtime
  processing-engine/app/mast/download_state_manager.py
  processing-engine/tests/test_download_state_manager.py
Due: mypy

fix: validate coordinate bounds in region mask creation
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_region_statistics.py
Due: mypy

fix: validate required fields in resolve_s3_keys_from_products
  processing-engine/app/mast/s3_resolver.py
  processing-engine/tests/test_s3_resolver.py
Due: mypy

fix: guard against NaN scores and empty results in similarity search
  processing-engine/app/semantic/embedding_service.py
  processing-engine/tests/test_embedding_service.py
Due: mypy
