Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: Resolve 14 pre-existing ESLint warnings
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/compositeService.ts
Due: eslint, prettier

feat: Add angular scale bar to FITS viewer (D4)
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/WcsGridOverlay.css
  frontend/jwst-frontend/src/components/WcsGridOverlay.tsx
  frontend/jwst-frontend/src/utils/wcsGridUtils.ts
Due: eslint, prettier

docs: Mark D3, D4, D5 as completed in development plan
  docs/development-plan.md
Due: none

docs: Update CLAUDE.md with comprehensive current state
  CLAUDE.md
Due: none

feat: Add comprehensive idea capture system
  CLAUDE.md
  docs/feature-ideas.md
  docs/idea-capture-guide.md
  scripts/README.md
  scripts/add-idea.sh
  scripts/quick-idea.sh
Due: none

docs: Slim CLAUDE.md from 50KB to 26KB, add cloud session instructions
  CLAUDE.md
  docs/key-files.md
  docs/quick-reference.md
Due: none

docs: Comprehensive documentation review and fixes across 14 files
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
  CLAUDE.md
  README.md
  docs/bugs.md
  docs/development-plan.md
  docs/idea-capture-guide.md
  docs/setup-guide.md
  docs/tech-debt.md
  docs/workflows/create-feature.md
  docs/workflows/fix-bug.md
  docs/workflows/resolve-tech-debt.md
  mkdocs.yml
Due: none

docs: Remove fictional week estimates from development plan phases
  docs/development-plan.md
Due: none

docs: Standardize checkboxes and enable tasklist extension
  docs/development-plan.md
  mkdocs.yml
Due: none

docs: Slim CLAUDE.md from 50KB to 26KB, add cloud session instructions (#204)
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
  CLAUDE.md
  README.md
  docs/bugs.md
  docs/development-plan.md
  docs/idea-capture-guide.md
  docs/key-files.md
  docs/quick-reference.md
  docs/setup-guide.md
  docs/tech-debt.md
  docs/workflows/create-feature.md
  docs/workflows/fix-bug.md
  docs/workflows/resolve-tech-debt.md
  mkdocs.yml
Due: none

docs: Reorganize tech-debt.md into ordered Remaining/Resolved sections
  docs/tech-debt.md
Due: none

docs: Rewrite setup guide to match current project state
  docs/setup-guide.md
Due: none

docs: Add seed account cleanup to pre-production checklist
  CLAUDE.md
Due: none

docs: Mark completed Phase 4 deliverables in development plan
  docs/development-plan.md
Due: none

docs: Remove unused workflow files, simplify CLAUDE.md
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
  CLAUDE.md
  docs/tech-debt.md
  docs/workflows/create-feature.md
  docs/workflows/fix-bug.md
  docs/workflows/resolve-tech-debt.md
  mkdocs.yml
Due: none

fix: Resolve all backend build warnings (SA1516, CA1848)
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/AnalysisModels.cs
  backend/JwstDataAnalysis.API/Services/MastService.Log.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  backend/JwstDataAnalysis.API/Services/SeedDataService.Log.cs
  backend/JwstDataAnalysis.API/Services/SeedDataService.cs
Due: none

feat: Add AVM metadata embedding on export (D6)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  processing-engine/app/processing/avm.py
  processing-engine/main.py
  processing-engine/tests/test_avm_embedding.py
Due: eslint, prettier, mypy

fix: Reorder backend members per StyleCop SA1202/SA1204 (Tech Debt #77+#78)
  backend/.editorconfig
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
Due: none

docs: Update tracking docs for session 2026-02-07
  CLAUDE.md
  docs/development-plan.md
  docs/tech-debt.md
Due: none

feat: Make metadata sidebar panel collapsible in ImageViewer
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

feat: Add vertical "Metadata" label to collapsed sidebar
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

feat: Default metadata panel to collapsed on entry
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
