Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: presigned URL redirects for S3 file downloads and lifecycle policy
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  docs/development-plan.md
  scripts/apply-s3-lifecycle.sh
  scripts/s3-lifecycle-policy.json
Due: none

feat: presigned URL redirects, S3 bug fixes & lifecycle policy (#393)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/Storage/IStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/S3StorageProvider.cs
  docs/development-plan.md
  processing-engine/Dockerfile
  processing-engine/app/mast/routes.py
  scripts/apply-s3-lifecycle.sh
  scripts/s3-lifecycle-policy.json
Due: mypy

fix: remove overly restrictive file size limit from viewer endpoints
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  processing-engine/main.py
Due: eslint, prettier, mypy

fix: remove overly restrictive file size limit from viewer endpoints (#394)
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  processing-engine/main.py
Due: eslint, prettier, mypy

fix: propagate actual MAST errors instead of generic 503
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
Due: none

fix: propagate actual MAST errors instead of generic 503 (#395)
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
Due: none

fix: use MAST cloud API for S3 key resolution instead of manual path construction
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
Due: mypy

fix: use MAST cloud API for S3 key resolution instead of manual path construction (#396)
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
Due: mypy

docs: update development roadmap to reflect current project state
  docs/development-plan.md
  docs/standards/project-overview.md
Due: none

docs: fix stale documentation across 13 files
  docs/architecture.md
  docs/git-history-audit.md
  docs/index.md
  docs/mast-usage.md
  docs/quick-reference.md
  docs/setup-guide.md
  docs/standards/backend-development.md
  docs/standards/database-models.md
  docs/standards/development-workflow.md
  docs/standards/docker-deployment.md
  docs/standards/frontend-development.md
  docs/standards/processing-engine.md
  docs/tech-debt.md
Due: none

docs: update development roadmap to reflect current project state (#397)
  docs/development-plan.md
  docs/standards/project-overview.md
Due: none

docs: fix stale documentation across 13 files (#398)
  docs/architecture.md
  docs/git-history-audit.md
  docs/index.md
  docs/mast-usage.md
  docs/quick-reference.md
  docs/setup-guide.md
  docs/standards/backend-development.md
  docs/standards/database-models.md
  docs/standards/development-workflow.md
  docs/standards/docker-deployment.md
  docs/standards/frontend-development.md
  docs/standards/processing-engine.md
  docs/tech-debt.md
Due: none

fix: use fence_mermaid_format for Mermaid diagram rendering in MkDocs
  mkdocs.yml
Due: none

fix: use fence_mermaid_format for Mermaid diagram rendering in MkDocs (#399)
  mkdocs.yml
Due: none

fix: close mermaid code fences and revert mkdocs.yml misfix
  docs/architecture.md
  mkdocs.yml
Due: none

fix: close mermaid code fences and revert mkdocs.yml misfix (#400)
  docs/architecture.md
  mkdocs.yml
Due: none

fix: use dark-theme-friendly colors for Data Lineage diagram
  docs/architecture.md
Due: none

fix: use dark-theme-friendly colors for Data Lineage diagram (#401)
  docs/architecture.md
Due: none

chore: update AWSSDK.S3 to 4.0.18.6
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
Due: none

chore: update AWSSDK.S3 to 4.0.18.6 (#402)
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
Due: none

fix: prevent auth token expiry during long-running operations (#403)
  backend/JwstDataAnalysis.API.Tests/Services/AuthServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/JwtSettings.cs
  backend/JwstDataAnalysis.API/Models/UserModels.cs
  backend/JwstDataAnalysis.API/Services/AuthService.Log.cs
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  frontend/jwst-frontend/src/context/AuthContext.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/index.ts
Due: eslint, prettier

feat: extend access token to 60 minutes and add visibility-based refresh
  backend/JwstDataAnalysis.API/Configuration/JwtSettings.cs
  backend/JwstDataAnalysis.API/appsettings.json
  frontend/jwst-frontend/src/context/AuthContext.tsx
Due: eslint, prettier

fix: use background refresh after archive/unarchive instead of full reload
  frontend/jwst-frontend/src/App.tsx
Due: eslint, prettier

feat: add per-file archive button to lineage view
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
Due: eslint, prettier

fix: background refresh after data mutations + per-file archive in lineage view (#406)
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
Due: eslint, prettier

feat: add archiving animation feedback to file cards
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.css
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
Due: eslint, prettier

feat: add archiving animation feedback to file cards (#407)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.css
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
