Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: Add guards and logging to curves canvas LUT application
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

fix: Curves overlay disappears when switching from Linear to preset
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

fix: Add clock skew tolerance to JWT validation to prevent premature session expiry
  backend/JwstDataAnalysis.API.Tests/Services/JwtTokenServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/JwtSettings.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/JwtTokenService.cs
  backend/JwstDataAnalysis.API/appsettings.json
Due: none

fix: Separate collapse state for Stretched and Raw Data histogram panels
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

fix: Equal left/right margins on auth page form inputs
  frontend/jwst-frontend/src/pages/AuthPages.css
Due: prettier

feat: Add JWST background image to auth pages
  frontend/jwst-frontend/src/assets/jwst-background.png
  frontend/jwst-frontend/src/pages/AuthPages.css
Due: prettier

feat: Collapsible file tree with grouped prefixes in MAST import progress
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
Due: eslint, prettier

docs: add AGENTS guidance and align CLAUDE workflow
  AGENTS.md
  CLAUDE.md
Due: none

docs: require branch and PR for idea capture flows
  docs/feature-ideas.md
  docs/idea-capture-guide.md
Due: none

docs: standardize workflow docs and add consistency checks
  .github/workflows/ci.yml
  README.md
  docs/architecture.md
  docs/desktop-requirements.md
  docs/development-plan.md
  docs/feature-ideas.md
  docs/git-history-audit.md
  docs/idea-capture-guide.md
  docs/quick-reference.md
  docs/standards/development-workflow.md
  docs/standards/project-overview.md
  docs/tech-debt.md
  scripts/README.md
  scripts/check-docs-consistency.sh
Due: none

feat: support per-channel RGB params and composite access checks
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  docs/quick-reference.md
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

feat: add levels and curves controls to RGB composite wizard
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/desktop-requirements.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  docs/standards/frontend-development.md
  frontend/jwst-frontend/src/components/StretchControls.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

feat: add WCS alignment and overall stretch controls to RGB composite
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/desktop-requirements.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  docs/standards/frontend-development.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

fix: make composite wizard controls fully scrollable
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
Due: prettier

fix: apply ruff formatting to composite routes
  processing-engine/app/composite/routes.py
Due: mypy

feat: improve mosaic wizard controls and export settings
  docs/desktop-requirements.md
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/types/MosaicTypes.ts
Due: eslint, prettier

chore: auto-format staged frontend files in pre-commit
  .githooks/pre-commit
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

docs: update hook setup messaging for auto-format
  scripts/setup-hooks.sh
Due: none

chore: enforce PR standards in CI
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
  .github/workflows/pr-standards.yml
  CONTRIBUTING.md
Due: none

chore: enforce tech debt handling in PR standards
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
  CONTRIBUTING.md
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
