Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

test: cover the resume-watching recovery path on the run page
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
Due: eslint, prettier

fix: CI pin drift, stale pip cache, broken bcrypt pairing, shared nginx zone
  .github/workflows/ci.yml
  .github/workflows/composite-memory-test.yml
  frontend/jwst-frontend/nginx-ce.conf
  processing-engine/requirements.txt
Due: none

fix: anonymous bulk import, pill count, context churn, empty state, null filters
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
  frontend/jwst-frontend/src/context/ActiveImportsContext.tsx
  frontend/jwst-frontend/src/hooks/useActiveImports.test.ts
  frontend/jwst-frontend/src/hooks/useActiveImports.ts
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.test.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
Due: eslint, prettier

fix: viewer token refresh, polling-timeout ghosts, back-to-back imports, framing
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.test.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.test.ts
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/services/ApiError.ts
Due: eslint, prettier

fix: OOM reporting, unguarded FITS endpoints, and duplicate-key scan noise
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  docs/architecture/concurrency-model.md
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/render/routes.py
  processing-engine/app/storage/helpers.py
  processing-engine/tests/test_mosaic_engine.py
  processing-engine/tests/test_region_statistics.py
Due: mypy

fix: point the calibration wizard at recipes that fetch their own data
  frontend/jwst-frontend/src/pages/CalibrateNew.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.tsx
Due: eslint, prettier

fix: TableViewer ECSV numeric alignment and CSV filename (#1809)
  frontend/jwst-frontend/src/components/TableViewer.test.tsx
  frontend/jwst-frontend/src/components/TableViewer.tsx
Due: eslint, prettier

fix: calibration UI resilience — partial loads, polling retry, thumbnail fallback (#1811)
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/hooks/useCalibrationJob.test.ts
  frontend/jwst-frontend/src/hooks/useCalibrationJob.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrationAttempts.css
  frontend/jwst-frontend/src/pages/CalibrationAttempts.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationAttempts.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
Due: eslint, prettier

fix: import job ownership, ID-space conflation and cancel lifecycle (#1812)
  backend/JwstDataAnalysis.API.Tests/Controllers/JobsControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/IImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
Due: none

fix: CI pin drift, stale pip cache, broken bcrypt pairing, shared nginx zone (#1817)
  .github/workflows/ci.yml
  .github/workflows/composite-memory-test.yml
  frontend/jwst-frontend/nginx-ce.conf
  processing-engine/requirements.txt
Due: none

fix: anonymous bulk import, pill count, context churn, empty state, null filters (#1818)
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
  frontend/jwst-frontend/src/context/ActiveImportsContext.tsx
  frontend/jwst-frontend/src/hooks/useActiveImports.test.ts
  frontend/jwst-frontend/src/hooks/useActiveImports.ts
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.test.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
Due: eslint, prettier

fix: surface real API errors instead of raw JSON, XML bodies and silence (#1815)
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
Due: eslint, prettier

fix: OOM reporting, unguarded FITS endpoints, and duplicate-key scan noise (#1820)
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  docs/architecture/concurrency-model.md
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/render/routes.py
  processing-engine/app/storage/helpers.py
  processing-engine/tests/test_mosaic_engine.py
  processing-engine/tests/test_region_statistics.py
Due: mypy

fix: point the calibration wizard at recipes that fetch their own data (#1821)
  frontend/jwst-frontend/src/pages/CalibrateNew.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.tsx
Due: eslint, prettier

fix: viewer token refresh, polling-timeout ghosts, back-to-back imports, framing (#1819)
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.test.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.test.ts
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/services/ApiError.ts
Due: eslint, prettier

fix: harden calibration executor env vars, gz outputs and output sizing
  processing-engine/app/calibration/executor.py
  processing-engine/app/config.py
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_config_env_helpers.py
Due: mypy

fix: atomic RUNNING transition and filter-wide seed-gate availability
  processing-engine/app/jobs/store.py
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_jobs_store.py
  processing-engine/tests/test_seed_ce.py
Due: mypy

fix: job storage reaping, tracker cache growth, mosaic privileges, register race
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/AuthServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobReaperBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/LocalStorageProviderTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  backend/JwstDataAnalysis.API/Services/IJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JobReaperBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  backend/JwstDataAnalysis.API/Services/Storage/IStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/S3StorageProvider.cs
Due: none

feat: opt-in all-users run listing so admins can find the runs they can open
  frontend/jwst-frontend/src/pages/CalibrationRuns.css
  frontend/jwst-frontend/src/pages/CalibrationRuns.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  processing-engine/app/jobs/routes.py
  processing-engine/app/jobs/store.py
  processing-engine/tests/test_jobs_routes.py
Due: eslint, prettier, mypy

fix: harden calibration executor env vars, gz outputs and output sizing (#1810)
  processing-engine/app/calibration/executor.py
  processing-engine/app/config.py
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_config_env_helpers.py
Due: mypy

fix: atomic RUNNING transition and filter-wide seed-gate availability (#1814)
  processing-engine/app/jobs/store.py
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_jobs_store.py
  processing-engine/tests/test_seed_ce.py
Due: mypy

fix: job storage reaping, tracker cache growth, mosaic privileges, register race (#1816)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/AuthServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobReaperBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/LocalStorageProviderTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  backend/JwstDataAnalysis.API/Services/IJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JobReaperBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  backend/JwstDataAnalysis.API/Services/Storage/IStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/S3StorageProvider.cs
Due: none

feat: opt-in all-users run listing so admins can find the runs they can open (#1822)
  frontend/jwst-frontend/src/pages/CalibrationRuns.css
  frontend/jwst-frontend/src/pages/CalibrationRuns.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  processing-engine/app/jobs/routes.py
  processing-engine/app/jobs/store.py
  processing-engine/tests/test_jobs_routes.py
Due: eslint, prettier, mypy

fix: stop client-supplied headers keying the rate limiter
  backend/JwstDataAnalysis.API.Tests/Configuration/Ipv4MappedRateLimitConfigurationTests.cs
  backend/JwstDataAnalysis.API/Configuration/Ipv4MappedRateLimitConfiguration.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docs/plans/features/quick/1615-rate-limit-ipv6-mapped-whitelist.md
Due: none

fix: stop client-supplied headers keying the rate limiter (#1823)
  backend/JwstDataAnalysis.API.Tests/Configuration/Ipv4MappedRateLimitConfigurationTests.cs
  backend/JwstDataAnalysis.API/Configuration/Ipv4MappedRateLimitConfiguration.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docs/plans/features/quick/1615-rate-limit-ipv6-mapped-whitelist.md
Due: none

fix: parse WCS with astropy so the sky readout is right for JWST images
  docs/plans/features/quick/s3-astropy-wcs.md
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  processing-engine/app/processing/avm.py
  processing-engine/app/render/routes.py
  processing-engine/app/science/__init__.py
  processing-engine/app/science/wcs.py
  processing-engine/tests/test_avm_embedding.py
  processing-engine/tests/test_science_wcs.py
Due: eslint, prettier, mypy

docs: correct extract_wcs_for_avm docstring after the astropy rewrite
  processing-engine/app/processing/avm.py
Due: mypy

fix: parse WCS with astropy so the sky readout is right for JWST images (S3) (#1827)
  docs/plans/features/quick/s3-astropy-wcs.md
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  processing-engine/app/processing/avm.py
  processing-engine/app/render/routes.py
  processing-engine/app/science/__init__.py
  processing-engine/app/science/wcs.py
  processing-engine/tests/test_avm_embedding.py
  processing-engine/tests/test_science_wcs.py
Due: eslint, prettier, mypy

fix: close three WCS gaps left open by S3
  frontend/jwst-frontend/src/utils/coordinateUtils.test.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.ts
  processing-engine/app/composite/routes.py
  processing-engine/app/render/routes.py
  processing-engine/app/science/wcs.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_science_wcs.py
Due: eslint, prettier, mypy

fix: close three WCS gaps left open by S3 (#1840)
  frontend/jwst-frontend/src/utils/coordinateUtils.test.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.ts
  processing-engine/app/composite/routes.py
  processing-engine/app/render/routes.py
  processing-engine/app/science/wcs.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_science_wcs.py
Due: eslint, prettier, mypy

chore: delete unused refreshAuth from AuthContext
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/types/AuthTypes.ts
Due: eslint, prettier

chore: delete unreferenced ui/Progress and ui/Tooltip
  frontend/jwst-frontend/src/components/ui/Progress.css
  frontend/jwst-frontend/src/components/ui/Progress.tsx
  frontend/jwst-frontend/src/components/ui/README.md
  frontend/jwst-frontend/src/components/ui/Tooltip.css
  frontend/jwst-frontend/src/components/ui/Tooltip.tsx
Due: eslint, prettier

chore: delete unused refreshAuth from AuthContext (#1846)
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/types/AuthTypes.ts
Due: eslint, prettier

chore: delete unreferenced wizard/ChannelCard
  frontend/jwst-frontend/src/components/wizard/ChannelCard.css
  frontend/jwst-frontend/src/components/wizard/ChannelCard.tsx
Due: eslint, prettier

chore: delete unreachable CompositeWizard component
  frontend/jwst-frontend/src/components/CompositeWizard.test.tsx
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
Due: eslint, prettier

chore: delete unreferenced ui/Progress and ui/Tooltip (#1848)
  frontend/jwst-frontend/src/components/ui/Progress.css
  frontend/jwst-frontend/src/components/ui/Progress.tsx
  frontend/jwst-frontend/src/components/ui/README.md
  frontend/jwst-frontend/src/components/ui/Tooltip.css
  frontend/jwst-frontend/src/components/ui/Tooltip.tsx
Due: eslint, prettier

chore: delete unreachable MosaicWizard component
  frontend/jwst-frontend/src/components/MosaicWizard.test.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

chore: delete unreferenced wizard/ImageSelectionStep
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.tsx
Due: eslint, prettier

chore: delete unused colormaps util and pages barrel
  frontend/jwst-frontend/src/pages/index.test.ts
  frontend/jwst-frontend/src/pages/index.ts
  frontend/jwst-frontend/src/utils/colormaps.test.ts
  frontend/jwst-frontend/src/utils/colormaps.ts
Due: eslint, prettier

chore: delete unreferenced wizard/ChannelCard (#1849)
  frontend/jwst-frontend/src/components/wizard/ChannelCard.css
  frontend/jwst-frontend/src/components/wizard/ChannelCard.tsx
Due: eslint, prettier
