Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: enable resume from processing engine download job IDs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  frontend/jwst-frontend/src/components/MastSearch.tsx
Due: eslint, prettier

fix: deduplicate resumable downloads panel by obs_id
  processing-engine/app/mast/download_state_manager.py
Due: mypy

fix: use disk-based state lookup for resume from download job ID
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
Due: none

fix: add input validation for numeric parameters on preview/histogram endpoints
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  docs/tech-debt.md
  processing-engine/main.py
  processing-engine/requirements.txt
  processing-engine/tests/test_validation.py
Due: mypy

fix: add input validation on numeric parameters for viewer endpoints (Task #57)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerViewerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  docs/tech-debt.md
  processing-engine/main.py
  processing-engine/pyproject.toml
  processing-engine/requirements.txt
  processing-engine/tests/test_viewer_validation.py
Due: mypy

revert: remove tech-debt.md update (handled separately)
  docs/tech-debt.md
Due: none

fix: validate dataId as MongoDB ObjectId before URL construction (Bug #60)
  docs/bugs.md
  docs/tech-debt.md
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/services/jwstDataService.ts
  frontend/jwst-frontend/src/utils/validationUtils.ts
Due: eslint, prettier

docs: add agent coordination rules to CLAUDE.md
  CLAUDE.md
Due: none

feat: add WCS mosaic engine with reproject library (B2.1)
  CLAUDE.md
  docker/docker-compose.yml
  docs/development-plan.md
  processing-engine/app/mosaic/__init__.py
  processing-engine/app/mosaic/models.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
  processing-engine/main.py
  processing-engine/requirements.txt
  processing-engine/tests/test_mosaic_engine.py
Due: mypy

docs: update Bug #60 resolved PR reference to #158
  docs/bugs.md
Due: none

fix: remove internal error details from HTTP responses (Bug #65)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  docs/bugs.md
Due: none

docs: reorganize agents to 2-agent setup with isolated Docker stacks
  .gitignore
  CLAUDE.md
  docker/docker-compose.agent.yml
  docs/development-plan.md
Due: none

fix: add access control filtering for anonymous and user-scoped queries (Tasks #73, #74, #75)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  docs/tech-debt.md
Due: none

fix: run Docker containers as non-root user (Task #58)
  backend/JwstDataAnalysis.API/Dockerfile
  docs/tech-debt.md
  frontend/jwst-frontend/Dockerfile
  frontend/jwst-frontend/Dockerfile.dev
  processing-engine/Dockerfile
Due: none

feat: Add agent Docker helper scripts
  CLAUDE.md
  scripts/agent-docker.sh
  scripts/agent-env-init.sh
Due: none

fix: Use groupadd/useradd for Debian-based Docker images
  backend/JwstDataAnalysis.API/Dockerfile
  processing-engine/Dockerfile
Due: none

fix: Bind all service ports to localhost only (Task #59)
  docker/.env.example
  docker/docker-compose.agent.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docs/tech-debt.md
Due: none

fix: Improve incomplete downloads UX with collapsible panel, sort, and dismiss (Task #89)
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/IMastService.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  docs/tech-debt.md
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/services/mastService.ts
  processing-engine/app/mast/download_tracker.py
  processing-engine/app/mast/routes.py
Due: eslint, prettier, mypy

fix: Initialize resume progress from saved state and add tech debt items
  docs/tech-debt.md
  processing-engine/app/mast/routes.py
Due: mypy

feat: WCS Mosaic full-stack implementation (B2.2-B2.6)
  CLAUDE.md
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Models/MosaicModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  docs/desktop-requirements.md
  docs/development-plan.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/context/AuthContext.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/services/mosaicService.ts
  frontend/jwst-frontend/src/types/MosaicTypes.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
