Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: resolve all code analysis warnings and enforce zero warnings
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
  backend/.editorconfig
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Fixtures/TestDataFixtures.cs
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/AuthController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AuthController.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Models/UserModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/FileContentValidator.cs
  backend/JwstDataAnalysis.API/Services/IImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.Log.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JwtTokenService.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.Log.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
Due: none

fix: resolve member ordering issues in model classes
  backend/.editorconfig
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Models/UserModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
Due: none

fix: add tech debt tracking for all code style suppressions
  backend/.editorconfig
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  docs/tech-debt.md
Due: none

fix: add memory limits to FITS processing endpoints
  processing-engine/main.py
Due: mypy

docs: update documentation for FITS memory limits fix
  CLAUDE.md
  docs/tech-debt.md
Due: none

feat: add PNG/JPEG export with format, quality, and resolution options (A4)
  CLAUDE.md
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  docs/development-plan.md
  frontend/jwst-frontend/e2e/export.spec.ts
  frontend/jwst-frontend/src/components/ExportOptionsPanel.css
  frontend/jwst-frontend/src/components/ExportOptionsPanel.tsx
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  processing-engine/main.py
Due: eslint, prettier, mypy

style: format ExportOptionsPanel with prettier
  frontend/jwst-frontend/src/components/ExportOptionsPanel.tsx
Due: eslint, prettier

fix: update E2E tests to switch to grouped view for View buttons
  frontend/jwst-frontend/e2e/export.spec.ts
Due: none

fix: correct MkDocs nav paths and add missing pages
  .gitignore
  docs/index.md
  docs/workflows/create-feature.md
  docs/workflows/fix-bug.md
  docs/workflows/resolve-tech-debt.md
  mkdocs.yml
Due: none

fix: convert source code links to GitHub URLs
  docs/architecture.md
  docs/standards/backend-development.md
  docs/standards/docker-deployment.md
  docs/standards/frontend-development.md
  docs/standards/project-overview.md
Due: none

fix: simplify docs container volume mounts
  docker/docker-compose.yml
Due: none

chore: upgrade Node.js from 18 to 22 LTS
  .github/workflows/ci.yml
  docs/setup-guide.md
  frontend/jwst-frontend/Dockerfile
  frontend/jwst-frontend/Dockerfile.dev
Due: none

feat: add 3D data cube navigator for MIRI IFU spectral cubes
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  frontend/jwst-frontend/src/components/CubeNavigator.css
  frontend/jwst-frontend/src/components/CubeNavigator.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/services/jwstDataService.ts
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  frontend/jwst-frontend/src/utils/cubeUtils.ts
  processing-engine/main.py
Due: eslint, prettier, mypy

style: format code with Prettier
  frontend/jwst-frontend/src/components/CubeNavigator.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

fix: improve cube playback to wait for image load
  frontend/jwst-frontend/src/components/CubeNavigator.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/utils/cubeUtils.ts
Due: eslint, prettier

docs: add cubeinfo endpoint to API reference
  CLAUDE.md
Due: none

docs: add /compliance-check skill to CLAUDE.md
  CLAUDE.md
Due: none

fix: allow anonymous access to MAST search endpoints
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
Due: none

feat: add frontend authentication UI with login/register pages
  frontend/jwst-frontend/eslint.config.js
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/ProtectedRoute.tsx
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/components/UserMenu.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/index.tsx
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
  frontend/jwst-frontend/src/pages/index.ts
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/authService.ts
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/types/AuthTypes.ts
Due: eslint, prettier

style: fix prettier formatting in auth files
  frontend/jwst-frontend/src/components/UserMenu.tsx
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
