Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: log and verify cache eviction results in temp_cache
  processing-engine/app/storage/temp_cache.py
  processing-engine/tests/test_s3_storage.py
Due: mypy

fix: bound eviction retry loop in cacheUtils to prevent tab freeze
  frontend/jwst-frontend/src/utils/cacheUtils.test.ts
  frontend/jwst-frontend/src/utils/cacheUtils.ts
Due: eslint, prettier

fix: validate max_pixels and array dimensions in downscale_for_composite (#1177)
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
Due: mypy

fix: handle race condition when accessing partial file mtime (#1178)
  processing-engine/app/mast/download_state_manager.py
  processing-engine/tests/test_download_state_manager.py
Due: mypy

fix: include SharedWith data in search results (#1179)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
Due: none

fix: apply limit after offset in MAST service pagination (#1180)
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_mast_pagination.py
Due: mypy

fix: validate coordinate bounds in region mask creation (#1181)
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_region_statistics.py
Due: mypy

fix: validate required fields in resolve_s3_keys_from_products (#1182)
  processing-engine/app/mast/s3_resolver.py
  processing-engine/tests/test_s3_resolver.py
Due: mypy

fix: guard against NaN scores and empty results in similarity search (#1183)
  processing-engine/app/semantic/embedding_service.py
  processing-engine/tests/test_embedding_service.py
Due: mypy

fix: log and verify cache eviction results in temp_cache (#1184)
  processing-engine/app/storage/temp_cache.py
  processing-engine/tests/test_s3_storage.py
Due: mypy

fix: bound eviction retry loop in cacheUtils to prevent tab freeze (#1185)
  frontend/jwst-frontend/src/utils/cacheUtils.test.ts
  frontend/jwst-frontend/src/utils/cacheUtils.ts
Due: eslint, prettier

feat: add auth rate limiting, account lockout, and user enumeration prevention
  backend/JwstDataAnalysis.API.Tests/Controllers/AuthControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/AuthServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/JwtSettings.cs
  backend/JwstDataAnalysis.API/Controllers/AuthController.cs
  backend/JwstDataAnalysis.API/Models/UserModels.cs
  backend/JwstDataAnalysis.API/Services/AuthService.Log.cs
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docs/plans/features/1096-auth-rate-limiting-lockout.md
Due: none

feat: add auth rate limiting, account lockout, and user enumeration prevention (#1187)
  backend/JwstDataAnalysis.API.Tests/Controllers/AuthControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/AuthServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/JwtSettings.cs
  backend/JwstDataAnalysis.API/Controllers/AuthController.cs
  backend/JwstDataAnalysis.API/Models/UserModels.cs
  backend/JwstDataAnalysis.API/Services/AuthService.Log.cs
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docs/plans/features/1096-auth-rate-limiting-lockout.md
Due: none

fix: observe background tasks in MastController to prevent silent failures (#1097)
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  docs/plans/design/job-queue-websocket-progress.md
Due: none

fix: resolve E2E failures from rate limit middleware FormatException
  backend/JwstDataAnalysis.API/appsettings.json
  docker/docker-compose.e2e.yml
Due: none

fix: observe background tasks in MastController to prevent silent failures (#1188)
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docker/docker-compose.e2e.yml
  docs/plans/design/job-queue-websocket-progress.md
Due: none

feat: add saturation, vibrancy, and hue rotation controls to composite pipeline
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/key-files.md
  docs/plans/features/684-saturation-vibrancy-hue-controls.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

feat: add saturation, vibrancy, and hue rotation controls to composite pipeline (#1203)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/key-files.md
  docs/plans/features/684-saturation-vibrancy-hue-controls.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

refactor: replace positional params with options objects in compositeService
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

refactor: replace positional params with options objects in compositeService (#1205)
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

feat: add smart auto-stretch with histogram analysis and per-channel controls (#688)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  docs/architecture/security-model.md
  docs/development-plan.md
  docs/key-files.md
  docs/plans/features/688-smart-auto-stretch.md
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/auto_stretch.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_analyze_channels.py
  processing-engine/tests/test_auto_stretch.py
Due: eslint, prettier, mypy

docs: rename block-pr-merge hook references to warn-pr-merge
  AGENTS.md
  docs/architecture/build-pipeline.md
  docs/plans/exploration/claude-code-agents-evaluation.md
Due: none

docs: rename block-pr-merge hook references to warn-pr-merge (#1242)
  AGENTS.md
  docs/architecture/build-pipeline.md
  docs/plans/exploration/claude-code-agents-evaluation.md
Due: none

docs: document post-edit-ruff hook for processing-engine .py files
  AGENTS.md
  docs/architecture/build-pipeline.md
Due: none

docs: document require-plan-file hook alongside post-edit-ruff
  AGENTS.md
  docs/architecture/build-pipeline.md
Due: none

docs: document post-edit-ruff and require-plan-file hooks (#1243)
  AGENTS.md
  docs/architecture/build-pipeline.md
Due: none

fix: return 404 for unauthenticated access denials in GenerateAndSaveMosaic
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  docs/architecture/security-model.md
  docs/plans/features/quick/1173-mosaic-generate-and-save-enumeration-fix.md
Due: none

fix: log UnauthorizedAccessException denials with LogAccessDenied partial
  backend/JwstDataAnalysis.API/Controllers/MosaicController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
Due: none

fix: harden GenerateAndSaveMosaic against enumeration and restore auth-denial logging (#1340)
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  docs/architecture/security-model.md
  docs/plans/features/quick/1173-mosaic-generate-and-save-enumeration-fix.md
Due: none

chore: remove duplicate scope from Dependabot PR titles
  .github/dependabot.yml
  docs/plans/features/quick/dependabot-dedupe-scope.md
Due: none

fix: migrate to photutils 3.0.0
  docs/plans/features/quick/photutils-3-migration.md
  processing-engine/app/processing/detection.py
  processing-engine/requirements.txt
  processing-engine/tests/test_detection.py
Due: mypy

chore: remove duplicate scope from Dependabot PR titles (#1341)
  .github/dependabot.yml
  docs/plans/features/quick/dependabot-dedupe-scope.md
Due: none

feat: add smart auto-stretch with histogram analysis and per-channel controls (#688) (#1206)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  docs/architecture/security-model.md
  docs/development-plan.md
  docs/key-files.md
  docs/plans/features/688-smart-auto-stretch.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/auto_stretch.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_analyze_channels.py
  processing-engine/tests/test_auto_stretch.py
Due: eslint, prettier, mypy

fix: migrate to photutils 3.0.0 (#1342)
  docs/plans/features/quick/photutils-3-migration.md
  processing-engine/app/processing/detection.py
  processing-engine/requirements.txt
  processing-engine/tests/test_detection.py
Due: mypy

fix: set Docker service-name defaults in appsettings.Production.json
  backend/JwstDataAnalysis.API/appsettings.Production.json
  docker/.env.example
  docs/plans/features/quick/1339-docker-friendly-production-defaults.md
Due: none

fix: set Docker service-name defaults in appsettings.Production.json (#1347)
  backend/JwstDataAnalysis.API/appsettings.Production.json
  docker/.env.example
  docs/plans/features/quick/1339-docker-friendly-production-defaults.md
Due: none

docs: add apiClient auth hardening epic plan
  docs/plans/features/apiClient-auth-hardening.md
Due: none

docs: add path-traversal hardening epic plan
  docs/plans/features/path-traversal-hardening.md
Due: none

docs: add render-phase state mutations epic plan
  docs/plans/features/render-phase-state-mutations.md
Due: none

docs: add plan for #1095 filename sanitization fix
  docs/plans/features/quick/1095-filename-sanitization-fix.md
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
