Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat(frontend): wavelength ribbon on Process step (#1453) (#1456)
  docs/plans/features/quick/1453-wavelength-ribbon-process-step.md
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix(frontend): bump RECIPE_CACHE_VERSION to invalidate stale curated recipes
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
Due: eslint, prettier

fix(processing-engine): pointing-based grouping for curated recipes
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix(processing-engine): spatial-grouping for curated recipes
  docs/plans/features/quick/curated-recipe-spatial-grouping.md
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

feat: surface composite warning headers on async export job results (#1441)
  backend/JwstDataAnalysis.API.Tests/Controllers/JobsControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/IJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  docs/plans/features/quick/1441-composite-async-warning-headers.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

docs(audit): monthly git history audit 2026-05-01 (#1457)
  docs/audits/2026-05-01-git-history-audit.md
Due: none

fix(processing-engine): spatial-grouping for curated recipes (#1458)
  docs/plans/features/quick/curated-recipe-spatial-grouping.md
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

feat: surface composite warning headers on async export job results (#1441) (#1446)
  backend/JwstDataAnalysis.API.Tests/Controllers/JobsControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/IJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  docs/plans/features/quick/1441-composite-async-warning-headers.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

feat(composite): wizard preview goes async for live progress
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  docs/plans/features/1470-composite-async-preview.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
Due: eslint, prettier

feat(composite): wizard preview goes async for live progress (#1472)
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  docs/plans/features/1470-composite-async-preview.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
Due: eslint, prettier

feat(composite): engine streaming progress + log panel
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  docs/plans/features/1471-engine-streaming-progress.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/LogPanel.css
  frontend/jwst-frontend/src/components/wizard/LogPanel.test.tsx
  frontend/jwst-frontend/src/components/wizard/LogPanel.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.buffer.test.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/types/MastTypes.ts
  processing-engine/app/composite/progress.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_streaming.py
Due: eslint, prettier, mypy

feat(composite): surface engine progress in GuidedCreate too
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/components/wizard/LogPanel.test.tsx
  frontend/jwst-frontend/src/components/wizard/LogPanel.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.test.ts
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat(composite): engine streaming progress + log panel (Phase 2) (#1473)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  docs/plans/features/1471-engine-streaming-progress.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/LogPanel.css
  frontend/jwst-frontend/src/components/wizard/LogPanel.test.tsx
  frontend/jwst-frontend/src/components/wizard/LogPanel.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.buffer.test.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.test.ts
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/MastTypes.ts
  processing-engine/app/composite/progress.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_streaming.py
Due: eslint, prettier, mypy

chore(skills): port Tier 1+2 from gstack upstream into plan-{ceo,eng}-review
  .claude/skills/plan-ceo-review/SKILL.md
  .claude/skills/plan-eng-review/SKILL.md
Due: none

chore(skills): port Tier 1+2 from gstack upstream into plan-{ceo,eng}-review (#1476)
  .claude/skills/plan-ceo-review/SKILL.md
  .claude/skills/plan-eng-review/SKILL.md
Due: none

test: document sanitize_filename bare-dot rejection (#1419)
  processing-engine/tests/mast/test_download_utils.py
Due: mypy

fix: guard empty channel list in _render_debug_masks (#1285)
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

test: remove invalid path/to/. case from bare-dot rejects (#1419)
  processing-engine/tests/mast/test_download_utils.py
Due: mypy

fix: raise ValueError instead of asserting in _build_coverage_mask (#1190)
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

fix: guard zero-length first axis in FITS cube slicing (#1234)
  processing-engine/main.py
Due: mypy

fix: don't reject WCS at celestial origin (RA=0, CRPIX1=0) (#1235)
  processing-engine/app/processing/avm.py
  processing-engine/main.py
  processing-engine/tests/test_avm_embedding.py
Due: mypy

fix: clean up stale state .tmp files on startup and post-download (#1397)
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/routes.py
  processing-engine/main_mast.py
  processing-engine/tests/test_download_state_manager.py
Due: mypy

fix: surface token refresh failures in recipe-walkthrough (#1320)
  scripts/recipe-walkthrough.py
Due: none

fix: validate FITS magic byte before astropy.fits.open (#1392)
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_utils.py
Due: mypy

fix: surface token refresh failures in recipe-walkthrough (#1320) (#1498)
  scripts/recipe-walkthrough.py
Due: none

fix: replace brittle dir() check with sentinel None in download error path (#1323)
  processing-engine/app/mast/routes.py
Due: mypy

test: document sanitize_filename bare-dot rejection (#1419) (#1492)
  processing-engine/tests/mast/test_download_utils.py
Due: mypy

fix: guard empty channel list in _render_debug_masks (#1285) (#1493)
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

fix: raise ValueError instead of asserting in _build_coverage_mask (#1190) (#1494)
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

fix: guard zero-length first axis in FITS cube slicing (#1234) (#1495)
  processing-engine/main.py
Due: mypy

fix: don't reject WCS at celestial origin (RA=0, CRPIX1=0) (#1235) (#1496)
  processing-engine/app/processing/avm.py
  processing-engine/main.py
  processing-engine/tests/test_avm_embedding.py
Due: mypy

fix: clean up stale state .tmp files on startup and post-download (#1397) (#1497)
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/routes.py
  processing-engine/main_mast.py
  processing-engine/tests/test_download_state_manager.py
Due: mypy

fix: validate FITS magic byte before astropy.fits.open (#1392) (#1499)
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_utils.py
Due: mypy

fix: replace brittle dir() check with sentinel None in download error path (#1323) (#1500)
  processing-engine/app/mast/routes.py
Due: mypy

fix: log root cause when wait_for_healthy gives up (#1319)
  scripts/recipe-walkthrough.py
Due: none

fix: validate hex color string before slicing in hex_to_hue (#1321)
  scripts/recipe-walkthrough.py
Due: none

fix: distinguish client-cancel from timeout in TaskCanceledException handlers (#1372)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
Due: none

fix: capture SignalR connection reference to close TOCTOU race (#1287)
  frontend/jwst-frontend/src/services/signalRService.ts
Due: eslint, prettier

fix: log root cause when wait_for_healthy gives up (#1319) (#1501)
  scripts/recipe-walkthrough.py
Due: none

fix: validate hex color string before slicing in hex_to_hue (#1321) (#1502)
  scripts/recipe-walkthrough.py
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
