Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

feat: add background neutralization for RGB composite wizard (#356)
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

fix: resolve SA1204 static member ordering warning
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
Due: none

fix: resolve SA1204 static member ordering warning (#358)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
Due: none

docs: add B3 multi-channel composite epic to development plan
  docs/development-plan.md
Due: none

docs: add B3 multi-channel composite epic to development plan (#359)
  docs/development-plan.md
Due: none

feat: add N-channel color mapping engine for multi-filter composites
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

feat: add N-channel color mapping engine for multi-filter composites (#360)
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

feat: add N-channel composite API endpoint with color mapping
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

chore: deprecate /composite/generate, add B3.6 removal task
  docs/development-plan.md
  processing-engine/app/composite/routes.py
Due: mypy

feat: add N-channel composite API endpoint with color mapping (#361)
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

Add cloud storage evaluation for JWST data analysis deployment
  docs/cloud-storage-evaluation.md
Due: none

docs: add F1 S3 direct access epic to development plan
  docs/development-plan.md
Due: none

docs: add F1 S3 direct access epic to development plan (#362)
  docs/development-plan.md
Due: none

fix: increase default FITS file size limit from 2GB to 4GB
  processing-engine/main.py
Due: mypy

fix: increase default FITS file size limit from 2GB to 4GB (#363)
  processing-engine/main.py
Due: mypy

fix: increase default FITS array element limit from 100M to 200M
  processing-engine/main.py
Due: mypy

fix: increase default FITS array element limit from 100M to 200M (#364)
  processing-engine/main.py
Due: mypy

fix: optimize memory usage for large FITS file viewing
  processing-engine/main.py
Due: mypy

fix: optimize memory usage for large FITS file viewing (#365)
  processing-engine/main.py
Due: mypy

docs: mark B3.1 and B3.2 as complete in development plan
  docs/development-plan.md
Due: none

docs: mark B3.1 and B3.2 as complete in development plan (#366)
  docs/development-plan.md
Due: none

feat: add N-channel composite wizard UI with dynamic channels and color pickers
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  docs/development-plan.md
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
Due: eslint, prettier

fix: rename dashboard button to "Composite" and restore horizontal channel lanes
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
Due: eslint, prettier

fix: prevent channel lanes from wrapping with 3 channels + add button
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
Due: prettier

fix: add min-width to channel lanes to prevent overlap with 10+ channels
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
Due: prettier

feat: add drag-and-drop channel lane reordering on Step 1
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
Due: eslint, prettier

feat: auto-name channels by their hue color on creation
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

fix: address 6 review findings in N-channel composite PR
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
Due: eslint, prettier

fix: update e2e test for renamed Composite button
  frontend/jwst-frontend/e2e/ux-regression.spec.ts
Due: none

feat: add N-channel composite wizard UI with dynamic channels and color pickers (#367)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  docs/development-plan.md
  frontend/jwst-frontend/e2e/ux-regression.spec.ts
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
Due: eslint, prettier
