Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

chore: delete unreachable CompositeWizard component (#1850)
  frontend/jwst-frontend/src/components/CompositeWizard.test.tsx
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
Due: eslint, prettier

chore: delete dead app/processing/analysis.py
  processing-engine/app/processing/__init__.py
  processing-engine/app/processing/analysis.py
Due: mypy

chore: delete unreachable MosaicWizard component (#1851)
  frontend/jwst-frontend/src/components/MosaicWizard.test.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

chore: delete unreferenced wizard/ImageSelectionStep (#1852)
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.css
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.tsx
Due: eslint, prettier

chore: delete unused colormaps util and pages barrel (#1853)
  frontend/jwst-frontend/src/pages/index.test.ts
  frontend/jwst-frontend/src/pages/index.ts
  frontend/jwst-frontend/src/utils/colormaps.test.ts
  frontend/jwst-frontend/src/utils/colormaps.ts
Due: eslint, prettier

chore: delete dead app/processing/analysis.py (#1854)
  processing-engine/app/processing/__init__.py
  processing-engine/app/processing/analysis.py
Due: mypy

chore: delete dead app/processing/pipeline.py
  processing-engine/app/processing/__init__.py
  processing-engine/app/processing/pipeline.py
  processing-engine/tests/test_pipeline.py
Due: mypy

chore: remove 8 DataManagement endpoints duplicated by JwstDataController
  backend/JwstDataAnalysis.API.Tests/Controllers/DataManagementControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  docs/architecture/backend-service-layer.md
  docs/architecture/security-model.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

chore: delete dead app/processing/pipeline.py (#1855)
  processing-engine/app/processing/__init__.py
  processing-engine/app/processing/pipeline.py
  processing-engine/tests/test_pipeline.py
Due: mypy

chore: delete dead app/processing/utils.py
  processing-engine/app/processing/__init__.py
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_utils.py
Due: mypy

chore: remove 8 DataManagement endpoints duplicated by JwstDataController (#1856)
  backend/JwstDataAnalysis.API.Tests/Controllers/DataManagementControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  docs/architecture/backend-service-layer.md
  docs/architecture/security-model.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

chore: delete dead app/processing/utils.py (#1857)
  processing-engine/app/processing/__init__.py
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_utils.py
Due: mypy

chore: make the mkdocs preview server opt-in
  docker/docker-compose.yml
  scripts/generate-session-blog.sh
Due: none

chore: make the mkdocs preview server opt-in (#1858)
  docker/docker-compose.yml
  scripts/generate-session-blog.sh
Due: none

fix: repair two StyleCop errors breaking the backend build on main
  backend/JwstDataAnalysis.API.Tests/Configuration/Ipv4MappedRateLimitConfigurationTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
Due: none

chore: delete two orphaned LoggerMessage partials (Track A)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
Due: none

chore: retire A2 — delete the two genuinely orphaned LoggerMessage partials (#1875)
  backend/JwstDataAnalysis.API.Tests/Configuration/Ipv4MappedRateLimitConfigurationTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
Due: none

feat: bound data/mast with an opt-in LRU cache
  docker/.env.example
  docs/plans/features/mast-cache-lru-eviction.md
  docs/setup-guide.md
  processing-engine/app/config.py
  processing-engine/app/mast/cache.py
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/app/storage/lru_evictor.py
  processing-engine/app/storage/temp_cache.py
  processing-engine/tests/test_lru_evictor.py
  processing-engine/tests/test_mast_cache.py
  processing-engine/tests/test_s3_storage.py
Due: mypy

feat: add MAST cache dry run, fail-closed pins, and a single pin base
  docker/.env.example
  docker/docker-compose.yml
  docs/plans/features/mast-cache-lru-eviction.md
  docs/setup-guide.md
  processing-engine/app/mast/cache.py
  processing-engine/app/mast/routes.py
  processing-engine/app/storage/lru_evictor.py
  processing-engine/tests/test_lru_evictor.py
  processing-engine/tests/test_mast_cache.py
Due: mypy

chore: gitignore pytest coverage artifacts
  .gitignore
Due: none

perf: reuse pre-scan background medians in streaming mosaic coadd
  docs/plans/features/mosaic-prescan-reuse.md
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/tests/test_streaming_reproject.py
Due: mypy

feat: bound data/mast with an opt-in LRU cache (#1878)
  .gitignore
  docker/.env.example
  docker/docker-compose.yml
  docs/plans/features/mast-cache-lru-eviction.md
  docs/setup-guide.md
  processing-engine/app/config.py
  processing-engine/app/mast/cache.py
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/app/storage/lru_evictor.py
  processing-engine/app/storage/temp_cache.py
  processing-engine/tests/test_lru_evictor.py
  processing-engine/tests/test_mast_cache.py
  processing-engine/tests/test_s3_storage.py
Due: mypy

perf: reuse pre-scan background medians in streaming mosaic coadd (#1879)
  docs/plans/features/mosaic-prescan-reuse.md
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/tests/test_streaming_reproject.py
Due: mypy

feat: MAST search takes the nav Search slot; semantic search folds into My Library
  docs/architecture/frontend-architecture.md
  docs/architecture/mast-import-flow.md
  docs/key-files.md
  docs/plans/features/search-v2-nav.md
  docs/quick-reference.md
  frontend/jwst-frontend/e2e/dashboard.spec.ts
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/e2e/search-redirect.spec.ts
  frontend/jwst-frontend/src/App.ce.test.tsx
  frontend/jwst-frontend/src/App.test.tsx
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/layout/ImportProgressPill.test.tsx
  frontend/jwst-frontend/src/components/layout/ImportProgressPill.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.ce.test.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.test.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/components/library/SemanticSearchPanel.css
  frontend/jwst-frontend/src/components/library/SemanticSearchPanel.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/config/ce.ts
  frontend/jwst-frontend/src/hooks/useActiveImports.ts
  frontend/jwst-frontend/src/pages/ArchivePage.css
  frontend/jwst-frontend/src/pages/ArchivePage.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.ce.test.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.css
  frontend/jwst-frontend/src/pages/MyLibrary.test.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
  frontend/jwst-frontend/src/pages/SearchPage.css
  frontend/jwst-frontend/src/pages/SearchPage.test.tsx
  frontend/jwst-frontend/src/pages/SearchPage.tsx
Due: eslint, prettier

feat: MAST search v2 phase 0 — cone geometry, criteria whitelist, truncated flag
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  docker/.env.example
  docker/docker-compose.yml
  docs/plans/features/search-v2-backend.md
  docs/setup-guide.md
  processing-engine/app/db/casing.py
  processing-engine/app/mast/api_routes.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
  processing-engine/scripts/prefetch_discovery.py
  processing-engine/tests/contract/fixtures/post_mast_search_target.json
  processing-engine/tests/contract/test_ce_mast_contracts.py
  processing-engine/tests/db/test_casing.py
  processing-engine/tests/test_mast_pagination.py
  processing-engine/tests/test_mast_search_geometry.py
  processing-engine/tests/test_mast_target_search_variants.py
Due: mypy

feat: MAST search takes the nav Search slot; semantic search folds into My Library (#1884)
  docs/architecture/frontend-architecture.md
  docs/architecture/mast-import-flow.md
  docs/key-files.md
  docs/plans/features/search-v2-nav.md
  docs/quick-reference.md
  frontend/jwst-frontend/e2e/dashboard.spec.ts
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/e2e/search-redirect.spec.ts
  frontend/jwst-frontend/src/App.ce.test.tsx
  frontend/jwst-frontend/src/App.test.tsx
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/layout/ImportProgressPill.test.tsx
  frontend/jwst-frontend/src/components/layout/ImportProgressPill.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.ce.test.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.test.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/components/library/SemanticSearchPanel.css
  frontend/jwst-frontend/src/components/library/SemanticSearchPanel.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/config/ce.ts
  frontend/jwst-frontend/src/hooks/useActiveImports.ts
  frontend/jwst-frontend/src/pages/ArchivePage.css
  frontend/jwst-frontend/src/pages/ArchivePage.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.ce.test.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.css
  frontend/jwst-frontend/src/pages/MyLibrary.test.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
  frontend/jwst-frontend/src/pages/SearchPage.css
  frontend/jwst-frontend/src/pages/SearchPage.test.tsx
  frontend/jwst-frontend/src/pages/SearchPage.tsx
Due: eslint, prettier

feat: MAST search v2 phase 0 — cone geometry, criteria whitelist, truncated flag (#1885)
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  docker/.env.example
  docker/docker-compose.yml
  docs/plans/features/search-v2-backend.md
  docs/setup-guide.md
  processing-engine/app/db/casing.py
  processing-engine/app/mast/api_routes.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
  processing-engine/scripts/prefetch_discovery.py
  processing-engine/tests/contract/fixtures/post_mast_search_target.json
  processing-engine/tests/contract/test_ce_mast_contracts.py
  processing-engine/tests/db/test_casing.py
  processing-engine/tests/test_mast_pagination.py
  processing-engine/tests/test_mast_search_geometry.py
  processing-engine/tests/test_mast_target_search_variants.py
Due: mypy

feat: MAST search smart input, URL state, and recents (Search v2 Phase 2)
  docs/plans/features/search-v2-smart-input.md
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/src/components/discovery/SearchConsole.test.tsx
  frontend/jwst-frontend/src/components/discovery/SearchConsole.tsx
  frontend/jwst-frontend/src/components/mast/ImportProgress.css
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.css
  frontend/jwst-frontend/src/components/mast/ResultsTable.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.css
  frontend/jwst-frontend/src/components/mast/SearchForm.test.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.tsx
  frontend/jwst-frontend/src/components/mast/SmartSearchInput.css
  frontend/jwst-frontend/src/components/mast/SmartSearchInput.test.tsx
  frontend/jwst-frontend/src/components/mast/SmartSearchInput.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.test.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.ts
  frontend/jwst-frontend/src/utils/recentSearches.test.ts
  frontend/jwst-frontend/src/utils/recentSearches.ts
  frontend/jwst-frontend/src/utils/searchQueryParser.test.ts
  frontend/jwst-frontend/src/utils/searchQueryParser.ts
Due: eslint, prettier

feat: MAST search smart input, URL state, and recents (Search v2 Phase 2) (#1886)
  docs/plans/features/search-v2-smart-input.md
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/src/components/discovery/SearchConsole.test.tsx
  frontend/jwst-frontend/src/components/discovery/SearchConsole.tsx
  frontend/jwst-frontend/src/components/mast/ImportProgress.css
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.css
  frontend/jwst-frontend/src/components/mast/ResultsTable.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.css
  frontend/jwst-frontend/src/components/mast/SearchForm.test.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.tsx
  frontend/jwst-frontend/src/components/mast/SmartSearchInput.css
  frontend/jwst-frontend/src/components/mast/SmartSearchInput.test.tsx
  frontend/jwst-frontend/src/components/mast/SmartSearchInput.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.test.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.ts
  frontend/jwst-frontend/src/utils/recentSearches.test.ts
  frontend/jwst-frontend/src/utils/recentSearches.ts
  frontend/jwst-frontend/src/utils/searchQueryParser.test.ts
  frontend/jwst-frontend/src/utils/searchQueryParser.ts
Due: eslint, prettier

feat: decompose MastSearch into hooks and results v2 (Search v2 Phase 3)
  docs/key-files.md
  docs/plans/features/search-v2-results.md
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/src/components/mast/ImportOptionsPopover.css
  frontend/jwst-frontend/src/components/mast/ImportOptionsPopover.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.css
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/RawFallbackPanel.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.css
  frontend/jwst-frontend/src/components/mast/ResultsTable.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.css
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.tsx
  frontend/jwst-frontend/src/components/mast/ResumableDownloadsPanel.tsx
  frontend/jwst-frontend/src/components/mast/hooks/useBulkImport.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useBulkImport.ts
  frontend/jwst-frontend/src/components/mast/hooks/useLibraryAvailability.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useLibraryAvailability.ts
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.ts
  frontend/jwst-frontend/src/components/mast/resultColumns.ts
  frontend/jwst-frontend/src/components/mast/resultSort.test.ts
  frontend/jwst-frontend/src/components/mast/resultSort.ts
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/types/MastTypes.ts
  frontend/jwst-frontend/src/utils/timeUtils.test.ts
  frontend/jwst-frontend/src/utils/timeUtils.ts
Due: eslint, prettier

feat: decompose MastSearch into hooks and results v2 (Search v2 Phase 3) (#1887)
  docs/key-files.md
  docs/plans/features/search-v2-results.md
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/src/components/mast/ImportOptionsPopover.css
  frontend/jwst-frontend/src/components/mast/ImportOptionsPopover.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.css
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/RawFallbackPanel.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.css
  frontend/jwst-frontend/src/components/mast/ResultsTable.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.css
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsToolbar.tsx
  frontend/jwst-frontend/src/components/mast/ResumableDownloadsPanel.tsx
  frontend/jwst-frontend/src/components/mast/hooks/useBulkImport.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useBulkImport.ts
  frontend/jwst-frontend/src/components/mast/hooks/useLibraryAvailability.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useLibraryAvailability.ts
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.ts
  frontend/jwst-frontend/src/components/mast/resultColumns.ts
  frontend/jwst-frontend/src/components/mast/resultSort.test.ts
  frontend/jwst-frontend/src/components/mast/resultSort.ts
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/types/MastTypes.ts
  frontend/jwst-frontend/src/utils/timeUtils.test.ts
  frontend/jwst-frontend/src/utils/timeUtils.ts
Due: eslint, prettier

feat: MAST search filter rail + query-less faceting (Search v2 Phase 4)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MastServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/IMastService.cs
  backend/JwstDataAnalysis.API/Services/MastService.Log.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  docs/architecture/api-contracts.md
  docs/architecture/security-model.md
  docs/plans/features/search-v2-filters.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/src/components/mast/ActiveFilterChips.css
  frontend/jwst-frontend/src/components/mast/ActiveFilterChips.tsx
  frontend/jwst-frontend/src/components/mast/FilterRail.css
  frontend/jwst-frontend/src/components/mast/FilterRail.test.tsx
  frontend/jwst-frontend/src/components/mast/FilterRail.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.css
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.ts
  frontend/jwst-frontend/src/components/mast/rawFallback.ts
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
  frontend/jwst-frontend/src/types/MastTypes.ts
  frontend/jwst-frontend/src/utils/mastCriteria.test.ts
  frontend/jwst-frontend/src/utils/mastCriteria.ts
  processing-engine/app/mast/api_routes.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/contract/fixtures/post_mast_search_target.json
  processing-engine/tests/test_mast_facet_search.py
Due: eslint, prettier, mypy

test: add /api/mast/search/facets to the CE API-surface allowlist
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: MAST search filter rail + query-less faceting (Search v2 Phase 4) (#1888)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MastServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/IMastService.cs
  backend/JwstDataAnalysis.API/Services/MastService.Log.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  docs/architecture/api-contracts.md
  docs/architecture/security-model.md
  docs/plans/features/search-v2-filters.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/src/components/mast/ActiveFilterChips.css
  frontend/jwst-frontend/src/components/mast/ActiveFilterChips.tsx
  frontend/jwst-frontend/src/components/mast/FilterRail.css
  frontend/jwst-frontend/src/components/mast/FilterRail.test.tsx
  frontend/jwst-frontend/src/components/mast/FilterRail.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.css
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.ts
  frontend/jwst-frontend/src/components/mast/rawFallback.ts
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
  frontend/jwst-frontend/src/types/MastTypes.ts
  frontend/jwst-frontend/src/utils/mastCriteria.test.ts
  frontend/jwst-frontend/src/utils/mastCriteria.ts
  processing-engine/app/mast/api_routes.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/contract/fixtures/post_mast_search_target.json
  processing-engine/tests/test_ce_mode_mounting.py
  processing-engine/tests/test_mast_facet_search.py
Due: eslint, prettier, mypy

docs: plan for MAST Search v2 Phase 6 (draw-to-search)
  docs/plans/features/search-v2-draw.md
Due: none

feat: sky-region geometry — bounding circle, gnomonic clip, URL round-trip
  frontend/jwst-frontend/src/utils/skyGeometry.test.ts
  frontend/jwst-frontend/src/utils/skyGeometry.ts
Due: eslint, prettier

feat: region search plumbing — mode:'box' service param, region URL state, bbox+clip in useMastSearch
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.test.ts
  frontend/jwst-frontend/src/components/mast/hooks/useMastSearch.ts
  frontend/jwst-frontend/src/hooks/useSearchUrlState.test.tsx
  frontend/jwst-frontend/src/hooks/useSearchUrlState.ts
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
Due: eslint, prettier

feat: SkyMap draw modes — native Aladin select('circle'|'poly'), region overlay, Esc/Clear
  frontend/jwst-frontend/src/components/mast/map/SkyMap.css
  frontend/jwst-frontend/src/components/mast/map/SkyMap.test.tsx
  frontend/jwst-frontend/src/components/mast/map/SkyMap.tsx
  frontend/jwst-frontend/src/types/aladin-lite.ts
Due: eslint, prettier
