Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

feat: inline observation mosaic fallback for composite pipeline (#753)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/ObservationMosaicInProgressException.cs
  backend/JwstDataAnalysis.API/Services/ObservationMosaicTracker.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
Due: eslint, prettier

fix: raise backend coverage threshold to 40% and exclude generated code
  .github/workflows/ci.yml
Due: none

feat: replace constellation background with Webb deep field
  frontend/jwst-frontend/src/assets/deep-field-bg.jpg
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/pages/MyLibrary.css
Due: prettier

fix: View button always disabled due to filePath never in API response
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

fix: View button always disabled due to filePath never in API response (#756)
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

fix: add missing mast-proxy Docker build to E2E CI pipeline
  .github/workflows/ci.yml
Due: none

fix: raise backend coverage threshold to 40% and exclude generated code (#754)
  .github/workflows/ci.yml
Due: none

feat: replace constellation background with Webb deep field (#755)
  frontend/jwst-frontend/src/assets/deep-field-bg.jpg
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/pages/MyLibrary.css
Due: prettier

fix: prevent download progress bar from jumping backwards
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: add missing mast-proxy Docker build to E2E CI pipeline (#757)
  .github/workflows/ci.yml
Due: none

fix: prevent download progress bar from jumping backwards (#758)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

docs: add Phase 9 — lightweight community edition idea
  docs/development-plan.md
Due: none

docs: update Phase 9 — monorepo subdirectory, reorder timeline
  docs/development-plan.md
Due: none

docs: rename Phase 9 to Community Edition (drop phase numbering)
  docs/development-plan.md
Due: none

docs: add Phase 9 — lightweight community edition plan (#760)
  docs/development-plan.md
Due: none

feat: add stretch preset selector to discovery result step
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: add stretch preset selector to discovery result step (#761)
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: promote cross-instrument recipes to rank 1 with instrument-aware colors
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  docs/architecture/discovery-recipe-flow.md
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

feat: promote cross-instrument recipes to rank 1 with instrument-aware colors (#762)
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  docs/architecture/discovery-recipe-flow.md
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

feat: add spatial overlap awareness to recipe engine
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  docs/architecture/discovery-recipe-flow.md
  docs/plans/features/smart-recipe-ranking.md
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  frontend/jwst-frontend/src/utils/observationUtils.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: resolve 6 ESLint warnings across frontend
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: move pytest coverage threshold to CI only
  .github/workflows/ci.yml
  processing-engine/pyproject.toml
Due: none

feat: add spatial overlap awareness to recipe engine (#763)
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  docs/architecture/discovery-recipe-flow.md
  docs/plans/features/smart-recipe-ranking.md
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  frontend/jwst-frontend/src/utils/observationUtils.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: move pytest coverage threshold to CI only (#764)
  .github/workflows/ci.yml
  processing-engine/pyproject.toml
Due: none

fix: invalidate stale recipe cache after spatial overlap update
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
Due: eslint, prettier

chore: add coverlet exclusions for generated code in .NET backend
  .github/workflows/ci.yml
  backend/coverlet.runsettings
Due: none
