Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

feat: add unified job tracker with MongoDB persistence and REST API (Phase 2)
  backend/JwstDataAnalysis.API.Tests/Controllers/JobsControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JobReaperBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  backend/JwstDataAnalysis.API/Services/StartupReconciliationService.cs
  docs/architecture.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

fix: resolve review findings — hub ownership, TTL parity, SA1204, type safety
  backend/JwstDataAnalysis.API.Tests/Controllers/JobsControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Hubs/JobProgressHubTests.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Hubs/JobProgressHub.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  frontend/jwst-frontend/src/types/JobTypes.ts
Due: eslint, prettier

feat: add SignalR infrastructure for real-time job progress (Phase 1) (#475)
  backend/JwstDataAnalysis.API.Tests/Hubs/JobProgressHubTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobProgressNotifierTests.cs
  backend/JwstDataAnalysis.API/Hubs/JobProgressHub.cs
  backend/JwstDataAnalysis.API/Models/JobProgressModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IJobProgressNotifier.cs
  backend/JwstDataAnalysis.API/Services/JobProgressNotifier.cs
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/src/services/signalRService.ts
  frontend/jwst-frontend/src/types/JobTypes.ts
Due: eslint, prettier

feat: add unified job tracker with MongoDB persistence and REST API (Phase 2) (#477)
  backend/JwstDataAnalysis.API.Tests/Controllers/JobsControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Hubs/JobProgressHubTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Hubs/JobProgressHub.cs
  backend/JwstDataAnalysis.API/Models/JobStatus.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JobReaperBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  backend/JwstDataAnalysis.API/Services/StartupReconciliationService.cs
  docs/architecture.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/types/JobTypes.ts
Due: eslint, prettier

feat: migrate MAST import progress from HTTP polling to SignalR WebSocket (Phase 3)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/IImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/IJobTracker.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.Log.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: address deep review findings for Phase 3 MAST WebSocket migration
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: make MJD epoch timezone-aware to match datetime.now(UTC)
  processing-engine/app/mast/mast_service.py
Due: mypy

fix: convert FileDownloadProgress to plain dictionaries for MongoDB BSON serialization
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
Due: none

fix: replace flaky Task.Delay with TaskCompletionSource in dual-write test
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
Due: none

fix: always start HTTP polling as safety net for import progress
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: pass ASPNETCORE_ENVIRONMENT and CORS_ALLOWED_ORIGINS to backend container
  docker/docker-compose.yml
Due: none

fix: restore inline polling in WhatsNewPanel as primary progress source
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
Due: eslint, prettier

fix: remove snake_case JsonPropertyName from JobStartResponse to fix undefined jobId
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
Due: eslint, prettier

fix: compute downloadProgressPercent from byte data in SignalR progress mapping
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: add PascalCase key support to mapFileProgress for SignalR metadata
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: make MJD epoch timezone-aware to match datetime.now(UTC) (#479)
  processing-engine/app/mast/mast_service.py
Due: mypy

fix: convert MAST mast: URIs to HTTPS URLs for browser-loadable thumbnails
  processing-engine/app/mast/mast_service.py
Due: mypy

fix: convert MAST mast: URIs to HTTPS URLs for browser-loadable thumbnails (#480)
  processing-engine/app/mast/mast_service.py
Due: mypy

fix: clean up import completion state in WhatsNewPanel
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
Due: eslint, prettier

feat: migrate MAST import progress from HTTP polling to SignalR WebSocket (Phase 3) (#478)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/IImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/IJobTracker.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.Log.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  docker/docker-compose.yml
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: use mast_obs_id for imported status matching in MAST search
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

fix: use mast_obs_id for imported status matching in MAST search (#481)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

feat: add async composite export with job queue and SignalR progress (Phase 4)
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeQueueTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/CompositeQueue.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
Due: eslint, prettier

fix: prevent 404 polling spam for non-import jobs in useJobProgress
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

feat: turn export button into filling progress bar during async export
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

fix: address deep review findings for async composite export
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  docs/architecture.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: configure SignalR camelCase serialization and add simulated export progress
  backend/JwstDataAnalysis.API/Program.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

feat: add async composite export with job queue and SignalR progress (Phase 4) (#482)
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeQueueTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/CompositeQueue.cs
  docs/architecture.md
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
Due: eslint, prettier

docs: correct job queue task status — mosaic migration still pending
  docs/development-plan.md
Due: none

docs: correct job queue task status — mosaic migration still pending (#483)
  docs/development-plan.md
Due: none
