Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: surface (once) sessionStorage failures in apiClient auth logs (#1263)
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: add boundary validation to MAST search request models (#1389)
  processing-engine/app/mast/models.py
  processing-engine/tests/test_mast_models_validation.py
Due: mypy

fix: document eslint exhaustive-deps suppressions per CLAUDE.md (#1103)
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
Due: eslint, prettier

fix: capture SignalR connection reference to close TOCTOU race (#1287) (#1504)
  frontend/jwst-frontend/src/services/signalRService.ts
Due: eslint, prettier

fix: surface (once) sessionStorage failures in apiClient auth logs (#1263) (#1505)
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: add boundary validation to MAST search request models (#1389) (#1506)
  processing-engine/app/mast/models.py
  processing-engine/tests/test_mast_models_validation.py
Due: mypy

fix: document eslint exhaustive-deps suppressions per CLAUDE.md (#1103) (#1507)
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
Due: eslint, prettier

fix: treat whitespace-only search as "no search" (#1357)
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
Due: none

fix: distinguish client-cancel from timeout in TaskCanceledException handlers (#1372) (#1503)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
Due: none

fix: treat whitespace-only search as "no search" (#1357) (#1508)
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
Due: none

fix: rename `_filters` to `filters` and wire it through (#1388)
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
Due: mypy

fix: reject empty user-id in authenticated JwstData query (#1356)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
Due: none

fix: separate "cached over-budget" title from "output reduced" (#1444)
  frontend/jwst-frontend/src/components/CompositeWarningBanner.test.tsx
  frontend/jwst-frontend/src/components/CompositeWarningBanner.tsx
Due: eslint, prettier

fix: surface composite warning on anonymous export path (#1445)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: retry transient embedding model loads with bounded backoff (#1102)
  processing-engine/app/semantic/embedding_service.py
  processing-engine/tests/test_embedding_service.py
Due: mypy

fix: rename `_filters` to `filters` and wire it through (#1388) (#1509)
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
Due: mypy

fix: reject empty user-id in authenticated JwstData query (#1356) (#1510)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
Due: none

fix: separate "cached over-budget" title from "output reduced" (#1444) (#1511)
  frontend/jwst-frontend/src/components/CompositeWarningBanner.test.tsx
  frontend/jwst-frontend/src/components/CompositeWarningBanner.tsx
Due: eslint, prettier

fix: surface composite warning on anonymous export path (#1445) (#1512)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: retry transient embedding model loads with bounded backoff (#1102) (#1513)
  processing-engine/app/semantic/embedding_service.py
  processing-engine/tests/test_embedding_service.py
Due: mypy

fix: wrap get_data_products exceptions in MASTServiceError (#1250)
  processing-engine/app/mast/mast_service.py
Due: mypy

fix: validate S3 keys before storage operations (#1258)
  processing-engine/app/storage/s3_storage.py
  processing-engine/tests/test_s3_storage.py
Due: mypy

fix: defensive manifest validation in MAST download methods (#1251)
  processing-engine/app/mast/mast_service.py
Due: mypy

fix: gate AuthContext debug logs behind import.meta.env.DEV (#1420)
  frontend/jwst-frontend/src/context/AuthContext.tsx
Due: eslint, prettier

docs: explain safe Docker rebuild after rollback (#1425)
  docs/deployment.md
Due: none

docs: explain safe Docker rebuild after rollback (#1425) (#1518)
  docs/deployment.md
Due: none

fix: wrap get_data_products exceptions in MASTServiceError (#1250) (#1514)
  processing-engine/app/mast/mast_service.py
Due: mypy

fix: validate S3 keys before storage operations (#1258) (#1515)
  processing-engine/app/storage/s3_storage.py
  processing-engine/tests/test_s3_storage.py
Due: mypy

fix: defensive manifest validation in MAST download methods (#1251) (#1516)
  processing-engine/app/mast/mast_service.py
Due: mypy

fix: gate AuthContext debug logs behind import.meta.env.DEV (#1420) (#1517)
  frontend/jwst-frontend/src/context/AuthContext.tsx
Due: eslint, prettier

fix: typed env-var helpers with clear startup errors (#1383, #1260, #1293)
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/routes.py
  processing-engine/app/config.py
  processing-engine/tests/test_config_env_helpers.py
Due: mypy

fix: surface silent stretch fallback in response header (#1394)
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

feat: add top-level React ErrorBoundary (#1366)
  frontend/jwst-frontend/src/components/ErrorBoundary.css
  frontend/jwst-frontend/src/components/ErrorBoundary.test.tsx
  frontend/jwst-frontend/src/components/ErrorBoundary.tsx
  frontend/jwst-frontend/src/index.tsx
Due: eslint, prettier

feat: log warning when MAST results may be truncated at pagesize (#1221)
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_mast_pagination.py
Due: mypy

fix: typed env-var helpers with clear startup errors (#1383, #1260, #1293) (#1519)
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/routes.py
  processing-engine/app/config.py
  processing-engine/tests/test_config_env_helpers.py
Due: mypy

fix: surface silent stretch fallback in response header (#1394) (#1520)
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

feat: add top-level React ErrorBoundary (#1366) (#1521)
  frontend/jwst-frontend/src/components/ErrorBoundary.css
  frontend/jwst-frontend/src/components/ErrorBoundary.test.tsx
  frontend/jwst-frontend/src/components/ErrorBoundary.tsx
  frontend/jwst-frontend/src/index.tsx
Due: eslint, prettier

feat: log warning when MAST results may be truncated at pagesize (#1221) (#1522)
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_mast_pagination.py
Due: mypy

docs(blog): fill gap with 13 posts from 2026-04-21 to 2026-05-17
  docs/blog/posts/2026-04-21.md
  docs/blog/posts/2026-04-24.md
  docs/blog/posts/2026-04-30.md
  docs/blog/posts/2026-05-01.md
  docs/blog/posts/2026-05-02.md
  docs/blog/posts/2026-05-03.md
  docs/blog/posts/2026-05-04.md
  docs/blog/posts/2026-05-06.md
  docs/blog/posts/2026-05-08.md
  docs/blog/posts/2026-05-12.md
  docs/blog/posts/2026-05-15.md
  docs/blog/posts/2026-05-16.md
  docs/blog/posts/2026-05-17.md
Due: none

fix: load embedding model outside FAISS lock to avoid service-wide stall (#1524)
  docs/plans/features/quick/1524-faiss-lock-during-retry.md
  processing-engine/app/semantic/embedding_service.py
  processing-engine/tests/test_embedding_service.py
Due: mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
