Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

docs: fix 9 roadmap discrepancies found during plan-vs-code audit
  docs/development-plan.md
Due: none

docs: add v1 plans — guided discovery, color mapping research, job queue progress
  docs/plans/color-mapping-research.md
  docs/plans/guided-discovery-experience.md
  docs/plans/job-queue-websocket-progress.md
  mkdocs.yml
Due: none

docs: add v1 plans — guided discovery, color mapping research, job queue progress (#485)
  docs/plans/color-mapping-research.md
  docs/plans/guided-discovery-experience.md
  docs/plans/job-queue-websocket-progress.md
  mkdocs.yml
Due: none

docs: add architecture assessment and risk analysis to guided discovery plan
  docs/plans/guided-discovery-experience.md
Due: none

docs: add architecture assessment and risk analysis to guided discovery plan (#486)
  docs/plans/guided-discovery-experience.md
Due: none

feat: add async mosaic export and save with job queue and SignalR progress (Phase 5)
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicQueueTests.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicQueue.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/services/mosaicService.ts
  frontend/jwst-frontend/src/types/MastTypes.ts
Due: eslint, prettier

fix: address deep review findings — bugs, validation, dead code, test gaps
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/services/mosaicService.test.ts
Due: eslint, prettier

fix: convert Save FITS button to filling progress bar and fix alignment
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
Due: eslint, prettier

fix: remove hardcoded 0.0 MB from mosaic save success message
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
Due: eslint, prettier

fix: pass real file size through job completion message for mosaic save
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
Due: eslint, prettier

fix: align mosaic action buttons with flex stretch
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
Due: prettier

docs: add large mosaic generation resilience to roadmap
  docs/development-plan.md
Due: none

fix: move mosaic generation error to preview area with better messages
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
Due: eslint, prettier

fix: parse processing engine JSON errors into clean user messages
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
Due: eslint, prettier

fix: add opaque background to mosaic generation error overlay
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
Due: prettier

fix: resolve StyleCop warnings in mosaic/composite services and tests
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Services/MosaicQueue.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
Due: none

fix: resolve all frontend lint warnings (22 → 0)
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useSimulatedProgress.ts
Due: eslint, prettier

fix: make export and save buttons equal width with flex: 1
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
Due: prettier

revert: remove flex: 1 from export/save buttons
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
Due: prettier

feat: add async mosaic export and save with job queue and SignalR progress (Phase 5) (#487)
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicQueueTests.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicQueue.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/hooks/useSimulatedProgress.ts
  frontend/jwst-frontend/src/services/mosaicService.test.ts
  frontend/jwst-frontend/src/services/mosaicService.ts
  frontend/jwst-frontend/src/types/MastTypes.ts
Due: eslint, prettier

feat: cap mosaic preview resolution to 2048px with structured timing logs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  docs/development-plan.md
Due: none

feat: cap mosaic preview resolution to 2048px with structured timing logs (#488)
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  docs/development-plan.md
Due: none

fix: replace Task.Delay with TaskCompletionSource in dual-write tests
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
Due: none

fix: replace Task.Delay with TaskCompletionSource in dual-write tests (#489)
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
Due: none

feat: add React Router routes and shared layout shell (Phase A)
  docs/plans/ux-specs/01-layout-shell-and-discovery-home.md
  docs/plans/ux-specs/02-target-detail-and-guided-creation.md
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.css
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/pages/index.test.ts
  frontend/jwst-frontend/src/pages/index.ts
Due: eslint, prettier

feat: add chromatic ordering, recipe engine, and DiscoveryController (Phase B)
  backend/JwstDataAnalysis.API.Tests/Controllers/DiscoveryControllerTests.cs
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/DiscoveryService.cs
  backend/JwstDataAnalysis.API/Services/IDiscoveryService.cs
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/discovery/__init__.py
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/main.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy

fix: address PR review — brand text, skip-to-content, 404 route, aria-label
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
Due: eslint, prettier

feat: add React Router routes and shared layout shell (Guided Discovery Phase A) (#490)
  docs/plans/ux-specs/01-layout-shell-and-discovery-home.md
  docs/plans/ux-specs/02-target-detail-and-guided-creation.md
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.css
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/pages/index.test.ts
  frontend/jwst-frontend/src/pages/index.ts
Due: eslint, prettier

feat: add chromatic ordering, recipe engine, and DiscoveryController (Phase B) (#491)
  backend/JwstDataAnalysis.API.Tests/Controllers/DiscoveryControllerTests.cs
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/DiscoveryService.cs
  backend/JwstDataAnalysis.API/Services/IDiscoveryService.cs
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/discovery/__init__.py
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/main.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy

feat: implement discovery home, target detail, and guided creation pages (Phase C)
  frontend/jwst-frontend/src/components/discovery/ObservationList.css
  frontend/jwst-frontend/src/components/discovery/ObservationList.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/discovery/SearchBar.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.css
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCardGrid.css
  frontend/jwst-frontend/src/components/discovery/TargetCardGrid.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.css
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.tsx
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.css
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.tsx
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/discoveryService.ts
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: add focus-visible states and improve adjustment button logic
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
Due: eslint, prettier

feat: implement discovery pages and guided creation flow (Phase C) (#492)
  frontend/jwst-frontend/src/components/discovery/ObservationList.css
  frontend/jwst-frontend/src/components/discovery/ObservationList.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/discovery/SearchBar.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.css
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCardGrid.css
  frontend/jwst-frontend/src/components/discovery/TargetCardGrid.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.css
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.tsx
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.css
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.tsx
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/discoveryService.ts
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
