Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

chore: March 2026 git history audit and audit folder structure (#562)
  docs/audits/2026-01-31-git-history-audit.md
  docs/audits/2026-03-02-git-history-audit.md
  mkdocs.yml
Due: none

fix: resolve E2E test failures in viewer, export, and auth refresh
  frontend/jwst-frontend/e2e/export.spec.ts
  frontend/jwst-frontend/e2e/fits-viewer.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/e2e/ux-regression.spec.ts
  frontend/jwst-frontend/e2e/viewer-tools.spec.ts
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: resolve E2E test failures in viewer, export, and auth refresh (#563)
  frontend/jwst-frontend/e2e/export.spec.ts
  frontend/jwst-frontend/e2e/fits-viewer.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/e2e/ux-regression.spec.ts
  frontend/jwst-frontend/e2e/viewer-tools.spec.ts
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: add missing authorization checks across backend and processing engine
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_mast_service_security.py
Due: mypy

fix: use noqa for ruff ARG002 in parametrized test description arg
  processing-engine/tests/test_mast_service_security.py
Due: mypy

feat: allow anonymous mosaic generation for public data and add security model docs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  docs/architecture/index.md
  docs/architecture/security-model.md
  mkdocs.yml
Due: none

fix: add missing authorization checks across backend and processing engine (#564)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  docs/architecture/index.md
  docs/architecture/security-model.md
  mkdocs.yml
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_mast_service_security.py
Due: mypy

fix: add missing authorization checks for issues #565-#570
  backend/JwstDataAnalysis.API.Tests/Controllers/DataManagementControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
Due: none

docs: update security-model.md to reflect fixed authorization gaps
  docs/architecture/security-model.md
Due: none

refactor: simplify authorization code from review findings
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
Due: none

fix: add missing authorization checks for issues #565-#570 (#573)
  backend/JwstDataAnalysis.API.Tests/Controllers/DataManagementControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  docs/architecture/security-model.md
Due: none

feat: enrich 28 blog posts with Developer Journal sections from Slack
  docs/blog/MILESTONES.md
  docs/blog/posts/2026-01-13.md
  docs/blog/posts/2026-01-20.md
  docs/blog/posts/2026-01-22.md
  docs/blog/posts/2026-01-28.md
  docs/blog/posts/2026-01-29.md
  docs/blog/posts/2026-01-30.md
  docs/blog/posts/2026-01-31.md
  docs/blog/posts/2026-02-01.md
  docs/blog/posts/2026-02-02.md
  docs/blog/posts/2026-02-03.md
  docs/blog/posts/2026-02-06.md
  docs/blog/posts/2026-02-07.md
  docs/blog/posts/2026-02-08.md
  docs/blog/posts/2026-02-09.md
  docs/blog/posts/2026-02-11.md
  docs/blog/posts/2026-02-12.md
  docs/blog/posts/2026-02-13.md
  docs/blog/posts/2026-02-14.md
  docs/blog/posts/2026-02-15.md
  docs/blog/posts/2026-02-16.md
  docs/blog/posts/2026-02-17.md
  docs/blog/posts/2026-02-22.md
  docs/blog/posts/2026-02-23.md
  docs/blog/posts/2026-02-24.md
  docs/blog/posts/2026-02-25.md
  docs/blog/posts/2026-02-26.md
  docs/blog/posts/2026-02-28.md
  docs/blog/posts/2026-03-02.md
Due: none

feat: enrich 28 blog posts with Developer Journal sections from Slack (#577)
  docs/blog/MILESTONES.md
  docs/blog/posts/2026-01-13.md
  docs/blog/posts/2026-01-20.md
  docs/blog/posts/2026-01-22.md
  docs/blog/posts/2026-01-28.md
  docs/blog/posts/2026-01-29.md
  docs/blog/posts/2026-01-30.md
  docs/blog/posts/2026-01-31.md
  docs/blog/posts/2026-02-01.md
  docs/blog/posts/2026-02-02.md
  docs/blog/posts/2026-02-03.md
  docs/blog/posts/2026-02-06.md
  docs/blog/posts/2026-02-07.md
  docs/blog/posts/2026-02-08.md
  docs/blog/posts/2026-02-09.md
  docs/blog/posts/2026-02-11.md
  docs/blog/posts/2026-02-12.md
  docs/blog/posts/2026-02-13.md
  docs/blog/posts/2026-02-14.md
  docs/blog/posts/2026-02-15.md
  docs/blog/posts/2026-02-16.md
  docs/blog/posts/2026-02-17.md
  docs/blog/posts/2026-02-22.md
  docs/blog/posts/2026-02-23.md
  docs/blog/posts/2026-02-24.md
  docs/blog/posts/2026-02-25.md
  docs/blog/posts/2026-02-26.md
  docs/blog/posts/2026-02-28.md
  docs/blog/posts/2026-03-02.md
Due: none

chore: remove 6 unwanted screenshots from blog images
  docs/blog/images/2026-01-15/IMG_0098.jpeg
  docs/blog/images/2026-01-15/image-2.png
  docs/blog/images/2026-01-15/image.png
  docs/blog/images/2026-02-09/image-5.png
  docs/blog/images/2026-03-02/image-7.png
  docs/blog/images/2026-03-02/image.png
  docs/blog/images/manifest.json
Due: none

chore: remove 2 more non-project screenshots
  docs/blog/images/2026-01-15/image-1.png
  docs/blog/images/2026-02-10/Screenshot 2026-02-10 at 11.22.41 PM.png
  docs/blog/images/manifest.json
Due: none

feat: wire blog screenshots into posts (Feb 1-9)
  docs/blog/posts/2026-02-01.md
  docs/blog/posts/2026-02-02.md
  docs/blog/posts/2026-02-03.md
  docs/blog/posts/2026-02-06.md
  docs/blog/posts/2026-02-07.md
  docs/blog/posts/2026-02-08.md
  docs/blog/posts/2026-02-09.md
Due: none

feat: wire blog screenshots into posts (Jan 13-31)
  docs/blog/posts/2026-01-13.md
  docs/blog/posts/2026-01-14.md
  docs/blog/posts/2026-01-20.md
  docs/blog/posts/2026-01-22.md
  docs/blog/posts/2026-01-27.md
  docs/blog/posts/2026-01-28.md
  docs/blog/posts/2026-01-29.md
  docs/blog/posts/2026-01-30.md
  docs/blog/posts/2026-01-31.md
Due: none

feat: wire blog screenshots into posts (Feb 12-24)
  docs/blog/posts/2026-02-12.md
  docs/blog/posts/2026-02-13.md
  docs/blog/posts/2026-02-14.md
  docs/blog/posts/2026-02-15.md
  docs/blog/posts/2026-02-16.md
  docs/blog/posts/2026-02-17.md
  docs/blog/posts/2026-02-22.md
  docs/blog/posts/2026-02-23.md
  docs/blog/posts/2026-02-24.md
Due: none

feat: wire blog screenshots into posts (Feb 18-19, 25-26)
  docs/blog/posts/2026-02-18.md
  docs/blog/posts/2026-02-25.md
  docs/blog/posts/2026-02-26.md
Due: none

feat: wire blog screenshots into posts (Mar 1-2)
  docs/blog/posts/2026-03-01.md
  docs/blog/posts/2026-03-02.md
Due: none

feat: add GitHub Pages deployment for mkdocs site
  .github/workflows/docs.yml
Due: none
