Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: harden filename sanitizer against URL-encoded and mid-name traversal
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/download_utils.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/tests/mast/test_download_utils.py
  processing-engine/tests/test_mast_service_security.py
  processing-engine/tests/test_s3_downloader.py
Due: mypy

fix: close multi-encoding and Unicode bypasses in filename sanitizer
  processing-engine/app/mast/download_utils.py
  processing-engine/tests/mast/test_download_utils.py
Due: mypy

fix: reject leading-dash and Windows reserved names in sanitizer
  processing-engine/app/mast/download_utils.py
  processing-engine/tests/mast/test_download_utils.py
Due: mypy

feat(ui): port JWST Discovery design-system primitives + retire AuthToast
  docs/key-files.md
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/AuthToast.css
  frontend/jwst-frontend/src/components/AuthToast.test.tsx
  frontend/jwst-frontend/src/components/AuthToast.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
  frontend/jwst-frontend/src/components/ui/EmptyState.css
  frontend/jwst-frontend/src/components/ui/EmptyState.tsx
  frontend/jwst-frontend/src/components/ui/Modal.css
  frontend/jwst-frontend/src/components/ui/Modal.tsx
  frontend/jwst-frontend/src/components/ui/Progress.css
  frontend/jwst-frontend/src/components/ui/Progress.tsx
  frontend/jwst-frontend/src/components/ui/README.md
  frontend/jwst-frontend/src/components/ui/Tooltip.css
  frontend/jwst-frontend/src/components/ui/Tooltip.tsx
  frontend/jwst-frontend/src/components/ui/toast.css
  frontend/jwst-frontend/src/components/ui/toast.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
Due: eslint, prettier

fix(target-detail): hide no-recipes empty state while recipes are still loading
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
Due: eslint, prettier

fix(target-detail): hide no-recipes empty state while recipes are still loading (#1377)
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
Due: eslint, prettier

feat(deploy): production environment configuration (#650)
  docker/.env.example
  docker/docker-compose.prod.yml
  docs/architecture/deployment-architecture.md
  docs/deployment.md
  docs/development-plan.md
  docs/key-files.md
  docs/plans/features/650-production-environment-configuration.md
  docs/quick-reference.md
  scripts/backup-mongo.sh
  scripts/restore-mongo.sh
  scripts/s3-iam-policy.json
  scripts/s3-lifecycle-policy.json
  scripts/server-setup-prod.sh
Due: none

docs(blog): fill gap with 20 posts from March 23 to April 23
  docs/blog/posts/2026-03-23.md
  docs/blog/posts/2026-03-24.md
  docs/blog/posts/2026-03-25.md
  docs/blog/posts/2026-03-31.md
  docs/blog/posts/2026-04-01.md
  docs/blog/posts/2026-04-02.md
  docs/blog/posts/2026-04-04.md
  docs/blog/posts/2026-04-05.md
  docs/blog/posts/2026-04-06.md
  docs/blog/posts/2026-04-07.md
  docs/blog/posts/2026-04-08.md
  docs/blog/posts/2026-04-09.md
  docs/blog/posts/2026-04-11.md
  docs/blog/posts/2026-04-12.md
  docs/blog/posts/2026-04-13.md
  docs/blog/posts/2026-04-14.md
  docs/blog/posts/2026-04-15.md
  docs/blog/posts/2026-04-16.md
  docs/blog/posts/2026-04-20.md
  docs/blog/posts/2026-04-23.md
Due: none

docs(blog): fill gap with 20 posts from March 23 to April 23 (#1413)
  docs/blog/posts/2026-03-23.md
  docs/blog/posts/2026-03-24.md
  docs/blog/posts/2026-03-25.md
  docs/blog/posts/2026-03-31.md
  docs/blog/posts/2026-04-01.md
  docs/blog/posts/2026-04-02.md
  docs/blog/posts/2026-04-04.md
  docs/blog/posts/2026-04-05.md
  docs/blog/posts/2026-04-06.md
  docs/blog/posts/2026-04-07.md
  docs/blog/posts/2026-04-08.md
  docs/blog/posts/2026-04-09.md
  docs/blog/posts/2026-04-11.md
  docs/blog/posts/2026-04-12.md
  docs/blog/posts/2026-04-13.md
  docs/blog/posts/2026-04-14.md
  docs/blog/posts/2026-04-15.md
  docs/blog/posts/2026-04-16.md
  docs/blog/posts/2026-04-20.md
  docs/blog/posts/2026-04-23.md
Due: none

ci: loosen PR Standards validator to remove three common false-positives
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
Due: none

feat(design): import JWST Discovery Design System
  README.md
  design/README.md
  design/SKILL.md
  design/assets/constellation_bg.png
  design/assets/deep-field-bg.jpg
  design/assets/deep-space.png
  design/assets/favicon.ico
  design/assets/jwst-background.png
  design/assets/logo192.png
  design/assets/logo512.png
  design/assets/manifest.json
  design/preview/badges.html
  design/preview/brand.html
  design/preview/buttons.html
  design/preview/cards.html
  design/preview/colors.html
  design/preview/feedback.html
  design/preview/forms.html
  design/preview/spacing.html
  design/preview/type.html
  design/screenshots/00-ui-kit-hero.png
  design/screenshots/01-colors.png
  design/screenshots/02-type.png
  design/screenshots/03-spacing.png
  design/screenshots/04-buttons.png
  design/screenshots/05-badges.png
  design/screenshots/06-forms.png
  design/screenshots/07-cards.png
  design/screenshots/08-feedback.png
  design/screenshots/09-brand.png
  design/tokens.css
  design/ui-kit/app.jsx
  design/ui-kit/index.html
Due: none

ci: loosen PR Standards validator to remove three common false-positives (#1414)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
Due: none

feat(design): import JWST Discovery Design System (#1415)
  README.md
  design/README.md
  design/SKILL.md
  design/assets/constellation_bg.png
  design/assets/deep-field-bg.jpg
  design/assets/deep-space.png
  design/assets/favicon.ico
  design/assets/jwst-background.png
  design/assets/logo192.png
  design/assets/logo512.png
  design/assets/manifest.json
  design/preview/badges.html
  design/preview/brand.html
  design/preview/buttons.html
  design/preview/cards.html
  design/preview/colors.html
  design/preview/feedback.html
  design/preview/forms.html
  design/preview/spacing.html
  design/preview/type.html
  design/screenshots/00-ui-kit-hero.png
  design/screenshots/01-colors.png
  design/screenshots/02-type.png
  design/screenshots/03-spacing.png
  design/screenshots/04-buttons.png
  design/screenshots/05-badges.png
  design/screenshots/06-forms.png
  design/screenshots/07-cards.png
  design/screenshots/08-feedback.png
  design/screenshots/09-brand.png
  design/tokens.css
  design/ui-kit/app.jsx
  design/ui-kit/index.html
Due: none

feat(deploy): production environment configuration (#650) (#1412)
  docker/.env.example
  docker/docker-compose.prod.yml
  docs/architecture/deployment-architecture.md
  docs/deployment.md
  docs/development-plan.md
  docs/key-files.md
  docs/plans/features/650-production-environment-configuration.md
  docs/quick-reference.md
  scripts/backup-mongo.sh
  scripts/restore-mongo.sh
  scripts/s3-iam-policy.json
  scripts/s3-lifecycle-policy.json
  scripts/server-setup-prod.sh
Due: none

feat(ui): port JWST Discovery design-system primitives + retire AuthToast (#1376)
  docs/key-files.md
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/AuthToast.css
  frontend/jwst-frontend/src/components/AuthToast.test.tsx
  frontend/jwst-frontend/src/components/AuthToast.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
  frontend/jwst-frontend/src/components/ui/EmptyState.css
  frontend/jwst-frontend/src/components/ui/EmptyState.tsx
  frontend/jwst-frontend/src/components/ui/Modal.css
  frontend/jwst-frontend/src/components/ui/Modal.tsx
  frontend/jwst-frontend/src/components/ui/Progress.css
  frontend/jwst-frontend/src/components/ui/Progress.tsx
  frontend/jwst-frontend/src/components/ui/README.md
  frontend/jwst-frontend/src/components/ui/Tooltip.css
  frontend/jwst-frontend/src/components/ui/Tooltip.tsx
  frontend/jwst-frontend/src/components/ui/toast.css
  frontend/jwst-frontend/src/components/ui/toast.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
Due: eslint, prettier

chore(skills): enforce one-question-per-AskUserQuestion in plan-{ceo,eng}-review
  .claude/skills/plan-ceo-review/SKILL.md
  .claude/skills/plan-eng-review/SKILL.md
Due: none

chore(skills): enforce one-question-per-AskUserQuestion in plan-{ceo,eng}-review (#1416)
  .claude/skills/plan-ceo-review/SKILL.md
  .claude/skills/plan-eng-review/SKILL.md
Due: none

docs: add apiClient auth hardening epic plan (#1349)
  docs/plans/features/apiClient-auth-hardening.md
Due: none

docs: add path-traversal hardening epic plan (#1350)
  docs/plans/features/path-traversal-hardening.md
Due: none

docs: add render-phase state mutations epic plan (#1351)
  docs/plans/features/render-phase-state-mutations.md
Due: none

test: add tests/mast/__init__.py so CI can import app.* from new test subdir
  processing-engine/tests/mast/__init__.py
Due: mypy

chore(hooks): pre-commit check for missing __init__.py in nested test dirs
  .githooks/pre-commit
Due: none

chore(hooks): pre-commit check for missing __init__.py in nested test dirs (#1418)
  .githooks/pre-commit
Due: none

fix: harden filename sanitizer against URL-encoded and mid-name traversal (#1095) (#1352)
  docs/plans/features/quick/1095-filename-sanitization-fix.md
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/download_utils.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/tests/mast/__init__.py
  processing-engine/tests/mast/test_download_utils.py
  processing-engine/tests/test_mast_service_security.py
  processing-engine/tests/test_s3_downloader.py
Due: mypy

chore: remove window.jwst and window.getAuthLogs debug helpers
  frontend/jwst-frontend/src/index.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

chore: remove window.jwst and window.getAuthLogs debug helpers (#1421)
  frontend/jwst-frontend/src/index.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

chore(docs): deploy workflow review for v1 CE (#652)
  docs/deploy-workflow-review.md
  docs/deployment.md
Due: none

chore(docs): deploy workflow review for v1 CE (#652) (#1422)
  docs/deploy-workflow-review.md
  docs/deployment.md
Due: none

fix(processing-engine): NGC-3324 composite OOM with hybrid downscale policy (#882)
  .github/workflows/composite-memory-test.yml
  docker/.env.example
  docker/docker-compose.yml
  docs/plans/features/882-ngc3324-composite-oom.md
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/pyproject.toml
  processing-engine/tests/test_analyze_channels.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_composite_estimate.py
  processing-engine/tests/test_composite_memory_rss.py
Due: mypy

fix(processing-engine): NGC-3324 composite OOM with hybrid downscale policy (#882) (#1440)
  .github/workflows/composite-memory-test.yml
  docker/.env.example
  docker/docker-compose.yml
  docs/plans/features/882-ngc3324-composite-oom.md
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/pyproject.toml
  processing-engine/tests/test_analyze_channels.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_composite_estimate.py
  processing-engine/tests/test_composite_memory_rss.py
Due: mypy

fix(backend): propagate engine 413 + composite headers + add /api/composite/estimate (#882)
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/CompositeBudgetExceededException.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
Due: none

fix(backend): propagate engine 413 + composite headers + add /api/composite/estimate (#882) (#1442)
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/CompositeBudgetExceededException.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
Due: none

feat(frontend): surface composite memory-budget warnings + recipe walkthrough preflight (#882)
  frontend/jwst-frontend/eslint.config.js
  frontend/jwst-frontend/src/components/CompositeWarningBanner.css
  frontend/jwst-frontend/src/components/CompositeWarningBanner.test.tsx
  frontend/jwst-frontend/src/components/CompositeWarningBanner.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  scripts/recipe-walkthrough.py
Due: eslint, prettier

feat(frontend): surface composite memory-budget warnings + recipe walkthrough preflight (#882) (#1443)
  frontend/jwst-frontend/eslint.config.js
  frontend/jwst-frontend/src/components/CompositeWarningBanner.css
  frontend/jwst-frontend/src/components/CompositeWarningBanner.test.tsx
  frontend/jwst-frontend/src/components/CompositeWarningBanner.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.test.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  scripts/recipe-walkthrough.py
Due: eslint, prettier

feat: 'Continue anyway' override for composite memory-budget 413 (#1450)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ProcessingErrorMessagesTests.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ProcessingErrorMessages.cs
  docs/plans/features/1450-continue-anyway-composite-override.md
  frontend/jwst-frontend/src/components/CompositeWarningBanner.test.tsx
  frontend/jwst-frontend/src/components/CompositeWarningBanner.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

feat: 'Continue anyway' override for composite memory-budget 413 (#1450) (#1452)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ProcessingErrorMessagesTests.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ProcessingErrorMessages.cs
  docs/plans/features/1450-continue-anyway-composite-override.md
  frontend/jwst-frontend/src/components/CompositeWarningBanner.test.tsx
  frontend/jwst-frontend/src/components/CompositeWarningBanner.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

feat(frontend): wavelength ribbon on Process step (#1453)
  docs/plans/features/quick/1453-wavelength-ribbon-process-step.md
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

docs(audit): monthly git history audit 2026-05-01
  docs/audits/2026-05-01-git-history-audit.md
Due: none

fix(frontend): wavelength ribbon clipping + aria-live SR spam
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.test.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
Due: eslint, prettier

docs: update #1453 plan for calc()-positioning + aria-hidden
  docs/plans/features/quick/1453-wavelength-ribbon-process-step.md
Due: none
