Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: extract MAST proxy into separate lightweight service
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/MastProxyHealthCheck.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docker/docker-compose.override.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.staging.yml
  docker/docker-compose.yml
  docs/architecture/docker-compose.md
  docs/architecture/processing-engine.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  processing-engine/Dockerfile
  processing-engine/Dockerfile.mast
  processing-engine/main.py
  processing-engine/main_mast.py
  processing-engine/requirements-mast.txt
Due: mypy

fix: update MAST resume tests to use main_mast app
  processing-engine/tests/test_resume_race_condition.py
Due: mypy

fix: allow anonymous composite creation when data already exists
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

test: add E2E tests for anonymous guided create flow
  frontend/jwst-frontend/e2e/guided-create.spec.ts
Due: none

feat: show file and channel counts in composite processing step
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: extract MAST proxy into separate lightweight service (#734)
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/MastProxyHealthCheck.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docker/docker-compose.override.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.staging.yml
  docker/docker-compose.yml
  docs/architecture/docker-compose.md
  docs/architecture/processing-engine.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  processing-engine/Dockerfile
  processing-engine/Dockerfile.mast
  processing-engine/main.py
  processing-engine/main_mast.py
  processing-engine/requirements-mast.txt
  processing-engine/tests/test_resume_race_condition.py
Due: eslint, prettier, mypy

fix: use robust normalization and zscale for guided create composites
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/processing/enhancement.py
Due: eslint, prettier, mypy

fix: address code review findings for robust stretch normalization
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/processing/enhancement.py
  processing-engine/tests/test_enhancement.py
Due: eslint, prettier, mypy

fix: switch guided create back to asinh with higher softening
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

fix: use NASA Press preset for guided create + fix color picker clipping
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

chore: remove unused GUIDED_CHANNEL_PARAMS constant
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

feat: add freeform rotation with editable degree input
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

test: update E2E rotation tests for freeform input controls
  docs/plans/features/auto-stretch-detection.md
  frontend/jwst-frontend/e2e/guided-create.spec.ts
Due: none

fix: use robust normalization and zscale for guided create composites (#735)
  docs/plans/features/auto-stretch-detection.md
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/processing/enhancement.py
  processing-engine/tests/test_enhancement.py
Due: eslint, prettier, mypy

fix: resolve E2E test failures in guided-create and mast-download suites
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
Due: none

feat: replace all alert() and window.confirm() with toast notifications
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
Due: eslint, prettier

fix: resolve E2E test failures in guided-create and mast-download suites (#737)
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
Due: none

docs: add validated codebase review with security assessment
  docs/audits/2026-03-08-codebase-review.md
Due: none

docs: add validated codebase review with security assessment (#739)
  docs/audits/2026-03-08-codebase-review.md
Due: none

docs: add codebase review issues to development plan
  docs/development-plan.md
Due: none

docs: add codebase review issues to development plan (#752)
  docs/development-plan.md
Due: none

feat: replace all alert() and window.confirm() with toast notifications (#738)
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
Due: eslint, prettier

feat: add inline observation mosaic fallback for composite pipeline
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/ObservationMosaicInProgressException.cs
  backend/JwstDataAnalysis.API/Services/ObservationMosaicTracker.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

fix: address code review findings for observation mosaic
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  processing-engine/app/mosaic/models.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
Due: mypy

feat: add SignalR progress tracking for observation mosaic generation
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
Due: eslint, prettier

fix: address code review findings for observation mosaic
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

feat: pre-compute observation mosaics for large targets
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/ObservationMosaicSettings.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MosaicModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicQueue.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docs/development-plan.md
  docs/key-files.md
  docs/plans/features/observation-mosaic-precompute.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  docs/standards/processing-engine.md
  processing-engine/app/mosaic/models.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
Due: mypy

fix: allow anonymous users to create composites when data already exists
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: pre-compute observation mosaics for large targets (#732)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/ObservationMosaicSettings.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MosaicModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicQueue.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docs/development-plan.md
  docs/key-files.md
  docs/plans/features/observation-mosaic-precompute.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  docs/standards/processing-engine.md
  processing-engine/app/mosaic/models.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
Due: mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
