Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

docs: describe render memory rejection behavior
  docs/plans/exploration/desktop-requirements.md
  docs/quick-reference.md
Due: none

fix: evict expired composite entries on cross-budget reads
  processing-engine/app/composite/cache.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

docs: record render memory guard validation
  docs/plans/design/1105-zoom-memory-guard.md
  docs/plans/features/quick/1105-zoom-memory-guard.md
Due: none

fix: handle malformed FITS TDIM metadata consistently
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_table_routes.py
Due: mypy

docs: plan Python Docker base-image repair
  docs/plans/features/python-bookworm.md
Due: none

fix: move Python Docker images from Bullseye to Bookworm
  processing-engine/Dockerfile
  processing-engine/Dockerfile.mast
Due: none

fix: restore Python Docker builds with Bookworm (#1990)
  docs/plans/features/python-bookworm.md
  processing-engine/Dockerfile
  processing-engine/Dockerfile.mast
Due: none

docs: plan revision-specific danger approval
  docs/plans/design/revision-danger-approval.md
  docs/plans/features/revision-danger-approval.md
  docs/plans/intent/revision-danger-approval.md
Due: none

fix: bind danger approval to the reviewed PR revision
  .claude/sdlc.json
  .github/scripts/danger-approval.cjs
  .github/scripts/danger-approval.test.cjs
  .github/scripts/danger-zone.cjs
  .github/scripts/danger-zone.test.cjs
  .github/workflows/danger-zone.yml
  REVIEW.md
  tests/fixtures/danger-approval.json
Due: none

fix: bind danger approval to the reviewed PR revision (#1992)
  .claude/sdlc.json
  .github/scripts/danger-approval.cjs
  .github/scripts/danger-approval.test.cjs
  .github/scripts/danger-zone.cjs
  .github/scripts/danger-zone.test.cjs
  .github/workflows/danger-zone.yml
  REVIEW.md
  docs/plans/design/revision-danger-approval.md
  docs/plans/features/revision-danger-approval.md
  docs/plans/intent/revision-danger-approval.md
  tests/fixtures/danger-approval.json
Due: none

fix: use event id instead of timestamp equality in fromEvent() (#1994)
  .github/scripts/danger-approval.cjs
Due: none

fix: handle malformed FITS TDIM metadata consistently (#1989)
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_table_routes.py
Due: mypy

fix: evict expired composite entries on cross-budget reads (#1988)
  processing-engine/app/composite/cache.py
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

fix: guard render zoom allocations against memory exhaustion (#1987)
  docs/plans/design/1105-zoom-memory-guard.md
  docs/plans/exploration/desktop-requirements.md
  docs/plans/features/quick/1105-zoom-memory-guard.md
  docs/quick-reference.md
  processing-engine/app/diagnostics.py
  processing-engine/app/render/routes.py
  processing-engine/tests/test_render_memory.py
Due: mypy

fix: bound thumbnail queue with async back-pressure (#1986)
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/StartupScanBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailQueueTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/IThumbnailQueue.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/StartupScanBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailQueue.cs
  docs/architecture/backend-service-layer.md
  docs/architecture/concurrency-model.md
  docs/plans/design/card-1104.md
  docs/plans/features/card-1104.md
Due: none

docs: capture intent for Python auth foundation
  docs/plans/intent/card-1991.md
Due: none

docs: specify Python auth contract and rollout boundary
  docs/plans/design/card-1991.md
Due: none

docs: plan and review Python auth foundation
  docs/plans/features/card-1991.md
Due: none

fix: restore CodeQL-recognized path sanitizer in ensure_within
  processing-engine/app/mast/path_security.py
Due: mypy

feat: port Python register login and refresh behind development opt-in
  processing-engine/app/auth/__init__.py
  processing-engine/app/auth/deps.py
  processing-engine/app/auth/models.py
  processing-engine/app/auth/routes.py
  processing-engine/app/auth/service.py
  processing-engine/app/db/users.py
  processing-engine/tests/db/test_users.py
  processing-engine/tests/test_auth_port.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

docs: record auth port validation and production activation boundary
  docs/architecture/adr/0001-collapse-to-python-single-backend.md
  docs/key-files.md
  docs/plans/features/card-1991.md
  docs/plans/intent/card-1991.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

fix: gate the shared path sanitizer as a danger zone
  .claude/sdlc.json
  .github/scripts/danger-zone.test.cjs
Due: none

fix: handle missing legacy auth fields and update router comment
  docs/plans/features/card-1991.md
  processing-engine/app/auth/service.py
  processing-engine/app/db/users.py
  processing-engine/main.py
  processing-engine/tests/db/test_users.py
  processing-engine/tests/test_auth_port.py
Due: mypy

test: fix flaky SkyMap survey-switch assertion
  docs/plans/features/quick/skymap-flaky-test.md
  frontend/jwst-frontend/src/components/mast/map/SkyMap.test.tsx
Due: eslint, prettier

test: fix flaky SkyMap survey-switch assertion (#2019)
  docs/plans/features/quick/skymap-flaky-test.md
  frontend/jwst-frontend/src/components/mast/map/SkyMap.test.tsx
Due: eslint, prettier

feat: complete Python auth foundation for ADR 0001 Phase 1 (#1998)
  docs/architecture/adr/0001-collapse-to-python-single-backend.md
  docs/key-files.md
  docs/plans/design/card-1991.md
  docs/plans/features/card-1991.md
  docs/plans/intent/card-1991.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  processing-engine/app/auth/__init__.py
  processing-engine/app/auth/deps.py
  processing-engine/app/auth/models.py
  processing-engine/app/auth/routes.py
  processing-engine/app/auth/service.py
  processing-engine/app/db/users.py
  processing-engine/main.py
  processing-engine/tests/db/test_users.py
  processing-engine/tests/test_auth_port.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

chore: add Owner summary section to PR bodies (warning-only trial)
  .claude/skills/git-workflow/SKILL.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
  CONTRIBUTING.md
  docs/architecture/build-pipeline.md
Due: none

fix: reject an empty Risk:/Rollback: value in the PR validator
  .github/scripts/validate-pr.js
Due: none

chore: add Owner summary section to PR bodies (warning-only trial) (#2023)
  .claude/skills/git-workflow/SKILL.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
  CONTRIBUTING.md
  docs/architecture/build-pipeline.md
Due: none

fix: reject an empty Risk:/Rollback: value in the PR validator (#2024)
  .github/scripts/validate-pr.js
Due: none

feat: lockout parity and admin unlock in the Python auth port (#1186)
  processing-engine/app/auth/__init__.py
  processing-engine/app/auth/deps.py
  processing-engine/app/auth/models.py
  processing-engine/app/auth/routes.py
  processing-engine/app/auth/service.py
  processing-engine/app/db/users.py
  processing-engine/tests/db/test_users.py
  processing-engine/tests/test_auth_port.py
Due: mypy

docs: spec and reference updates for Python lockout parity (#1186)
  docs/key-files.md
  docs/plans/design/card-1186.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

fix: harden MAST URI and local storage path validation (#1985)
  .claude/sdlc.json
  .github/scripts/danger-zone.test.cjs
  docs/key-files.md
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/path_security.py
  processing-engine/app/storage/local_storage.py
  processing-engine/tests/test_mast_service_security.py
  processing-engine/tests/test_storage.py
Due: mypy

feat: danger gate removes stale approval label and posts a status comment
  .github/scripts/danger-approval.test.cjs
  .github/scripts/danger-status.cjs
  .github/scripts/danger-status.test.cjs
  .github/scripts/danger-zone.cjs
  .github/workflows/danger-zone.yml
  AGENTS.md
  REVIEW.md
  docs/plans/design/danger-gate-owner-ux.md
  docs/plans/features/quick/danger-gate-owner-ux.md
Due: none

feat: danger gate removes stale approval label and posts a status comment (#2026)
  .github/scripts/danger-approval.test.cjs
  .github/scripts/danger-status.cjs
  .github/scripts/danger-status.test.cjs
  .github/scripts/danger-zone.cjs
  .github/workflows/danger-zone.yml
  AGENTS.md
  REVIEW.md
  docs/plans/design/danger-gate-owner-ux.md
  docs/plans/features/quick/danger-gate-owner-ux.md
Due: none

feat: lockout parity and admin unlock in the Python auth port (#1186) (#2025)
  docs/key-files.md
  docs/plans/design/card-1186.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  processing-engine/app/auth/__init__.py
  processing-engine/app/auth/deps.py
  processing-engine/app/auth/models.py
  processing-engine/app/auth/routes.py
  processing-engine/app/auth/service.py
  processing-engine/app/db/users.py
  processing-engine/tests/db/test_users.py
  processing-engine/tests/test_auth_port.py
Due: mypy

feat: release the danger gate for Dependabot action bumps
  .claude/sdlc.json
  .github/scripts/danger-zone.cjs
  .github/scripts/danger-zone.test.cjs
  AGENTS.md
  docs/plans/design/danger-gate-dependabot-exemption.md
  docs/plans/features/quick/danger-gate-dependabot-exemption.md
Due: none

feat: release the danger gate for Dependabot action bumps (#2046)
  .claude/sdlc.json
  .github/scripts/danger-zone.cjs
  .github/scripts/danger-zone.test.cjs
  AGENTS.md
  docs/plans/design/danger-gate-dependabot-exemption.md
  docs/plans/features/quick/danger-gate-dependabot-exemption.md
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
