Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

feat: add localStorage caching for searchByTarget and suggestRecipes (#618)
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
  frontend/jwst-frontend/src/services/mastService.test.ts
  frontend/jwst-frontend/src/services/mastService.ts
Due: eslint, prettier

feat: add LRU eviction and cache stats to localStorage cache (#619)
  frontend/jwst-frontend/src/utils/cacheUtils.test.ts
  frontend/jwst-frontend/src/utils/cacheUtils.ts
Due: eslint, prettier

docs: add deploy workflow review to Phase 7 roadmap
  docs/development-plan.md
Due: none

chore: add .obsidian and output to .gitignore, commit exploration doc
  .gitignore
  docs/plans/exploration/claude-code-agents-evaluation.md
Due: none

docs: add deploy workflow review to Phase 7 roadmap (#623)
  docs/development-plan.md
Due: none

chore: add .obsidian and output to .gitignore, commit exploration doc (#624)
  .gitignore
  docs/plans/exploration/claude-code-agents-evaluation.md
Due: none

fix: redirect to discovery page after sign out instead of login
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/src/components/UserMenu.tsx
Due: eslint, prettier

fix: redirect to discovery page after sign out instead of login (#625)
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/src/components/UserMenu.tsx
Due: eslint, prettier

feat: add selective discovery prefetch & validation script
  processing-engine/scripts/prefetch_discovery.py
  scripts/prefetch-discovery.sh
Due: mypy

feat: add selective discovery prefetch & validation script (#626)
  processing-engine/scripts/prefetch_discovery.py
  scripts/prefetch-discovery.sh
Due: mypy

fix: remove Jupiter from featured targets (solar system resolution fails)
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  docs/plans/exploration/processing-engine-scaling.md
  docs/standards/backend-development.md
Due: none

fix: remove Jupiter from featured targets (solar system resolution fails) (#628)
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  docs/plans/exploration/processing-engine-scaling.md
  docs/standards/backend-development.md
Due: none

fix: handle NIRCam compound filter names in prefetch discovery
  processing-engine/scripts/prefetch_discovery.py
Due: mypy

feat: add instrument filter and instrument badges to library page
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

fix: handle NIRCam compound filter names in prefetch discovery (#629)
  processing-engine/scripts/prefetch_discovery.py
Due: mypy

feat: add instrument filter and instrument badges to library page (#630)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

feat: group instrument filter by instrument with mode sub-options
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

feat: group instrument filter by instrument with mode sub-options (#631)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

fix: deprioritize cross-instrument composite recipes
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix: skip duplicate broadband/narrowband recipes when identical to all-filter recipe
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

refactor: standardize 30px icon buttons with .btn-icon-sm class (#609)
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

docs: mark P19.5 complete in development plan
  docs/development-plan.md
Due: none

fix: include all branches in git log for devblog commit detection
  scripts/generate-session-blog.sh
Due: none

fix: deprioritize cross-instrument composite recipes (#632)
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

refactor: standardize 30px icon buttons with .btn-icon-sm class (#633)
  docs/development-plan.md
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

fix: include all branches in git log for devblog commit detection (#634)
  scripts/generate-session-blog.sh
Due: none

docs: add enriched blog post for 2026-03-04
  docs/blog/MILESTONES.md
  docs/blog/images/2026-03-04/image-2.png
  docs/blog/images/2026-03-04/image-3.png
  docs/blog/images/2026-03-04/image-4.png
  docs/blog/images/2026-03-04/image-5.png
  docs/blog/images/2026-03-04/image-6.png
  docs/blog/images/2026-03-04/image.png
  docs/blog/images/manifest.json
  docs/blog/posts/2026-03-04.md
Due: none

docs: enrich devblog channel setup narrative in journal
  docs/blog/posts/2026-03-04.md
Due: none
