Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

docs: add NASA NGC 5134 image to March 5 blog post (#694)
  docs/blog/posts/2026-03-05.md
Due: none

docs: fix stale documentation across project
  .github/PULL_REQUEST_TEMPLATE.md
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/README.md
Due: none

docs: fix stale documentation across project (#695)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/README.md
Due: none

feat: add FITS semantic search (RAG) across all 3 stacks
  backend/JwstDataAnalysis.API/Controllers/SearchController.cs
  backend/JwstDataAnalysis.API/Models/SemanticSearchModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/EmbeddingBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/EmbeddingQueue.cs
  backend/JwstDataAnalysis.API/Services/ISemanticSearchService.cs
  backend/JwstDataAnalysis.API/Services/SemanticSearchService.cs
  docker/docker-compose.yml
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/components/search/SearchResults.css
  frontend/jwst-frontend/src/components/search/SearchResults.tsx
  frontend/jwst-frontend/src/components/search/SemanticSearchBar.css
  frontend/jwst-frontend/src/components/search/SemanticSearchBar.tsx
  frontend/jwst-frontend/src/pages/SearchPage.css
  frontend/jwst-frontend/src/pages/SearchPage.tsx
  frontend/jwst-frontend/src/pages/index.ts
  frontend/jwst-frontend/src/services/semanticSearchService.ts
  frontend/jwst-frontend/src/types/SearchTypes.ts
  processing-engine/Dockerfile
  processing-engine/app/semantic/__init__.py
  processing-engine/app/semantic/embedding_service.py
  processing-engine/app/semantic/models.py
  processing-engine/app/semantic/routes.py
  processing-engine/app/semantic/text_builder.py
  processing-engine/main.py
  processing-engine/requirements.txt
Due: eslint, prettier, mypy

fix: address deep review findings for semantic search
  backend/JwstDataAnalysis.API/Models/SemanticSearchModels.cs
  backend/JwstDataAnalysis.API/Services/SemanticSearchService.cs
  docs/architecture/security-model.md
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/src/components/search/SemanticSearchBar.css
  frontend/jwst-frontend/src/components/search/SemanticSearchBar.tsx
  frontend/jwst-frontend/src/pages/SearchPage.tsx
  processing-engine/app/semantic/embedding_service.py
  processing-engine/app/semantic/models.py
  processing-engine/app/semantic/routes.py
Due: eslint, prettier, mypy

chore: pin semantic search dep upper bounds, track review issues
  docs/development-plan.md
  processing-engine/requirements.txt
Due: none

docs: update March 3 and March 5 blog post text
  docs/blog/posts/2026-03-03.md
  docs/blog/posts/2026-03-05.md
Due: none

fix: disable View button for files with non-completed processing status
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

feat: polish search page UI — underline tabs, consistent shadows, skeleton loading
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.css
Due: eslint, prettier

fix: check filePath instead of processingStatus for View button
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

ci: switch Docker build cache from mode=min to mode=max
  .github/workflows/ci.yml
Due: none

fix: scope JWST filter presets to active target instead of all images
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
Due: eslint, prettier

fix: add "Browse without signing in" link to login and register pages
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: prevent OOM crash on 4K composite export via cache fallback
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/routes.py
Due: mypy

docs: add comprehensive deep codebase review
  CODEBASE_REVIEW.md
Due: none

fix: make guest browsing option more prominent on auth pages
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: scope JWST filter presets to active target (#722)
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/LoginPage.tsx
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

fix: address code review findings for resilience PR
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/ProcessingErrorMessages.cs
Due: none

fix: add retry policies and user-friendly error messages for processing engine
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

feat: add memory monitoring to processing engine for OOM debugging
  docker/docker-compose.yml
  docs/key-files.md
  processing-engine/app/composite/routes.py
  processing-engine/app/diagnostics.py
  processing-engine/app/mosaic/routes.py
  processing-engine/requirements.txt
Due: mypy

fix: add retry policies and user-friendly errors for processing engine (#727)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/ProcessingErrorMessages.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

feat: add memory monitoring to processing engine for OOM debugging (#729)
  docker/docker-compose.yml
  docs/key-files.md
  processing-engine/app/composite/routes.py
  processing-engine/app/diagnostics.py
  processing-engine/app/mosaic/routes.py
  processing-engine/requirements.txt
Due: mypy

fix: prevent OOM on large composite requests by filtering files and scaling memory
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  processing-engine/app/composite/routes.py
Due: mypy

fix: prevent OOM on large composite requests by filtering files and scaling memory (#730)
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  processing-engine/app/composite/routes.py
Due: mypy

feat: pre-compute observation mosaics for large targets
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/ObservationMosaicSettings.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MosaicModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicQueue.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docs/development-plan.md
  docs/key-files.md
  docs/plans/features/observation-mosaic-precompute.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  docs/standards/processing-engine.md
  processing-engine/app/mosaic/models.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
Due: mypy

fix: address code review findings for observation mosaic
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  processing-engine/app/mosaic/models.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
Due: mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
