Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

chore: optimize CodeQL CI with path filtering and caching (#312)
  .github/workflows/security.yml
  AGENTS.md
Due: none

refactor: replace emoji indicators with SVG icons in dashboard
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/icons/DashboardIcons.tsx
Due: eslint, prettier

refactor: replace emoji indicators with SVG icons in dashboard (#313)
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/icons/DashboardIcons.tsx
Due: eslint, prettier

refactor: replace fire-and-forget Task.Run with background task queue
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerViewerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IThumbnailQueue.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailQueue.cs
Due: none

refactor: replace fire-and-forget Task.Run with background task queue (#314)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerViewerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IThumbnailQueue.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailBackgroundService.Log.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailQueue.cs
Due: none

fix: resolve analyzer warnings in thumbnail queue files
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Services/IThumbnailQueue.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailQueue.cs
Due: none

fix: resolve analyzer warnings in thumbnail queue files (#315)
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Services/IThumbnailQueue.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailQueue.cs
Due: none

docs: update backend service documentation for thumbnail queue and missing services
  docs/architecture.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

docs: update backend service documentation for thumbnail queue and missing services (#316)
  docs/architecture.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

fix: use memory-efficient loading for thumbnail generation (#317)
  processing-engine/main.py
  processing-engine/tests/test_thumbnail.py
Due: mypy

fix: use memory-efficient loading for thumbnail generation (#317) (#318)
  processing-engine/main.py
  processing-engine/tests/test_thumbnail.py
Due: mypy

chore: fix markdown table alignment across project docs
  AGENTS.md
  README.md
  docs/bugs.md
  docs/desktop-requirements.md
  docs/development-plan.md
  docs/git-history-audit.md
  docs/idea-capture-guide.md
  docs/index.md
  docs/mast-usage.md
  docs/setup-guide.md
  docs/standards/processing-engine.md
  docs/tech-debt.md
  frontend/jwst-frontend/.interface-design/system.md
Due: none

chore: add Mermaid diagram support to MkDocs
  mkdocs.yml
Due: none

chore: fix markdown table alignment across project docs (#320)
  AGENTS.md
  README.md
  docs/bugs.md
  docs/desktop-requirements.md
  docs/development-plan.md
  docs/git-history-audit.md
  docs/idea-capture-guide.md
  docs/index.md
  docs/mast-usage.md
  docs/setup-guide.md
  docs/standards/processing-engine.md
  docs/tech-debt.md
  frontend/jwst-frontend/.interface-design/system.md
  mkdocs.yml
Due: none

chore: add language specifiers to fenced code blocks
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/architecture.md
  docs/desktop-requirements.md
  docs/development-plan.md
  docs/git-history-audit.md
  docs/idea-capture-guide.md
  docs/index.md
  docs/mast-usage.md
  docs/setup-guide.md
  docs/standards/processing-engine.md
  frontend/jwst-frontend/.interface-design/system.md
  scripts/README.md
Due: none

chore: add language specifiers to fenced code blocks (#321)
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/architecture.md
  docs/desktop-requirements.md
  docs/development-plan.md
  docs/git-history-audit.md
  docs/idea-capture-guide.md
  docs/index.md
  docs/mast-usage.md
  docs/setup-guide.md
  docs/standards/processing-engine.md
  frontend/jwst-frontend/.interface-design/system.md
  scripts/README.md
Due: none

fix: show metadata for mosaic-generated FITS files in ImageViewer (#301)
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

fix: show metadata for mosaic-generated FITS files in ImageViewer (#301) (#322)
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

feat: add server-side reprojection cache for composite previews
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/routes.py
Due: mypy

feat: add server-side reprojection cache for composite previews (#324)
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/routes.py
Due: mypy

feat: merge wizard steps 1 & 2 into drag-and-drop channel assignment with thumbnails
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelCard.css
  frontend/jwst-frontend/src/components/wizard/ChannelCard.tsx
  frontend/jwst-frontend/src/components/wizard/WizardStepper.css
Due: eslint, prettier

feat: merge steps 2 & 3 into single Preview & Export step with per-channel controls
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

feat: add drag-to-swap channels on Preview & Export step
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

fix: prevent crash when adjusting per-channel stretch controls
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

feat: add per-channel weight sliders for RGB composite balance
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/StretchControls.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

fix: sort pool images by target group in Assign Channels step
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
Due: eslint, prettier

fix: scope auto-sort by wavelength to single target group
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
Due: eslint, prettier

docs: update documentation for composite wizard UI refresh
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

feat: drag-and-drop channel assignment with thumbnails for composite wizard (#325)
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/StretchControls.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelCard.css
  frontend/jwst-frontend/src/components/wizard/ChannelCard.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/WizardStepper.css
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy
