Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

docs: add tech debt #96 for CodeQL path filtering and caching
  docs/tech-debt.md
Due: none

fix: resolve 10 e2e test failures with label accessibility and auth (#238)
  docs/tech-debt.md
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
  scripts/README.md
  scripts/validate-pr.sh
Due: eslint, prettier

fix: use CSS ::after for required field asterisks instead of DOM span
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: use CSS ::after for required field asterisks instead of DOM span (#239)
  frontend/jwst-frontend/src/pages/AuthPages.css
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: add noValidate to register form for custom validation
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: add noValidate to register form for custom email validation (#240)
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: improve compact viewer and dashboard control hierarchy
  docs/desktop-requirements.md
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MastSearch.css
Due: eslint, prettier

test: add ux regression e2e coverage
  frontend/jwst-frontend/e2e/ux-regression.spec.ts
Due: none

test: use UUID for e2e test user IDs
  frontend/jwst-frontend/e2e/ux-regression.spec.ts
Due: none

fix: cache playwright browsers in e2e workflow
  .github/workflows/ci.yml
Due: none

feat: support multiple images per RGB composite channel
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelCard.css
  frontend/jwst-frontend/src/components/wizard/ChannelCard.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

fix: apply ruff formatting to composite Python files
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: mypy

fix: increase composite timeout and per-channel pixel limit
  backend/JwstDataAnalysis.API/Program.cs
  processing-engine/app/composite/routes.py
Due: mypy

fix: downscale large inputs and increase composite timeout
  backend/JwstDataAnalysis.API/Program.cs
  processing-engine/app/composite/routes.py
Due: mypy

fix: sort imports and improve pre-commit ruff detection
  .githooks/pre-commit
  processing-engine/app/composite/routes.py
Due: mypy

feat: support multiple images per RGB composite channel (#244)
  .githooks/pre-commit
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/ChannelCard.css
  frontend/jwst-frontend/src/components/wizard/ChannelCard.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/ImageSelectionStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

feat: output-aware downscaling for fast composite previews
  docs/development-plan.md
  docs/tech-debt.md
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
Due: eslint, prettier, mypy

feat: output-aware downscaling for fast composite previews (#245)
  docs/development-plan.md
  docs/tech-debt.md
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
Due: eslint, prettier, mypy

feat: dark theme, CSS design tokens, and cascading dashboard filters
  docs/development-plan.md
  frontend/jwst-frontend/.interface-design/system.md
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

feat: dark theme, CSS design tokens, and cascading dashboard filters (#247)
  docs/development-plan.md
  frontend/jwst-frontend/.interface-design/system.md
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

fix: resolve analyzer warnings in MosaicService
  backend/JwstDataAnalysis.API/Services/MosaicService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
Due: none

fix: resolve analyzer warnings in MosaicService (#248)
  backend/JwstDataAnalysis.API/Services/MosaicService.Log.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
Due: none

feat: add client-side caching for What's New panel
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/services/mastService.ts
  frontend/jwst-frontend/src/utils/cacheUtils.ts
Due: eslint, prettier

feat: client-side caching for What's New panel (#249)
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/services/mastService.ts
  frontend/jwst-frontend/src/utils/cacheUtils.ts
Due: eslint, prettier

chore: migrate tech debt tracking to GitHub Issues
  .github/ISSUE_TEMPLATE/tech_debt.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
  docs/bugs.md
  docs/tech-debt.md
  scripts/check-docs-consistency.sh
Due: none

chore: migrate tech debt & bug tracking to GitHub Issues (#289)
  .github/ISSUE_TEMPLATE/tech_debt.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
  docs/bugs.md
  docs/tech-debt.md
  scripts/check-docs-consistency.sh
Due: none

fix: resolve 20 CodeQL security alerts (path traversal & sanitization)
  .github/scripts/validate-pr.js
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  processing-engine/app/analysis/routes.py
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/main.py
Due: mypy
