Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: Add auth headers to ImageViewer requests and fix sync duplicate key crash
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.css
Due: eslint, prettier

docs: Add tech debt #92 for mosaic export button cutoff
  docs/tech-debt.md
Due: none

feat: Add region selection and statistics for FITS images (C2)
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Models/AnalysisModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.Log.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/IAnalysisService.cs
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/RegionSelector.css
  frontend/jwst-frontend/src/components/RegionSelector.tsx
  frontend/jwst-frontend/src/components/RegionStatisticsPanel.css
  frontend/jwst-frontend/src/components/RegionStatisticsPanel.tsx
  frontend/jwst-frontend/src/services/analysisService.ts
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/types/AnalysisTypes.ts
  processing-engine/app/analysis/__init__.py
  processing-engine/app/analysis/models.py
  processing-engine/app/analysis/routes.py
  processing-engine/main.py
  processing-engine/tests/test_region_statistics.py
Due: eslint, prettier, mypy

fix: Position region statistics panel as floating overlay
  frontend/jwst-frontend/src/components/RegionStatisticsPanel.css
Due: prettier

fix: Add retry with backoff to token refresh (Tech Debt #88)
  frontend/jwst-frontend/src/components/AuthToast.css
  frontend/jwst-frontend/src/components/AuthToast.tsx
  frontend/jwst-frontend/src/context/AuthContext.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: Remove non-null assertions from retry tests
  frontend/jwst-frontend/src/context/AuthContext.test.tsx
Due: eslint, prettier

docs: Mark tech debt #88 as resolved
  CLAUDE.md
  docs/tech-debt.md
Due: none

feat: Sort mosaic file selection by processing level (lineage order)
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

docs: Update CLAUDE.md conventions and development-plan roadmap
  CLAUDE.md
  docs/development-plan.md
Due: none

feat: Sort mosaic file selection by processing level (lineage order) (#173)
  CLAUDE.md
  docs/development-plan.md
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

fix: Pin Docker image versions for reproducible builds (Task #62)
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/tech-debt.md
Due: none

fix: Pin Docker image versions for reproducible builds (Task #62)
  CLAUDE.md
  frontend/jwst-frontend/Dockerfile
Due: none

feat: Add image comparison/blink mode (C3)
  frontend/jwst-frontend/src/components/ComparisonImagePicker.css
  frontend/jwst-frontend/src/components/ComparisonImagePicker.tsx
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

fix: Disable seed users in production, refresh downloads panel, fix mosaic export button (#90, #91, #92)
  backend/JwstDataAnalysis.API/Configuration/SeedingSettings.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/SeedDataService.cs
  backend/JwstDataAnalysis.API/appsettings.Production.json
  backend/JwstDataAnalysis.API/appsettings.json
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.css
Due: eslint, prettier

fix: Prevent concurrent resume of same download job (#66)
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_resume_race_condition.py
Due: mypy

feat: Add interactive curves/levels adjustment to FITS viewer (C4)
  frontend/jwst-frontend/src/components/CurvesEditor.css
  frontend/jwst-frontend/src/components/CurvesEditor.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/types/CurvesTypes.ts
  frontend/jwst-frontend/src/utils/curvesUtils.ts
Due: eslint, prettier

docs: Update tracking docs for session 2026-02-07
  CLAUDE.md
  docs/bugs.md
  docs/development-plan.md
  docs/tech-debt.md
Due: none

feat: Add WCS coordinate grid overlay to FITS viewer (D3)
  frontend/jwst-frontend/eslint.config.js
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/WcsGridOverlay.css
  frontend/jwst-frontend/src/components/WcsGridOverlay.tsx
  frontend/jwst-frontend/src/utils/wcsGridUtils.ts
Due: eslint, prettier

feat: Add annotation tools to FITS viewer (D5)
  frontend/jwst-frontend/eslint.config.js
  frontend/jwst-frontend/src/components/AnnotationOverlay.css
  frontend/jwst-frontend/src/components/AnnotationOverlay.tsx
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/types/AnnotationTypes.ts
Due: eslint, prettier

chore: Remove stale eslint-disable no-undef directives
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/RegionSelector.tsx
  frontend/jwst-frontend/src/components/WcsGridOverlay.tsx
Due: eslint, prettier

fix: Remove invalid zoomScale prop from WcsGridOverlay
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier
