Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

feat: preview calibration-run outputs in an ephemeral lightbox
  frontend/jwst-frontend/src/components/ui/ImagePreviewLightbox.css
  frontend/jwst-frontend/src/components/ui/ImagePreviewLightbox.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
  processing-engine/app/jobs/routes.py
  processing-engine/tests/test_jobs_routes.py
Due: eslint, prettier, mypy

feat: preview calibration-run outputs in an ephemeral lightbox (#1731)
  frontend/jwst-frontend/src/components/ui/ImagePreviewLightbox.css
  frontend/jwst-frontend/src/components/ui/ImagePreviewLightbox.test.tsx
  frontend/jwst-frontend/src/components/ui/ImagePreviewLightbox.tsx
  frontend/jwst-frontend/src/components/ui/Modal.test.tsx
  frontend/jwst-frontend/src/components/ui/Modal.tsx
  frontend/jwst-frontend/src/components/ui/README.md
  frontend/jwst-frontend/src/hooks/useFocusTrap.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
  processing-engine/app/jobs/routes.py
  processing-engine/tests/test_jobs_routes.py
Due: eslint, prettier, mypy

docs: implementation plan for the calibration data-first redesign (#1733)
  docs/plans/features/1733-calibration-data-first-redesign.md
Due: none

docs: implementation plan for the calibration data-first redesign (#1733) (#1743)
  docs/plans/features/1733-calibration-data-first-redesign.md
Due: none

feat: save calibration outputs to the library, download, open in compositor
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/writer.py
  processing-engine/tests/test_jobs_routes.py
Due: eslint, prettier, mypy

feat: save calibration outputs to the library, download, open in compositor (#1744)
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/writer.py
  processing-engine/tests/test_jobs_routes.py
Due: eslint, prettier, mypy

fix: repair the backend pre-commit gate (8 StyleCop errors on main)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
Due: none

fix: repair the backend pre-commit gate (8 StyleCop errors on main) (#1745)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
Due: none

feat: durable calibration runs — job id in the URL + run history
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.css
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.css
  frontend/jwst-frontend/src/pages/CalibrationRuns.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
Due: eslint, prettier

feat: durable calibration runs — job id in the URL + run history (#1746)
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.css
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.css
  frontend/jwst-frontend/src/pages/CalibrationRuns.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/services/calibrationService.ts
Due: eslint, prettier

feat: re-run a calibration with changes, and show what a run used
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
Due: eslint, prettier

feat: re-run a calibration with changes, and show what a run used (#1747)
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
Due: eslint, prettier

feat: stage timeline with validity rules, estimates and cost warnings
  frontend/jwst-frontend/src/components/calibration/StageTimeline.css
  frontend/jwst-frontend/src/components/calibration/StageTimeline.test.tsx
  frontend/jwst-frontend/src/components/calibration/StageTimeline.tsx
  frontend/jwst-frontend/src/components/calibration/stagePipeline.test.ts
  frontend/jwst-frontend/src/components/calibration/stagePipeline.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
Due: eslint, prettier

feat: curated calibration parameter editor, free-form behind Advanced
  frontend/jwst-frontend/src/components/calibration/ParamField.css
  frontend/jwst-frontend/src/components/calibration/ParamField.tsx
  frontend/jwst-frontend/src/components/calibration/paramCatalog.test.ts
  frontend/jwst-frontend/src/components/calibration/paramCatalog.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
Due: eslint, prettier

feat: stage timeline with validity rules, estimates and cost warnings (#1748)
  frontend/jwst-frontend/src/components/calibration/StageTimeline.css
  frontend/jwst-frontend/src/components/calibration/StageTimeline.test.tsx
  frontend/jwst-frontend/src/components/calibration/StageTimeline.tsx
  frontend/jwst-frontend/src/components/calibration/stagePipeline.test.ts
  frontend/jwst-frontend/src/components/calibration/stagePipeline.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
Due: eslint, prettier

feat: curated calibration parameter editor, free-form behind Advanced (#1749)
  frontend/jwst-frontend/src/components/calibration/ParamField.css
  frontend/jwst-frontend/src/components/calibration/ParamField.tsx
  frontend/jwst-frontend/src/components/calibration/paramCatalog.test.ts
  frontend/jwst-frontend/src/components/calibration/paramCatalog.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
Due: eslint, prettier

feat: data-first calibration entry flow
  frontend/jwst-frontend/e2e/calibrate.spec.ts
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/calibration/dataGrouping.test.ts
  frontend/jwst-frontend/src/components/calibration/dataGrouping.ts
  frontend/jwst-frontend/src/pages/CalibrateNew.css
  frontend/jwst-frontend/src/pages/CalibrateNew.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.css
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
Due: eslint, prettier

fix: /calibrate must not dead-end for signed-out visitors
  frontend/jwst-frontend/src/pages/CalibrationRuns.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
Due: eslint, prettier

fix: distinguish an empty library from an unusable one in the data picker
  frontend/jwst-frontend/src/pages/CalibrateNew.tsx
Due: eslint, prettier

test: make the calibrate e2e locators exact
  frontend/jwst-frontend/e2e/calibrate.spec.ts
Due: none

feat: data-first calibration entry flow (closes the #1733 epic) (#1750)
  frontend/jwst-frontend/e2e/calibrate.spec.ts
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/calibration/dataGrouping.test.ts
  frontend/jwst-frontend/src/components/calibration/dataGrouping.ts
  frontend/jwst-frontend/src/pages/CalibrateNew.css
  frontend/jwst-frontend/src/pages/CalibrateNew.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.css
  frontend/jwst-frontend/src/pages/CalibrationRuns.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
Due: eslint, prettier

fix: calibration inputs are library ids, resolved server-side (#1751)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/pages/index.test.ts
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  processing-engine/app/calibration/inputs.py
  processing-engine/app/calibration/routes.py
  processing-engine/tests/test_calibration_inputs.py
Due: eslint, prettier, mypy

fix: close the authorization and selection gaps in the id migration (#1751)
  docs/architecture/calibration-pipeline-flow.md
  docs/quick-reference.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/calibration/dataGrouping.test.ts
  frontend/jwst-frontend/src/components/calibration/dataGrouping.ts
  frontend/jwst-frontend/src/components/dashboard/DataCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.ce.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  processing-engine/app/calibration/inputs.py
  processing-engine/app/calibration/routes.py
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_calibration_inputs.py
  processing-engine/tests/test_calibration_run_routes.py
Due: eslint, prettier, mypy

fix: stop the suffix filter deciding what you may run on (#1751)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  processing-engine/app/auth/deps.py
  processing-engine/app/calibration/executor.py
  processing-engine/app/calibration/routes.py
  processing-engine/tests/test_auth_deps.py
  processing-engine/tests/test_calibration_inputs.py
  processing-engine/tests/test_calibration_run_routes.py
Due: eslint, prettier, mypy

fix: actually apply the library loading gate, and remount per recipe (#1751)
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  processing-engine/tests/test_calibration_run_routes.py
Due: eslint, prettier, mypy

fix: stop the disabled-Run hint giving unfollowable advice (#1751)
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  processing-engine/app/calibration/routes.py
  processing-engine/tests/test_calibration_run_routes.py
Due: eslint, prettier, mypy

fix: no message may describe UI that isn't on the screen (#1751)
  frontend/jwst-frontend/src/components/calibration/dataGrouping.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
Due: eslint, prettier

refactor: one source of terminality in RunDetail (#1751)
  frontend/jwst-frontend/src/pages/RunDetail.tsx
Due: eslint, prettier

fix: patch both calibration gates in run-route tests, inject the library
  processing-engine/app/calibration/routes.py
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_calibration_run_routes.py
Due: mypy

fix: calibration inputs are library ids, resolved server-side (#1751) (#1752)
  docs/architecture/calibration-pipeline-flow.md
  docs/quick-reference.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/calibration/dataGrouping.test.ts
  frontend/jwst-frontend/src/components/calibration/dataGrouping.ts
  frontend/jwst-frontend/src/components/dashboard/DataCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.ce.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateNew.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/pages/index.test.ts
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  processing-engine/app/auth/deps.py
  processing-engine/app/calibration/executor.py
  processing-engine/app/calibration/inputs.py
  processing-engine/app/calibration/routes.py
  processing-engine/tests/test_auth_deps.py
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_calibration_inputs.py
  processing-engine/tests/test_calibration_run_routes.py
Due: eslint, prettier, mypy

fix: make the data mount explicit so worktree runs find the real library
  docker/docker-compose.yml
  docs/quick-reference.md
Due: none

feat: calibration outputs record their level, parents and settings
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/levels.py
  processing-engine/app/library/lineage.py
  processing-engine/app/library/writer.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_library_levels.py
Due: mypy

fix: take lineage from the inputs, not the output's filename
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/levels.py
  processing-engine/app/library/lineage.py
  processing-engine/app/library/writer.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_library_levels.py
Due: mypy

fix: detector is part of an exposure's identity, and cap the description
  docs/key-files.md
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/lineage.py
  processing-engine/app/library/writer.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_library_levels.py
Due: mypy

feat: offer calibration on any file that can be advanced (#1756)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/calibration/processingLevels.test.ts
  frontend/jwst-frontend/src/components/calibration/processingLevels.ts
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
Due: eslint, prettier

fix: the level rules must be the only suffix rules (#1756)
  docs/architecture/calibration-pipeline-flow.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/calibration/dataGrouping.ts
  frontend/jwst-frontend/src/components/calibration/processingLevels.test.ts
  frontend/jwst-frontend/src/components/calibration/processingLevels.ts
  frontend/jwst-frontend/src/components/calibration/reprocessHandoff.test.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
Due: eslint, prettier

feat: calibration outputs record their level, parents and settings (#1754) (#1755)
  docs/key-files.md
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/levels.py
  processing-engine/app/library/lineage.py
  processing-engine/app/library/writer.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_library_levels.py
Due: mypy

feat: compare calibration attempts and carry the best one forward (#1758)
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/calibration/attempts.test.ts
  frontend/jwst-frontend/src/components/calibration/attempts.ts
  frontend/jwst-frontend/src/pages/CalibrationAttempts.css
  frontend/jwst-frontend/src/pages/CalibrationAttempts.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationAttempts.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
Due: eslint, prettier

feat: offer calibration on any file that can be advanced (#1756) (#1757)
  docs/architecture/calibration-pipeline-flow.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/calibration/dataGrouping.ts
  frontend/jwst-frontend/src/components/calibration/processingLevels.test.ts
  frontend/jwst-frontend/src/components/calibration/processingLevels.ts
  frontend/jwst-frontend/src/components/calibration/reprocessHandoff.test.ts
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.test.tsx
  frontend/jwst-frontend/src/pages/CalibrateRun.tsx
Due: eslint, prettier

feat: offer raw data when a target has no finished image (#1760)
  frontend/jwst-frontend/src/components/mast/MastSearch.css
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.test.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.tsx
  frontend/jwst-frontend/src/components/mast/rawFallback.test.ts
  frontend/jwst-frontend/src/components/mast/rawFallback.ts
Due: eslint, prettier
