Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: add processing engine health check and Docker healthcheck probes (#382)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ProcessingEngineHealthCheckTests.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/ProcessingEngineHealthCheck.cs
  docker/docker-compose.agent.yml
  docker/docker-compose.yml
  docs/key-files.md
  docs/quick-reference.md
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/services/healthService.ts
  processing-engine/Dockerfile
Due: eslint, prettier

fix: set IsPublic=true on MAST scan-imported data for dashboard visibility
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
Due: none

fix: set IsPublic=true on MAST scan-imported data for dashboard visibility (#383)
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
Due: none

fix: make email comparison case-insensitive for login and registration
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
Due: none

fix: make email comparison case-insensitive for login and registration (#384)
  backend/JwstDataAnalysis.API/Services/AuthService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
Due: none

feat: auto-recovery startup scan, data visibility model & remove Sync MAST Files
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/IDataScanService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/StartupScanBackgroundService.cs
  docs/architecture.md
  docs/key-files.md
  docs/quick-reference.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
Due: eslint, prettier

fix: enqueue thumbnail generation after MAST scan import
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
Due: none

feat: auto-recovery startup scan, data visibility model & remove Sync MAST Files (#385)
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/IDataScanService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/StartupScanBackgroundService.cs
  docs/architecture.md
  docs/key-files.md
  docs/quick-reference.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
Due: eslint, prettier

feat: floating analysis bar, unified file selection & mosaic auto-filter
  docs/key-files.md
  frontend/jwst-frontend/eslint.config.js
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.css
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

feat: floating analysis bar, unified file selection & mosaic auto-filter (#386)
  docs/key-files.md
  frontend/jwst-frontend/eslint.config.js
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.css
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

feat: prioritize same-target files in mosaic wizard with smart warnings
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

fix: resolve misleading footprint error for large FITS files
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
Due: eslint, prettier, mypy

fix: add aria-hidden to floating bar to prevent E2E strict mode violations
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
Due: eslint, prettier

feat: mosaic wizard smart pre-selection with target priority & warnings (#387)
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
Due: eslint, prettier, mypy

feat: dynamic file size warnings on mosaic selection cards
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
  frontend/jwst-frontend/src/services/mosaicService.ts
  frontend/jwst-frontend/src/types/MosaicTypes.ts
Due: eslint, prettier

docs: add admin dashboard to Phase 6 roadmap
  docs/development-plan.md
Due: none

fix: surface actual error details on mosaic generate/save failures
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
Due: eslint, prettier

fix: resolve memmap ValueError for FITS files with BZERO/BSCALE headers
  backend/JwstDataAnalysis.API/Program.cs
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/main.py
Due: mypy

feat: dynamic file size warnings on mosaic selection cards (#388)
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Program.cs
  docs/development-plan.md
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
  frontend/jwst-frontend/src/services/mosaicService.ts
  frontend/jwst-frontend/src/types/MosaicTypes.ts
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/main.py
Due: eslint, prettier, mypy

fix: startup scan dedup compared absolute paths against relative storage keys
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
Due: none

fix: mosaic wizard default stage filter to All when no pre-selection
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

fix: startup scan dedup compared absolute paths against relative storage keys (#389)
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

feat: S3 storage providers, SeaweedFS infrastructure & config wiring
  backend/JwstDataAnalysis.API/Configuration/S3Settings.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/Storage/IStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/S3StorageProvider.cs
  docker/.env.example
  docker/docker-compose.agent.yml
  docker/docker-compose.yml
  docs/development-plan.md
  docs/key-files.md
  processing-engine/Dockerfile
  processing-engine/app/storage/factory.py
  processing-engine/app/storage/s3_storage.py
  processing-engine/app/storage/temp_cache.py
  processing-engine/tests/test_s3_storage.py
Due: mypy

feat: S3 storage providers, SeaweedFS infrastructure & config wiring (#390)
  backend/JwstDataAnalysis.API/Configuration/S3Settings.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/Storage/IStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/S3StorageProvider.cs
  docker/.env.example
  docker/docker-compose.agent.yml
  docker/docker-compose.yml
  docs/development-plan.md
  docs/key-files.md
  processing-engine/Dockerfile
  processing-engine/app/storage/factory.py
  processing-engine/app/storage/s3_storage.py
  processing-engine/app/storage/temp_cache.py
  processing-engine/tests/test_s3_storage.py
Due: mypy

refactor: route all processing engine FITS access through storage layer
  docs/key-files.md
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/storage/helpers.py
  processing-engine/main.py
  processing-engine/tests/test_mosaic_engine.py
  processing-engine/tests/test_nchannel_composite.py
  processing-engine/tests/test_region_statistics.py
  processing-engine/tests/test_thumbnail.py
Due: mypy

refactor: route all processing engine FITS access through storage layer (#391)
  docs/key-files.md
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/storage/helpers.py
  processing-engine/main.py
  processing-engine/tests/test_mosaic_engine.py
  processing-engine/tests/test_nchannel_composite.py
  processing-engine/tests/test_region_statistics.py
  processing-engine/tests/test_thumbnail.py
Due: mypy

feat: wire MAST downloads and user uploads through storage provider
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  docs/development-plan.md
  processing-engine/app/mast/routes.py
Due: mypy

feat: wire MAST downloads and user uploads through storage provider (#392)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  docs/development-plan.md
  processing-engine/app/mast/routes.py
Due: mypy

fix: S3 storage bugs — DB paths, async uploads, stream sizes, presigned filenames
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/DataScanService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/Storage/IStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/S3StorageProvider.cs
  processing-engine/Dockerfile
  processing-engine/app/mast/routes.py
Due: mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
