Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: repair 8 failing E2E tests — file selection, button state, viewer tolerance (#838)
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/dashboard.spec.ts
  frontend/jwst-frontend/e2e/fits-viewer.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
Due: none

fix: resolve 80+ StyleCop lint errors across backend tests and services
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobReaperBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/SemanticSearchServiceTests.cs
  backend/JwstDataAnalysis.API/Services/JobReaperBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/StartupScanBackgroundService.cs
Due: none

fix: resolve 80+ StyleCop lint errors across backend tests and services (#839)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobReaperBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/SemanticSearchServiceTests.cs
  backend/JwstDataAnalysis.API/Services/JobReaperBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/StartupScanBackgroundService.cs
Due: none

chore: suppress no-console warnings in debug utilities
  frontend/jwst-frontend/src/index.tsx
Due: eslint, prettier

chore: suppress no-console warnings in debug utilities (#841)
  frontend/jwst-frontend/src/index.tsx
Due: eslint, prettier

fix: improve archive feedback and toast duration behavior
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
Due: eslint, prettier

fix: improve archive feedback and toast duration behavior (#842)
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
Due: eslint, prettier

docs: update March 15 blog post with full session coverage
  docs/blog/posts/2026-03-15.md
Due: none

docs: update March 15 blog post with full session coverage (#843)
  docs/blog/posts/2026-03-15.md
Due: none

feat: add FOV overlap detection to footprint endpoint and CompositeWizard
  backend/JwstDataAnalysis.API/Models/MosaicModels.cs
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/types/MosaicTypes.ts
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/instruments.py
  processing-engine/app/mosaic/models.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
  processing-engine/tests/test_mosaic_engine.py
Due: eslint, prettier, mypy

fix: show overlap warning on step 1 (channel assignment) not just step 2
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
Due: eslint, prettier

fix: add overlap warning to CompositePage (page route) not just modal wizard
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/pages/CompositePage.tsx
Due: eslint, prettier

fix: render overlap warning as structured list instead of paragraph
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  processing-engine/app/mosaic/routes.py
Due: eslint, prettier, mypy

fix: allow composite creation with 2 files (bicolor support)
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
Due: eslint, prettier

fix: remove composite button selection gate — wizard has its own picker
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
Due: eslint, prettier

fix: simplify auth flow — remove race-prone refresh triggers, add stale closure guard
  backend/JwstDataAnalysis.API.Tests/Services/AuthServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/JwtSettings.cs
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/src/context/AuthContext.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/apiClient.test.ts
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: update E2E test — composite button is now always enabled
  frontend/jwst-frontend/e2e/dashboard.spec.ts
Due: none

fix: default edge feather to 0 (composites don't need it) + add recipe walkthrough script
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  processing-engine/app/composite/models.py
  scripts/recipe-walkthrough.py
Due: eslint, prettier, mypy

feat: instrument-aware stretch presets for MIRI vs NIRCAM (#850)
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  scripts/recipe-walkthrough.py
Due: eslint, prettier

feat: versioned walkthrough output + grader with version history and timing
  scripts/recipe-grader.py
  scripts/recipe-walkthrough.py
Due: none

feat: auto-detect optimal stretch parameters from channel statistics
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/auto_stretch.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_auto_stretch.py
  scripts/recipe-walkthrough.py
Due: eslint, prettier, mypy

fix: adjust test assertion for uniform noise auto-stretch
  processing-engine/tests/test_auto_stretch.py
Due: mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
