Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

chore: add mandatory Docker verification to all workflows (#92)
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
Due: none

fix: correct coordinate mapping and center status bar
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/utils/coordinateUtils.ts
Due: eslint, prettier

fix: move status bar below toolbar, add GWCS tech debt #44
  docs/tech-debt.md
  frontend/jwst-frontend/src/components/FitsViewer.css
Due: prettier

fix: move status bar to fixed position below viewer
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

feat: add pixel coordinate and value display on hover in FITS viewer (#91)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  docs/tech-debt.md
  frontend/jwst-frontend/src/components/FitsViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/services/jwstDataService.ts
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.ts
  processing-engine/main.py
Due: eslint, prettier, mypy

docs: add viewer operations to API reference
  CLAUDE.md
Due: none

docs: add mandatory documentation updates to all workflows
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
Due: none

docs: add workflow documentation task #45 to resolved
  docs/tech-debt.md
Due: none

refactor: extract IMongoDBService interface for dependency injection (Task #38)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/JwstDataAnalysis.API.csproj
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
Due: none

style: fix prettier formatting in ImageViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
Due: eslint, prettier

style: fix StyleCop warnings in IMongoDBService
  backend/.editorconfig
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
Due: none

style: add copyright file headers to all C# source files
  backend/.editorconfig
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Fixtures/TestDataFixtures.cs
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/stylecop.json
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/FileContentValidator.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.Log.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/MastService.Log.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.Log.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  backend/JwstDataAnalysis.API/stylecop.json
Due: none

docs: add Task #38 completion docs and strengthen workflow documentation checks
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
  docs/development-plan.md
  docs/tech-debt.md
Due: none

docs: add 🛑 STOP marker and DO NOT SKIP warning to PR review step
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
Due: none

docs: add Task #46 - review emoji usage in workflows
  docs/tech-debt.md
Due: none

fix: extract shared filter builder to fix pagination count mismatch (Task #2)
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
Due: none

docs: add GetSearchCountAsync fix to tech-debt.md and enhance workflows
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  docs/tech-debt.md
Due: none

docs: mark A3 pixel coordinate display as complete
  docs/development-plan.md
Due: none

Revert "docs: mark A3 pixel coordinate display as complete"
  docs/development-plan.md
Due: none

chore: add git workflow protection to prevent direct pushes to main
  .agent/workflows/create-feature.md
  .agent/workflows/fix-bug.md
  .agent/workflows/resolve-tech-debt.md
  .githooks/pre-push
  CLAUDE.md
  scripts/setup-hooks.sh
Due: none

docs: mark A3 pixel coordinate display as complete (#97)
  docs/development-plan.md
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
