Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: add MAST exception subtypes and narrow MAST layer catches (PR 2 of 2) (#1013)
  docs/plans/features/quick/959-pr2-mast-exception-narrowing.md
  processing-engine/app/exceptions.py
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_error_middleware.py
  processing-engine/tests/test_exceptions.py
  processing-engine/tests/test_mast_target_search_variants.py
Due: mypy

docs: add architecture documentation link to README
  README.md
Due: none

docs: add architecture documentation link to README (#1014)
  README.md
Due: none

fix: replace assert with HTTPException for region parameter validation
  processing-engine/app/analysis/routes.py
Due: mypy

fix: add file size check before content validation to prevent memory exhaustion
  backend/JwstDataAnalysis.API.Tests/Services/FileContentValidatorTests.cs
  backend/JwstDataAnalysis.API/Services/FileContentValidator.cs
Due: none

fix: log JWT validation failures instead of swallowing silently
  backend/JwstDataAnalysis.API.Tests/Services/JwtTokenServiceTests.cs
  backend/JwstDataAnalysis.API/Services/JwtTokenService.cs
Due: none

fix: increase file size limit to 4 GB for large FITS files
  backend/JwstDataAnalysis.API.Tests/Services/FileContentValidatorTests.cs
  backend/JwstDataAnalysis.API/Services/FileContentValidator.cs
Due: none

fix: increase file size limit to 10 GB — NIRCam mosaics reach 9.3 GB
  backend/JwstDataAnalysis.API.Tests/Services/FileContentValidatorTests.cs
  backend/JwstDataAnalysis.API/Services/FileContentValidator.cs
Due: none

fix: replace assert with HTTPException for region parameter validation (#1026)
  processing-engine/app/analysis/routes.py
Due: mypy

fix: log JWT validation failures instead of swallowing silently (#1028)
  backend/JwstDataAnalysis.API.Tests/Services/JwtTokenServiceTests.cs
  backend/JwstDataAnalysis.API/Services/JwtTokenService.cs
Due: none

chore: bump @typescript-eslint to 8.58.0 for TS 6 compatibility
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
Due: none

fix: add file size check before content validation to prevent memory exhaustion (#1027)
  backend/JwstDataAnalysis.API.Tests/Services/FileContentValidatorTests.cs
  backend/JwstDataAnalysis.API/Services/FileContentValidator.cs
Due: none

docs: add feature ideas from MAST Users Group Report Winter 2025-2026
  docs/feature-ideas.md
Due: none

docs: add feature ideas from MAST Users Group Report Winter 2025-2026 (#1029)
  docs/feature-ideas.md
Due: none

fix: centralize duplicate MAX_FITS_FILE_SIZE_BYTES constant (#972)
  AGENTS.md
  docs/architecture/concurrency-model.md
  docs/architecture/quality-attributes.md
  docs/setup-guide.md
  processing-engine/app/mosaic/routes.py
  processing-engine/app/storage/helpers.py
Due: mypy

fix: processing engine correctness bugs (#1019, #1023, #969)
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_region_statistics.py
Due: mypy

fix: centralize duplicate MAX_FITS_FILE_SIZE_BYTES constant (#972) (#1045)
  AGENTS.md
  docs/architecture/concurrency-model.md
  docs/architecture/quality-attributes.md
  docs/setup-guide.md
  processing-engine/app/mosaic/routes.py
  processing-engine/app/storage/helpers.py
Due: mypy

fix: processing engine correctness bugs (#1019, #1023, #969) (#1046)
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_region_statistics.py
Due: mypy

fix: remove hardcoded seed credentials, load from config/env vars (#1047)
  backend/JwstDataAnalysis.API.Tests/Services/SeedDataServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/SeedingSettings.cs
  backend/JwstDataAnalysis.API/Services/SeedDataService.Log.cs
  backend/JwstDataAnalysis.API/Services/SeedDataService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docker/.env.example
  docker/docker-compose.override.yml
Due: none

fix: remove hardcoded seed credentials, load from config/env vars (#1047) (#1063)
  backend/JwstDataAnalysis.API.Tests/Services/SeedDataServiceTests.cs
  backend/JwstDataAnalysis.API/Configuration/SeedingSettings.cs
  backend/JwstDataAnalysis.API/Services/SeedDataService.Log.cs
  backend/JwstDataAnalysis.API/Services/SeedDataService.cs
  backend/JwstDataAnalysis.API/appsettings.json
  docker/.env.example
  docker/docker-compose.override.yml
Due: none

test: add missing frontend test coverage for error states and edge cases (#1062)
  frontend/jwst-frontend/src/components/ExportOptionsPanel.test.tsx
  frontend/jwst-frontend/src/components/RegionStatisticsPanel.test.tsx
  frontend/jwst-frontend/src/components/TableViewer.test.tsx
  frontend/jwst-frontend/src/components/WcsGridOverlay.test.tsx
Due: eslint, prettier

test: add missing frontend test coverage for error states and edge cases (#1062) (#1064)
  frontend/jwst-frontend/src/components/ExportOptionsPanel.test.tsx
  frontend/jwst-frontend/src/components/RegionStatisticsPanel.test.tsx
  frontend/jwst-frontend/src/components/TableViewer.test.tsx
  frontend/jwst-frontend/src/components/WcsGridOverlay.test.tsx
Due: eslint, prettier

fix: wire JWT secret key through docker-compose environment
  docker/.env.example
  docker/docker-compose.agent.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/setup-guide.md
Due: none

fix: gate auth debug logging behind development-only flag
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: replace internal exception details with safe error messages
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  processing-engine/app/composite/routes.py
  processing-engine/app/mosaic/routes.py
Due: mypy

fix: wire JWT secret key through docker-compose environment (#1065)
  docker/.env.example
  docker/docker-compose.agent.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/setup-guide.md
Due: none

fix: gate auth debug logging behind development-only flag (#1066)
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

fix: replace internal exception details with safe error messages (#1068)
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  processing-engine/app/composite/routes.py
  processing-engine/app/mosaic/routes.py
Due: mypy

fix: sanitize ex.Message in remaining controller error responses
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/AuthController.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
Due: none

fix: sanitize ex.Message in remaining controller error responses (#1069)
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/AuthController.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
Due: none

fix: gate window.jwst debug globals behind import.meta.env.DEV
  frontend/jwst-frontend/src/index.tsx
Due: eslint, prettier

fix: replace hand-rolled caches with cachetools.TTLCache in mast/routes.py
  processing-engine/app/mast/routes.py
  processing-engine/requirements.txt
Due: mypy

fix: handle polling failures and SignalR errors in useJobProgress
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: move eslint-disable to correct line in useJobProgress
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

chore: remove unnecessary eslint-disable for console.warn
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: validate Tags list is non-empty in BulkUpdateTags endpoint
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
Due: none

fix: surface errors instead of silently swallowing in frontend components
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
  frontend/jwst-frontend/src/services/signalRService.ts
Due: eslint, prettier

fix: validate Tags list is non-empty in BulkUpdateTags endpoint (#1089)
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
Due: none

fix: surface errors instead of silently swallowing in frontend components (#1090)
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
  frontend/jwst-frontend/src/services/signalRService.ts
Due: eslint, prettier

fix: handle polling failures with error limit in useJobProgress (#1088)
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
