Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: implement discovery pages and guided creation flow (Phase C) (#492)
  frontend/jwst-frontend/src/components/discovery/ObservationList.css
  frontend/jwst-frontend/src/components/discovery/ObservationList.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/discovery/SearchBar.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.css
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCardGrid.css
  frontend/jwst-frontend/src/components/discovery/TargetCardGrid.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.css
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.tsx
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.css
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.tsx
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/discoveryService.ts
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

docs: update documentation for guided discovery Phases A–C
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

docs: update documentation for guided discovery Phases A–C (#493)
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

fix: address Phase B review findings (sync comments, mosaic placeholder)
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
Due: eslint, prettier, mypy

fix: address Phase B review findings (sync comments, mosaic placeholder) (#494)
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
Due: eslint, prettier, mypy

fix: add missing filterCount/compositePotential to featured targets
  backend/JwstDataAnalysis.API.Tests/Controllers/DiscoveryControllerTests.cs
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
Due: eslint, prettier

fix: add missing filterCount/compositePotential to featured targets (#495)
  backend/JwstDataAnalysis.API.Tests/Controllers/DiscoveryControllerTests.cs
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
Due: eslint, prettier

fix: align discovery frontend types with backend camelCase serialization
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
Due: eslint, prettier

fix: align discovery frontend types with backend camelCase serialization (#496)
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
Due: eslint, prettier

fix: improve download step feedback for zero-product observations
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  processing-engine/app/mast/routes.py
Due: eslint, prettier, mypy

fix: make discovery endpoints anonymous and fix recipe JSON serialization
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
Due: none

test: add e2e tests for discovery pages and guided create flow
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
Due: none

fix: filter guided create downloads to calibration level 3 only
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: parallel downloads and use MAST-friendly target names in URLs
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: update e2e tests for discovery home as default route
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
Due: none

fix: resolve target-detail e2e timing issue in CI
  frontend/jwst-frontend/e2e/target-detail.spec.ts
Due: none

fix: use glob patterns for e2e route mocks and increase CI workers
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/playwright.config.ts
Due: none

fix: show target name instantly and guard RecipeCard color_mapping
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
Due: eslint, prettier

fix: improve guided create flow — download feedback, parallel downloads, target resolution (#497)
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/playwright.config.ts
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetDetailSkeleton.tsx
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  processing-engine/app/mast/routes.py
Due: eslint, prettier, mypy

fix: resolve common name aliases in target search
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DiscoveryServiceAliasTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/DiscoveryService.cs
  backend/JwstDataAnalysis.API/Services/IDiscoveryService.cs
Due: none

fix: remove snake_case JsonPropertyName attributes from RecipeDto
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
Due: none

fix: resolve download progress tracking and 401 auth errors in guided create
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
Due: eslint, prettier

fix: skip re-downloading FITS files that already exist on disk
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/tests/test_chunked_downloader.py
Due: mypy

test: fix flaky background service tests with TaskCompletionSource signals
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
Due: none

fix: update E2E mock recipe data to use camelCase field names
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
Due: none

fix: ensure file progress statuses reach frontend for fast-completing downloads
  processing-engine/app/mast/download_tracker.py
  processing-engine/app/mast/routes.py
Due: mypy

feat: make discovery pages public, gate auth at download action
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/components/UserMenu.test.tsx
  frontend/jwst-frontend/src/components/UserMenu.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: add file deduplication, unique index, and data integrity fixes
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceDeduplicationTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.Log.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/tests/test_chunked_downloader.py
Due: mypy

fix: handle ObjectId in dedup aggregation pipeline
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
Due: none

fix: add file deduplication, unique index, and data integrity fixes (#500)
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceDeduplicationTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.Log.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/tests/test_chunked_downloader.py
Due: mypy

feat: make discovery pages public, gate auth at download action (#499)
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/components/UserMenu.test.tsx
  frontend/jwst-frontend/src/components/UserMenu.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

fix: resolve E2E test failures from public discovery routes
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceDeduplicationTests.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.Log.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/UserMenu.tsx
Due: eslint, prettier

fix: resolve target aliases, download progress, auth errors, and skip re-downloads (#498)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DiscoveryServiceAliasTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/DiscoveryService.cs
  backend/JwstDataAnalysis.API/Services/IDiscoveryService.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/download_tracker.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_chunked_downloader.py
Due: eslint, prettier, mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
