Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: restore guided step card container styles deleted by #917
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.css
Due: prettier

fix: restore guided step card container styles deleted by #917 (#921)
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.css
Due: prettier

chore: remove dead per-channel feathering code (#913)
  processing-engine/app/composite/routes.py
Due: mypy

chore: remove dead per-channel feathering code (#913) (#934)
  processing-engine/app/composite/routes.py
Due: mypy

docs: add 4+1 architecture view documentation
  docs/architecture/api-contracts.md
  docs/architecture/build-pipeline.md
  docs/architecture/concurrency-model.md
  docs/architecture/deployment-architecture.md
  docs/architecture/domain-model.md
  docs/architecture/error-recovery.md
  docs/architecture/index.md
  docs/architecture/module-dependencies.md
  docs/architecture/network-topology.md
  docs/architecture/quality-attributes.md
  docs/architecture/use-case-catalog.md
  docs/architecture/versioning-strategy.md
Due: none

docs: add 4+1 architecture view documentation (#935)
  docs/architecture/api-contracts.md
  docs/architecture/build-pipeline.md
  docs/architecture/concurrency-model.md
  docs/architecture/deployment-architecture.md
  docs/architecture/domain-model.md
  docs/architecture/error-recovery.md
  docs/architecture/index.md
  docs/architecture/module-dependencies.md
  docs/architecture/network-topology.md
  docs/architecture/quality-attributes.md
  docs/architecture/use-case-catalog.md
  docs/architecture/versioning-strategy.md
Due: none

docs: reorganize mkdocs nav with 4+1 architecture views
  mkdocs.yml
Due: none

docs: reorganize mkdocs nav with 4+1 architecture views (#936)
  mkdocs.yml
Due: none

docs: add April 2026 monthly git history audit
  docs/audits/2026-04-01-git-history-audit.md
Due: none

docs: add April 2026 monthly git history audit (#937)
  docs/audits/2026-04-01-git-history-audit.md
Due: none

docs: add automated code review summary for 2026-04-02
  code-review-summary.md
Due: none

docs: mark completed Phase 5b issues in development plan
  docs/development-plan.md
Due: none

fix: check content-type before calling response.json()
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
  frontend/jwst-frontend/src/services/apiClient.test.ts
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/healthService.test.ts
  frontend/jwst-frontend/src/services/healthService.ts
  frontend/jwst-frontend/src/utils/responseUtils.test.ts
  frontend/jwst-frontend/src/utils/responseUtils.ts
Due: eslint, prettier

fix: use text() + JSON.parse() to avoid body stream consumption bug
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
  frontend/jwst-frontend/src/services/apiClient.test.ts
  frontend/jwst-frontend/src/services/healthService.test.ts
  frontend/jwst-frontend/src/utils/responseUtils.test.ts
  frontend/jwst-frontend/src/utils/responseUtils.ts
Due: eslint, prettier

fix: check content-type before calling response.json() (#938)
  docs/development-plan.md
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
  frontend/jwst-frontend/src/services/apiClient.test.ts
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/healthService.test.ts
  frontend/jwst-frontend/src/services/healthService.ts
  frontend/jwst-frontend/src/utils/responseUtils.test.ts
  frontend/jwst-frontend/src/utils/responseUtils.ts
Due: eslint, prettier

chore: remove code-review-summary.md artifact
  code-review-summary.md
Due: none

chore: remove code-review-summary.md artifact (#940)
  code-review-summary.md
Due: none

fix: replace hardcoded 10-min job timeout with configurable split timers
  frontend/jwst-frontend/src/hooks/useJobProgress.test.ts
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: replace hardcoded 10-min job timeout with configurable split timers (#941)
  frontend/jwst-frontend/src/hooks/useJobProgress.test.ts
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

chore(ci): add per-stack path filtering to skip unrelated test jobs
  .github/workflows/ci.yml
Due: none

chore(ci): add per-stack path filtering to skip unrelated test jobs (#942)
  .github/workflows/ci.yml
Due: none

feat: add security headers middleware to .NET gateway
  backend/JwstDataAnalysis.API/Program.cs
Due: none

feat: add gitleaks secret scanning to pre-commit hook and CI
  .githooks/pre-commit
  .github/workflows/security.yml
  .gitleaks.toml
Due: none

feat: add gitleaks secret scanning to pre-commit hook and CI (#955)
  .githooks/pre-commit
  .github/workflows/security.yml
  .gitleaks.toml
Due: none

feat: add security headers middleware to .NET gateway (#954)
  backend/JwstDataAnalysis.API/Program.cs
Due: none

docs: mark #741 and #742 as done in development plan
  docs/development-plan.md
Due: none

docs: mark #741 and #742 as done in development plan (#956)
  docs/development-plan.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#957)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: replace contextlib.suppress(Exception) with specific handling in save_fits_data
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_utils.py
Due: mypy

fix: replace contextlib.suppress(Exception) with specific handling in save_fits_data (#981)
  processing-engine/app/processing/utils.py
  processing-engine/tests/test_utils.py
Due: mypy

feat: add exception hierarchy, error middleware, and narrow broad catches
  docs/key-files.md
  docs/plans/features/959-exception-handling-overhaul.md
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/exceptions.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/processing/analysis.py
  processing-engine/app/processing/detection.py
  processing-engine/app/semantic/embedding_service.py
  processing-engine/main.py
  processing-engine/main_mast.py
  processing-engine/tests/test_error_middleware.py
  processing-engine/tests/test_exceptions.py
Due: mypy

fix: use error_type attribute in handler instead of __name__
  processing-engine/app/exceptions.py
Due: mypy

feat: add exception hierarchy, error middleware, and narrow broad catches (#983)
  docs/key-files.md
  docs/plans/features/959-exception-handling-overhaul.md
  processing-engine/app/analysis/routes.py
  processing-engine/app/composite/routes.py
  processing-engine/app/exceptions.py
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/processing/analysis.py
  processing-engine/app/processing/detection.py
  processing-engine/app/semantic/embedding_service.py
  processing-engine/main.py
  processing-engine/main_mast.py
  processing-engine/tests/test_error_middleware.py
  processing-engine/tests/test_exceptions.py
Due: mypy

feat: add MAST exception subtypes and narrow MAST layer catches (PR 2 of 2)
  docs/plans/features/quick/959-pr2-mast-exception-narrowing.md
  processing-engine/app/exceptions.py
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_error_middleware.py
  processing-engine/tests/test_exceptions.py
  processing-engine/tests/test_mast_target_search_variants.py
Due: mypy
