Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: prevent search input overlapping Export CSV button in TableViewer
  frontend/jwst-frontend/src/components/TableViewer.css
Due: prettier

fix: prevent search/filter overlap in DashboardToolbar
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
Due: prettier

fix: address deep review findings for table viewer PR
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  frontend/jwst-frontend/src/components/TableViewer.tsx
Due: eslint, prettier

feat: add FITS table viewer for non-image FITS products (#465)
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Models/AnalysisModels.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.Log.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/IAnalysisService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/services/analysisService.ts
  frontend/jwst-frontend/src/types/AnalysisTypes.ts
  processing-engine/app/analysis/models.py
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_table_routes.py
Due: eslint, prettier, mypy

fix: stabilize flaky E2E auth test with explicit navigation waits
  frontend/jwst-frontend/e2e/auth.spec.ts
Due: none

fix: stabilize flaky E2E auth test with explicit navigation waits (#467)
  frontend/jwst-frontend/e2e/auth.spec.ts
Due: none

fix: correct unit string assertion for astropy MJy/sr formatting
  processing-engine/tests/test_spectral_routes.py
Due: mypy

feat: add spectral data visualization with interactive Plotly.js chart
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Models/AnalysisModels.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.Log.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/IAnalysisService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/services/analysisService.ts
  frontend/jwst-frontend/src/types/AnalysisTypes.ts
  frontend/jwst-frontend/src/utils/fitsUtils.ts
  processing-engine/app/analysis/models.py
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_spectral_routes.py
Due: eslint, prettier, mypy

feat: add bidirectional navigation between spectral and table viewers
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/TableViewer.tsx
Due: eslint, prettier

fix: address deep review findings for spectral viewer
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.tsx
  processing-engine/app/analysis/routes.py
Due: eslint, prettier, mypy

fix: address all review findings for spectral data visualization
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.Log.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/IAnalysisService.cs
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.tsx
  frontend/jwst-frontend/src/utils/fitsUtils.ts
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_spectral_routes.py
Due: eslint, prettier, mypy

feat: add spectral data visualization with interactive Plotly.js chart (#466)
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Models/AnalysisModels.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.Log.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/IAnalysisService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/SpectralViewer.tsx
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/services/analysisService.ts
  frontend/jwst-frontend/src/types/AnalysisTypes.ts
  frontend/jwst-frontend/src/utils/fitsUtils.ts
  processing-engine/app/analysis/models.py
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_spectral_routes.py
Due: eslint, prettier, mypy

test: increase Python test coverage from 24% to 66%
  processing-engine/tests/test_background.py
  processing-engine/tests/test_download_tracker.py
  processing-engine/tests/test_enhancement.py
  processing-engine/tests/test_filters.py
  processing-engine/tests/test_pipeline.py
  processing-engine/tests/test_statistics.py
Due: mypy

test: increase Python test coverage from 24% to 66% (#468)
  processing-engine/tests/test_background.py
  processing-engine/tests/test_download_tracker.py
  processing-engine/tests/test_enhancement.py
  processing-engine/tests/test_filters.py
  processing-engine/tests/test_pipeline.py
  processing-engine/tests/test_statistics.py
Due: mypy

test: increase backend test coverage from 25% to 42%
  .github/workflows/ci.yml
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/DataManagementControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/AnalysisServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MastServiceTests.cs
Due: none

test: increase backend test coverage from 25% to 42% (#469)
  .github/workflows/ci.yml
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/DataManagementControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/AnalysisServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MastServiceTests.cs
Due: none

fix: resolve TypeScript strict mode errors in test files
  frontend/jwst-frontend/src/components/AnnotationOverlay.test.tsx
  frontend/jwst-frontend/src/components/CubeNavigator.test.tsx
  frontend/jwst-frontend/src/components/ExportOptionsPanel.test.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.test.tsx
  frontend/jwst-frontend/src/components/SpectralViewer.test.tsx
  frontend/jwst-frontend/src/components/StretchControls.test.tsx
  frontend/jwst-frontend/src/components/WcsGridOverlay.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.test.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionOverlay.test.tsx
  frontend/jwst-frontend/src/components/wizard/FootprintPreview.test.tsx
  frontend/jwst-frontend/src/utils/wcsGridUtils.test.ts
Due: eslint, prettier

fix: resolve all 72 frontend lint warnings with proper types
  frontend/jwst-frontend/src/components/AnnotationOverlay.test.tsx
  frontend/jwst-frontend/src/components/ExportOptionsPanel.test.tsx
  frontend/jwst-frontend/src/components/RegionStatisticsPanel.test.tsx
  frontend/jwst-frontend/src/components/StretchControls.test.tsx
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/WcsGridOverlay.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/services/apiClient.test.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wcsGridUtils.test.ts
Due: eslint, prettier

fix: resolve all 72 frontend lint warnings with proper types (#471)
  frontend/jwst-frontend/src/components/AnnotationOverlay.test.tsx
  frontend/jwst-frontend/src/components/ExportOptionsPanel.test.tsx
  frontend/jwst-frontend/src/components/RegionStatisticsPanel.test.tsx
  frontend/jwst-frontend/src/components/StretchControls.test.tsx
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/WcsGridOverlay.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/services/apiClient.test.ts
  frontend/jwst-frontend/src/utils/coordinateUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wcsGridUtils.test.ts
Due: eslint, prettier

fix: resolve all Python deprecation warnings and achieve 0-warning test suite
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/download_tracker.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/app/processing/enhancement.py
  processing-engine/app/processing/pipeline.py
  processing-engine/main.py
  processing-engine/pyproject.toml
  processing-engine/tests/test_detection.py
  processing-engine/tests/test_download_tracker.py
  processing-engine/tests/test_enhancement.py
  processing-engine/tests/test_filters.py
  processing-engine/tests/test_pipeline.py
Due: mypy

fix: resolve all Python deprecation warnings and achieve 0-warning test suite (#472)
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/download_tracker.py
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/app/processing/enhancement.py
  processing-engine/app/processing/pipeline.py
  processing-engine/main.py
  processing-engine/pyproject.toml
  processing-engine/tests/test_detection.py
  processing-engine/tests/test_download_tracker.py
  processing-engine/tests/test_enhancement.py
  processing-engine/tests/test_filters.py
  processing-engine/tests/test_pipeline.py
Due: mypy

test: add CompositeService unit tests to bump backend coverage above 40%
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
Due: none

test: add CompositeService unit tests to bump backend coverage above 40% (#473)
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
Due: none

fix: resolve all 41 backend test lint warnings (SA/CA rules)
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/DataManagementControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/AnalysisServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MastServiceTests.cs
Due: none

fix: resolve all 41 backend test lint warnings (SA/CA rules) (#474)
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/DataManagementControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/AnalysisServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MastServiceTests.cs
Due: none

feat: add SignalR infrastructure for real-time job progress (Phase 1)
  backend/JwstDataAnalysis.API.Tests/Hubs/JobProgressHubTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobProgressNotifierTests.cs
  backend/JwstDataAnalysis.API/Hubs/JobProgressHub.cs
  backend/JwstDataAnalysis.API/Models/JobProgressModels.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IJobProgressNotifier.cs
  backend/JwstDataAnalysis.API/Services/JobProgressNotifier.cs
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/src/services/signalRService.ts
  frontend/jwst-frontend/src/types/JobTypes.ts
Due: eslint, prettier

fix: resolve CA1873 warnings by extracting log arguments to locals
  backend/JwstDataAnalysis.API/Hubs/JobProgressHub.cs
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
