Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: filter non-science observations from recipe generation (#778)
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix: bump recipe cache version to invalidate stale non-science recipes
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
Due: eslint, prettier

fix: verify FITS files exist on disk in availability check
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
Due: none

fix: bump recipe cache version to invalidate stale non-science recipes (#779)
  frontend/jwst-frontend/src/services/discoveryService.test.ts
  frontend/jwst-frontend/src/services/discoveryService.ts
Due: eslint, prettier

fix: verify FITS files exist on disk in availability check (#780)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
Due: none

feat: coverage-aware pixel blending for multi-instrument composites
  docs/plans/features/781-coverage-aware-blending.md
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

fix: revert per-pixel weight normalization, keep mask infrastructure
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

feat: coverage-aware pixel blending for multi-instrument composites (#782)
  docs/plans/features/781-coverage-aware-blending.md
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

feat: edge feathering for multi-instrument FOV boundaries
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

fix: auto-scale feather radius and skip full-coverage channels
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

feat: add edge feather strength slider across full stack
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/plans/features/781-coverage-aware-blending.md
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy

fix: preserve feather strength across channel/preset changes
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: edge feathering for multi-instrument FOV boundaries (#784)
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/plans/features/781-coverage-aware-blending.md
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy

fix: add scroll shadows to channel colors list for overflow indication
  frontend/jwst-frontend/src/components/guided/ResultStep.css
Due: prettier

fix: add scroll shadows to channel colors list for overflow indication (#785)
  frontend/jwst-frontend/src/components/guided/ResultStep.css
Due: prettier

feat: wallpaper-ready export with server-side rotation, zoom/pan, and resolution presets
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.css
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_framing.py
Due: eslint, prettier, mypy

refactor: promote framing canvas to main preview, remove duplicate preview image
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.css
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
Due: eslint, prettier

feat: wallpaper-ready export with server-side rotation and resolution presets (#786)
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.css
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_framing.py
Due: eslint, prettier, mypy

fix: compute feather mask from composite boundary instead of per-channel
  processing-engine/app/composite/routes.py
Due: mypy

fix: improve Result step layout — compact header, scrollable sidebar, portal color picker
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.css
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

feat: curated NASA-style recipes for famous JWST images
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: compute feather mask from composite boundary instead of per-channel (#787)
  processing-engine/app/composite/routes.py
Due: mypy

fix: improve Result step layout — compact header, scrollable sidebar, portal color picker (#789)
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.css
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.css
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

feat: curated NASA-style recipes for famous JWST images (#791)
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  frontend/jwst-frontend/src/components/discovery/RecipeCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/app/discovery/routes.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: update E2E test selectors to match current component structure
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/e2e/mosaic-wizard.spec.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
Due: none

fix: update E2E test selectors to match current component structure (#792)
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/e2e/mosaic-wizard.spec.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
Due: none

fix: resolve CA1873 lint warning in DiscoveryController
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
Due: none

fix: resolve CA1873 lint warning in DiscoveryController (#793)
  backend/JwstDataAnalysis.API/Controllers/DiscoveryController.cs
Due: none

fix: switch to By Target view in openImageViewer to fix 18 E2E skips
  frontend/jwst-frontend/e2e/helpers.ts
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
