Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: load embedding model outside FAISS lock to avoid service-wide stall (#1524) (#1556)
  docs/plans/features/quick/1524-faiss-lock-during-retry.md
  processing-engine/app/semantic/embedding_service.py
  processing-engine/tests/test_embedding_service.py
Due: mypy

fix: escape S3 Content-Disposition filename to prevent 400s and header injection (#1540)
  backend/JwstDataAnalysis.API.Tests/Services/S3StorageProviderTests.cs
  backend/JwstDataAnalysis.API/Services/Storage/S3StorageProvider.cs
  docs/plans/features/quick/1540-s3-content-disposition-escaping.md
Due: none

fix: escape S3 Content-Disposition filename to prevent 400s and header injection (#1540) (#1557)
  backend/JwstDataAnalysis.API.Tests/Services/S3StorageProviderTests.cs
  backend/JwstDataAnalysis.API/Services/Storage/S3StorageProvider.cs
  docs/plans/features/quick/1540-s3-content-disposition-escaping.md
Due: none

fix: guard missing 'Local Path' column in progressive download path (#1523)
  docs/plans/features/quick/1523-progressive-download-manifest-guard.md
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/mast/test_download_progress_guard.py
Due: mypy

fix: guard missing 'Local Path' column in progressive download path (#1523) (#1559)
  docs/plans/features/quick/1523-progressive-download-manifest-guard.md
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/mast/test_download_progress_guard.py
Due: mypy

chore: move processing-engine test/lint tooling out of production requirements.txt (#1468)
  .github/workflows/ci.yml
  .github/workflows/composite-memory-test.yml
  docker/docker-compose.agent.yml
  docker/docker-compose.override.yml
  docs/architecture/build-pipeline.md
  docs/plans/features/quick/1468-requirements-dev-split.md
  docs/quick-reference.md
  docs/setup-guide.md
  processing-engine/Dockerfile
  processing-engine/requirements-dev.txt
  processing-engine/requirements.txt
Due: none

chore: move processing-engine test/lint tooling out of production requirements.txt (#1468) (#1560)
  .github/workflows/ci.yml
  .github/workflows/composite-memory-test.yml
  docker/docker-compose.agent.yml
  docker/docker-compose.override.yml
  docs/architecture/build-pipeline.md
  docs/plans/features/quick/1468-requirements-dev-split.md
  docs/quick-reference.md
  docs/setup-guide.md
  processing-engine/Dockerfile
  processing-engine/requirements-dev.txt
  processing-engine/requirements.txt
Due: none

fix: clean up auto-generated recipe names — drop /IMAGE suffix, add spacing (#1454)
  docs/plans/features/quick/1454-recipe-name-display.md
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix: clean up auto-generated recipe names — drop /IMAGE suffix, add spacing (#1454) (#1562)
  docs/plans/features/quick/1454-recipe-name-display.md
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix: normalize instrument names in recipe/target card meta lines (#1561)
  docs/plans/features/quick/1561-normalize-instrument-display.md
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/utils/instrumentDisplay.test.ts
  frontend/jwst-frontend/src/utils/instrumentDisplay.ts
Due: eslint, prettier

docs: ADR 0001 + Python backend scaffolding for single-backend migration (Phase 0)
  AGENTS.md
  docs/architecture/adr/0001-collapse-to-python-single-backend.md
  docs/architecture/index.md
  docs/architecture/system-overview.md
  mkdocs.yml
  processing-engine/app/auth/__init__.py
  processing-engine/app/auth/routes.py
  processing-engine/app/db/__init__.py
  processing-engine/app/jobs/__init__.py
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/__init__.py
  processing-engine/app/library/routes.py
  processing-engine/main.py
  processing-engine/requirements.txt
Due: mypy

docs(blog): fill gap with 13 posts from 2026-04-21 to 2026-05-17 (#1542)
  docs/blog/posts/2026-04-21.md
  docs/blog/posts/2026-04-24.md
  docs/blog/posts/2026-04-30.md
  docs/blog/posts/2026-05-01.md
  docs/blog/posts/2026-05-02.md
  docs/blog/posts/2026-05-03.md
  docs/blog/posts/2026-05-04.md
  docs/blog/posts/2026-05-06.md
  docs/blog/posts/2026-05-08.md
  docs/blog/posts/2026-05-12.md
  docs/blog/posts/2026-05-15.md
  docs/blog/posts/2026-05-16.md
  docs/blog/posts/2026-05-17.md
Due: none

fix: normalize instrument names in recipe/target card meta lines (#1561) (#1566)
  docs/plans/features/quick/1561-normalize-instrument-display.md
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/utils/instrumentDisplay.test.ts
  frontend/jwst-frontend/src/utils/instrumentDisplay.ts
Due: eslint, prettier

fix(lint): update renamed eslint-react no-leaked-timeout rule reference
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

feat: redesign Discover Home as mission console
  docs/key-files.md
  docs/plans/features/discover-home-redesign.md
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/src/components/discovery/FilterChips.css
  frontend/jwst-frontend/src/components/discovery/FilterChips.test.tsx
  frontend/jwst-frontend/src/components/discovery/FilterChips.tsx
  frontend/jwst-frontend/src/components/discovery/InstrumentBadge.css
  frontend/jwst-frontend/src/components/discovery/InstrumentBadge.tsx
  frontend/jwst-frontend/src/components/discovery/PotentialPill.css
  frontend/jwst-frontend/src/components/discovery/PotentialPill.tsx
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/discovery/SearchBar.tsx
  frontend/jwst-frontend/src/components/discovery/SearchConsole.css
  frontend/jwst-frontend/src/components/discovery/SearchConsole.test.tsx
  frontend/jwst-frontend/src/components/discovery/SearchConsole.tsx
  frontend/jwst-frontend/src/components/discovery/SpotlightSection.css
  frontend/jwst-frontend/src/components/discovery/SpotlightSection.test.tsx
  frontend/jwst-frontend/src/components/discovery/SpotlightSection.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.css
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.css
  frontend/jwst-frontend/src/components/discovery/categoryGradients.css
  frontend/jwst-frontend/src/components/discovery/categoryThumb.ts
  frontend/jwst-frontend/src/components/discovery/potentialConfig.ts
  frontend/jwst-frontend/src/components/icons/DashboardIcons.tsx
  frontend/jwst-frontend/src/components/layout/MastStatusPill.css
  frontend/jwst-frontend/src/components/layout/MastStatusPill.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/utils/filterTargets.test.ts
  frontend/jwst-frontend/src/utils/filterTargets.ts
  frontend/jwst-frontend/src/utils/spotlight.ts
Due: eslint, prettier

feat: redesign Discover Home as mission console (#1616)
  docs/key-files.md
  docs/plans/features/discover-home-redesign.md
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
  frontend/jwst-frontend/src/components/discovery/FilterChips.css
  frontend/jwst-frontend/src/components/discovery/FilterChips.test.tsx
  frontend/jwst-frontend/src/components/discovery/FilterChips.tsx
  frontend/jwst-frontend/src/components/discovery/InstrumentBadge.css
  frontend/jwst-frontend/src/components/discovery/InstrumentBadge.tsx
  frontend/jwst-frontend/src/components/discovery/PotentialPill.css
  frontend/jwst-frontend/src/components/discovery/PotentialPill.tsx
  frontend/jwst-frontend/src/components/discovery/SearchBar.css
  frontend/jwst-frontend/src/components/discovery/SearchBar.tsx
  frontend/jwst-frontend/src/components/discovery/SearchConsole.css
  frontend/jwst-frontend/src/components/discovery/SearchConsole.test.tsx
  frontend/jwst-frontend/src/components/discovery/SearchConsole.tsx
  frontend/jwst-frontend/src/components/discovery/SpotlightSection.css
  frontend/jwst-frontend/src/components/discovery/SpotlightSection.test.tsx
  frontend/jwst-frontend/src/components/discovery/SpotlightSection.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.css
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCardSkeleton.css
  frontend/jwst-frontend/src/components/discovery/categoryGradients.css
  frontend/jwst-frontend/src/components/discovery/categoryThumb.ts
  frontend/jwst-frontend/src/components/discovery/potentialConfig.ts
  frontend/jwst-frontend/src/components/icons/DashboardIcons.tsx
  frontend/jwst-frontend/src/components/layout/MastStatusPill.css
  frontend/jwst-frontend/src/components/layout/MastStatusPill.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/utils/filterTargets.test.ts
  frontend/jwst-frontend/src/utils/filterTargets.ts
  frontend/jwst-frontend/src/utils/spotlight.ts
Due: eslint, prettier

test: use exact match for nav Search link assertion
  frontend/jwst-frontend/e2e/discovery-home.spec.ts
Due: none

fix: normalize IPv6-mapped IPv4 addresses so dev rate-limit whitelist matches
  backend/JwstDataAnalysis.API.Tests/Configuration/Ipv4MappedRateLimitConfigurationTests.cs
  backend/JwstDataAnalysis.API/Configuration/Ipv4MappedIpResolveContributor.cs
  backend/JwstDataAnalysis.API/Configuration/Ipv4MappedRateLimitConfiguration.cs
  backend/JwstDataAnalysis.API/Program.cs
  docs/plans/features/quick/1615-rate-limit-ipv6-mapped-whitelist.md
Due: none

fix: normalize IPv6-mapped IPv4 addresses so dev rate-limit whitelist matches (#1621)
  backend/JwstDataAnalysis.API.Tests/Configuration/Ipv4MappedRateLimitConfigurationTests.cs
  backend/JwstDataAnalysis.API/Configuration/Ipv4MappedIpResolveContributor.cs
  backend/JwstDataAnalysis.API/Configuration/Ipv4MappedRateLimitConfiguration.cs
  backend/JwstDataAnalysis.API/Program.cs
  docs/plans/features/quick/1615-rate-limit-ipv6-mapped-whitelist.md
Due: none

chore(ci): skip claude-review on dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

fix: sort import blocks in scaffolding routers (ruff I001)
  processing-engine/app/auth/routes.py
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/routes.py
Due: mypy

chore(ci): skip claude-review on dependabot PRs (#1622)
  .github/workflows/claude-code-review.yml
Due: none

docs: ADR 0001 + Python backend scaffolding for single-backend migration (Phase 0) (#1623)
  AGENTS.md
  docs/architecture/adr/0001-collapse-to-python-single-backend.md
  docs/architecture/index.md
  docs/architecture/system-overview.md
  mkdocs.yml
  processing-engine/app/auth/__init__.py
  processing-engine/app/auth/routes.py
  processing-engine/app/db/__init__.py
  processing-engine/app/jobs/__init__.py
  processing-engine/app/jobs/routes.py
  processing-engine/app/library/__init__.py
  processing-engine/app/library/routes.py
  processing-engine/main.py
  processing-engine/requirements.txt
Due: mypy

docs: Community Edition (v1) definition and build plan
  docs/plans/features/community-edition-v1.md
Due: none

docs: re-cut CE plan around Python read-slice (Path 2)
  docs/plans/features/community-edition-v1.md
Due: none

feat: global render semaphore — bound concurrent composite/mosaic renders (#1645)
  docker/.env.example
  docs/plans/features/quick/1645-render-semaphore.md
  processing-engine/Dockerfile
  processing-engine/app/composite/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/render_gate.py
  processing-engine/main.py
  processing-engine/tests/test_render_gate.py
Due: mypy

docs: catch up drift from #1520, #1521, #1619
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/frontend-development.md
Due: none

docs: catch up drift from #1520, #1521, #1619 (#1651)
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/frontend-development.md
Due: none

docs: fold CEO+eng review outcomes into CE v1 plan
  docs/plans/features/community-edition-v1.md
Due: none

docs: Community Edition (v1) definition and build plan (#1644)
  docs/plans/features/community-edition-v1.md
Due: none

docs: replace stale CE Wallpapers section with pointer to CE v1 plan
  docs/development-plan.md
Due: none

docs: replace stale CE Wallpapers section with pointer to CE v1 plan (#1652)
  docs/development-plan.md
Due: none

feat: CE Phase 1 day-1 spikes — casing, contracts, allowlist, timing
  docs/plans/features/ce-phase1-route-allowlist.md
  docs/plans/features/ce-phase1-spike-report.md
  processing-engine/tests/contract/README.md
  processing-engine/tests/contract/__init__.py
  processing-engine/tests/contract/capture_fixtures.py
  processing-engine/tests/contract/fixtures/get_discovery_featured.json
  processing-engine/tests/contract/fixtures/get_health.json
  processing-engine/tests/contract/fixtures/get_jwstdata_list.json
  processing-engine/tests/contract/fixtures/post_discovery_suggest_recipes.json
  processing-engine/tests/contract/fixtures/post_jwstdata_check_availability.json
  processing-engine/tests/contract/fixtures/post_mast_search_target.json
Due: mypy

feat: CE Phase 1 day-1 spikes — casing, contracts, allowlist, timing (#1654)
  docs/plans/features/ce-phase1-route-allowlist.md
  docs/plans/features/ce-phase1-spike-report.md
  processing-engine/tests/contract/README.md
  processing-engine/tests/contract/__init__.py
  processing-engine/tests/contract/capture_fixtures.py
  processing-engine/tests/contract/fixtures/get_discovery_featured.json
  processing-engine/tests/contract/fixtures/get_health.json
  processing-engine/tests/contract/fixtures/get_jwstdata_list.json
  processing-engine/tests/contract/fixtures/post_discovery_suggest_recipes.json
  processing-engine/tests/contract/fixtures/post_jwstdata_check_availability.json
  processing-engine/tests/contract/fixtures/post_mast_search_target.json
Due: mypy

feat: CE Phase 2 read-slice — /api facade, db layer, CE_MODE deny-by-default
  docs/key-files.md
  processing-engine/app/db/casing.py
  processing-engine/app/db/client.py
  processing-engine/app/db/deps.py
  processing-engine/app/db/projection.py
  processing-engine/app/db/repository.py
  processing-engine/app/discovery/api_routes.py
  processing-engine/app/discovery/featured_targets.json
  processing-engine/app/library/routes.py
  processing-engine/main.py
  processing-engine/tests/contract/test_ce_api_contracts.py
  processing-engine/tests/db/__init__.py
  processing-engine/tests/db/fakes.py
  processing-engine/tests/db/test_casing.py
  processing-engine/tests/db/test_projection.py
  processing-engine/tests/db/test_repository.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: CE Phase 2 read-slice — /api facade, db layer, CE_MODE deny-by-default (#1655)
  docs/key-files.md
  processing-engine/app/db/casing.py
  processing-engine/app/db/client.py
  processing-engine/app/db/deps.py
  processing-engine/app/db/projection.py
  processing-engine/app/db/repository.py
  processing-engine/app/discovery/api_routes.py
  processing-engine/app/discovery/featured_targets.json
  processing-engine/app/library/routes.py
  processing-engine/main.py
  processing-engine/tests/contract/test_ce_api_contracts.py
  processing-engine/tests/db/__init__.py
  processing-engine/tests/db/fakes.py
  processing-engine/tests/db/test_casing.py
  processing-engine/tests/db/test_projection.py
  processing-engine/tests/db/test_repository.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: CE Phase 2 — /api/mast search facade (5 routes, alias resolve, filters strip)
  processing-engine/app/mast/api_routes.py
  processing-engine/main.py
  processing-engine/tests/contract/test_ce_mast_contracts.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: CE Phase 2 — /api/mast search facade (5 routes, alias resolve, filters strip) (#1656)
  processing-engine/app/mast/api_routes.py
  processing-engine/main.py
  processing-engine/tests/contract/test_ce_mast_contracts.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy
