Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: add empty state for dashboard card list (#823)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.css
  frontend/jwst-frontend/src/components/dashboard/LineageView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.css
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
Due: eslint, prettier

fix: UserMenu dropdown blends into dark background (#824)
  frontend/jwst-frontend/src/components/UserMenu.css
Due: prettier

fix: composite/mosaic ready state too subtle
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
Due: prettier

fix: composite/mosaic ready state too subtle (#826)
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
Due: prettier

perf: increase E2E Playwright workers from 3 to 6
  frontend/jwst-frontend/playwright.config.ts
Due: none

perf: increase E2E Playwright workers from 3 to 6 (#827)
  frontend/jwst-frontend/playwright.config.ts
Due: none

fix: improve navigation wayfinding with stronger active states and page context
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.css
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.css
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
  frontend/jwst-frontend/src/pages/SearchPage.tsx
Due: eslint, prettier

fix: address review findings — composite ready class, test coverage, useEffect separation
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
Due: eslint, prettier

docs: add blog posts for March 13-15
  docs/blog/posts/2026-03-13.md
  docs/blog/posts/2026-03-14.md
  docs/blog/posts/2026-03-15.md
Due: none

docs: add blog posts for March 13-15 (#829)
  docs/blog/posts/2026-03-13.md
  docs/blog/posts/2026-03-14.md
  docs/blog/posts/2026-03-15.md
Due: none

fix: improve navigation wayfinding with stronger active states and page context (#828)
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.css
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/MyLibrary.css
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
  frontend/jwst-frontend/src/pages/SearchPage.tsx
Due: eslint, prettier

fix: enable Spectrum button for spectral files regardless of isViewable
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

fix: enable Spectrum button for spectral files regardless of isViewable (#831)
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

fix: migrate hardcoded colors to design tokens
  frontend/jwst-frontend/src/components/ComparisonImagePicker.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/wizard/FootprintPreview.tsx
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

fix: migrate hardcoded colors to design tokens (#832)
  frontend/jwst-frontend/src/components/ComparisonImagePicker.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/discovery/TargetCard.tsx
  frontend/jwst-frontend/src/components/wizard/FootprintPreview.tsx
  frontend/jwst-frontend/src/index.css
Due: eslint, prettier

chore: upgrade vite 7→8 and @vitejs/plugin-react 5→6
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/vite.config.ts
Due: none

perf: switch plotly.js-dist-min to plotly.js-basic-dist-min
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/vite.config.ts
Due: none

chore: upgrade vite 7→8 and @vitejs/plugin-react 5→6 (#830)
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  frontend/jwst-frontend/vite.config.ts
Due: none

fix: add musl Linux binaries for Vite 8 Alpine Docker support
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
Due: none

test: add unit tests for MosaicService, SemanticSearchService, DataScanService
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/SemanticSearchServiceTests.cs
Due: none

fix: add musl Linux binaries for Vite 8 Alpine Docker support (#833)
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
Due: none

test: add unit tests for MosaicService, SemanticSearchService, DataScanService (#834)
  backend/JwstDataAnalysis.API.Tests/Services/DataScanServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/SemanticSearchServiceTests.cs
Due: none

test: add tests for MongoDBService, MastController, and background workers
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/EmbeddingBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobReaperBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/StartupScanBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Services/JobReaperBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/StartupScanBackgroundService.cs
Due: none

test: add tests for MongoDBService, MastController, and background workers (#835)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/EmbeddingBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobReaperBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/StartupScanBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Services/JobReaperBackgroundService.cs
  backend/JwstDataAnalysis.API/Services/StartupScanBackgroundService.cs
Due: none

test: replace processing engine with mock server in E2E tests
  .github/workflows/ci.yml
  docker/docker-compose.e2e.yml
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  tests/mock-processing-engine/Dockerfile
  tests/mock-processing-engine/server.py
Due: none

test: replace processing engine with mock server in E2E tests (#837)
  .github/workflows/ci.yml
  docker/docker-compose.e2e.yml
  frontend/jwst-frontend/package-lock.json
  frontend/jwst-frontend/package.json
  tests/mock-processing-engine/Dockerfile
  tests/mock-processing-engine/server.py
Due: none

fix: repair 8 failing E2E tests — file selection, button state, viewer tolerance
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/dashboard.spec.ts
  frontend/jwst-frontend/e2e/fits-viewer.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
Due: none

fix: remove stale disabled-button assertion in step navigation test
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
