Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

docs: add enriched blog post for 2026-03-04 (#636)
  docs/blog/MILESTONES.md
  docs/blog/images/2026-03-04/image-2.png
  docs/blog/images/2026-03-04/image-3.png
  docs/blog/images/2026-03-04/image-4.png
  docs/blog/images/2026-03-04/image-5.png
  docs/blog/images/2026-03-04/image-6.png
  docs/blog/images/2026-03-04/image.png
  docs/blog/images/manifest.json
  docs/blog/posts/2026-03-04.md
Due: none

fix: add title to March 4 blog post
  docs/blog/posts/2026-03-04.md
Due: none

fix: add title to March 4 blog post (#637)
  docs/blog/posts/2026-03-04.md
Due: none

docs: restructure development roadmap into slim 3-phase strategy
  docs/completed-phases.md
  docs/development-plan.md
  docs/standards/project-overview.md
  scripts/check-docs-consistency.sh
Due: none

docs: restructure development roadmap into slim 3-phase strategy (#653)
  docs/completed-phases.md
  docs/development-plan.md
  docs/standards/project-overview.md
  scripts/check-docs-consistency.sh
Due: none

docs: update March 4 blog post with evening session work
  docs/blog/posts/2026-03-04.md
Due: none

docs: update March 4 blog post with evening session work (#661)
  docs/blog/posts/2026-03-04.md
Due: none

chore: slim PR template and add perf/ci prefixes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
Due: none

chore: slim PR template and add perf/ci prefixes (#662)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/validate-pr.js
Due: none

fix: resolve lint warnings and test warnings
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  processing-engine/tests/test_chunked_downloader.py
Due: eslint, prettier, mypy

fix: use type-narrowing guard instead of non-null assertion in test
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
Due: eslint, prettier

fix: resolve lint warnings and test warnings (#663)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  processing-engine/tests/test_chunked_downloader.py
Due: eslint, prettier, mypy

feat: add Release Date column to MAST search results table
  frontend/jwst-frontend/src/components/MastSearch.tsx
Due: eslint, prettier

feat: add Release Date column to MAST search results table (#664)
  frontend/jwst-frontend/src/components/MastSearch.tsx
Due: eslint, prettier

docs: add Phase 5b (UI/UX polish, security, compositing) to roadmap
  docs/development-plan.md
Due: none

chore: remove Phase 3 placeholder endpoints and dead processing UI
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/services/jwstDataService.test.ts
  frontend/jwst-frontend/src/services/jwstDataService.ts
  processing-engine/main.py
Due: eslint, prettier, mypy

chore: remove stale processing comments from review feedback
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  frontend/jwst-frontend/src/services/jwstDataService.ts
Due: eslint, prettier

docs: add Phase 5b (UI/UX polish, security, compositing) to roadmap (#681)
  docs/development-plan.md
Due: none

chore: remove Phase 3 placeholder endpoints and dead processing UI (#682)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Models/ValidationTests.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/services/jwstDataService.test.ts
  frontend/jwst-frontend/src/services/jwstDataService.ts
  processing-engine/main.py
Due: eslint, prettier, mypy

feat: add composite presets and optimize stretch defaults (#687)
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  docs/plans/compositing-quality-spike.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  processing-engine/app/composite/models.py
Due: eslint, prettier, mypy

fix: update Python test to expect asinh default stretch
  processing-engine/tests/test_nchannel_composite.py
Due: mypy

feat: add composite presets and optimize stretch defaults (#689)
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  docs/plans/compositing-quality-spike.md
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  processing-engine/app/composite/models.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

refactor: extract shared stretch types from composite and mosaic wizards
  frontend/jwst-frontend/src/components/StretchControls.test.tsx
  frontend/jwst-frontend/src/components/StretchControls.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/types/MosaicTypes.ts
  frontend/jwst-frontend/src/types/StretchTypes.ts
Due: eslint, prettier

refactor: extract shared stretch types from composite and mosaic wizards (#692)
  frontend/jwst-frontend/src/components/StretchControls.test.tsx
  frontend/jwst-frontend/src/components/StretchControls.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/types/MosaicTypes.ts
  frontend/jwst-frontend/src/types/StretchTypes.ts
Due: eslint, prettier

docs: add March 5 blog post — The Gap
  docs/blog/images/2026-03-05/image-2.png
  docs/blog/images/2026-03-05/image.png
  docs/blog/images/manifest.json
  docs/blog/posts/2026-03-05.md
Due: none

docs: add March 5 blog post — The Gap (#693)
  docs/blog/images/2026-03-05/image-2.png
  docs/blog/images/2026-03-05/image.png
  docs/blog/images/manifest.json
  docs/blog/posts/2026-03-05.md
Due: none

docs: add NASA NGC 5134 image to March 5 blog post
  docs/blog/posts/2026-03-05.md
Due: none

docs: add NASA NGC 5134 image to March 5 blog post (#694)
  docs/blog/posts/2026-03-05.md
Due: none

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
