Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

fix: resolve target aliases, download progress, auth errors, and skip re-downloads (#498)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/DiscoveryServiceAliasTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/JobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/MosaicBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailBackgroundServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/DiscoveryModels.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/DiscoveryService.cs
  backend/JwstDataAnalysis.API/Services/IDiscoveryService.cs
  backend/JwstDataAnalysis.API/Services/JobTracker.cs
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/guided/DownloadStep.css
  frontend/jwst-frontend/src/components/guided/DownloadStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/compositeService.test.ts
  frontend/jwst-frontend/src/services/compositeService.ts
  processing-engine/app/mast/chunked_downloader.py
  processing-engine/app/mast/download_tracker.py
  processing-engine/app/mast/routes.py
  processing-engine/tests/test_chunked_downloader.py
Due: eslint, prettier, mypy

fix: resolve E2E test failures from public discovery routes (#501)
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceDeduplicationTests.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.Log.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/src/components/UserMenu.tsx
Due: eslint, prettier

fix: suppress CA1869 in DiscoveryServiceAliasTests (test-only serialization)
  backend/JwstDataAnalysis.API.Tests/Services/DiscoveryServiceAliasTests.cs
Due: none

fix: suppress CA1869 in DiscoveryServiceAliasTests (test-only serialization) (#502)
  backend/JwstDataAnalysis.API.Tests/Services/DiscoveryServiceAliasTests.cs
Due: none

fix: handle missing colorMapping in guided create composite flow
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
Due: eslint, prettier

fix: handle missing colorMapping in guided create composite flow (#503)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
Due: eslint, prettier

feat: convert wizard modals to pages and wire advanced editor link
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/dashboard.spec.ts
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/mosaic-wizard.spec.ts
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.test.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/CompositePage.css
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.css
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
  frontend/jwst-frontend/src/pages/index.test.ts
  frontend/jwst-frontend/src/pages/index.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

docs: update key-files and architecture for wizard page routes
  docs/architecture.md
  docs/key-files.md
Due: none

feat: convert wizard modals to pages and wire advanced editor link (#504)
  docs/architecture.md
  docs/key-files.md
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/dashboard.spec.ts
  frontend/jwst-frontend/e2e/guided-create.spec.ts
  frontend/jwst-frontend/e2e/mosaic-wizard.spec.ts
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.test.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/CompositePage.css
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.css
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
  frontend/jwst-frontend/src/pages/index.test.ts
  frontend/jwst-frontend/src/pages/index.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

fix: make wizard page footers always visible without scrolling
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
Due: prettier

fix: reduce wizard page chrome for full-page layout
  frontend/jwst-frontend/src/pages/CompositePage.css
  frontend/jwst-frontend/src/pages/MosaicPage.css
Due: prettier

fix: restore page widths after flex layout conversion
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
Due: prettier

fix: import wizard layout CSS in composite and mosaic pages
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
Due: eslint, prettier

fix: make wizard page footers always visible without scrolling (#505)
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/pages/CompositePage.css
  frontend/jwst-frontend/src/pages/CompositePage.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.css
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
Due: eslint, prettier

feat: use NASA/STScI discrete color palette for composite presets
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/filterPresets.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy

feat: use NASA/STScI discrete color palette for composite presets (#506)
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/filterPresets.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy

fix: send job snapshot on SignalR subscribe to prevent composite timeout
  backend/JwstDataAnalysis.API.Tests/Hubs/JobProgressHubTests.cs
  backend/JwstDataAnalysis.API/Hubs/JobProgressHub.cs
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

fix: send job snapshot on SignalR subscribe to prevent composite timeout (#507)
  backend/JwstDataAnalysis.API.Tests/Hubs/JobProgressHubTests.cs
  backend/JwstDataAnalysis.API/Hubs/JobProgressHub.cs
  frontend/jwst-frontend/src/hooks/useJobProgress.ts
Due: eslint, prettier

docs: freshen AGENTS.md with current project state
  AGENTS.md
Due: none

fix: prevent OOM crash in 8-channel composite generation
  processing-engine/app/composite/routes.py
Due: mypy

feat: add per-channel color and weight controls to guided create result page
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
Due: eslint, prettier

feat: add NASA preset color swatches to channel color picker
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
Due: eslint, prettier

feat: add per-channel color/weight controls with NASA preset swatches (#510)
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
Due: eslint, prettier

docs: freshen AGENTS.md with current project state (#508)
  AGENTS.md
Due: none

fix: prevent OOM crash in 8-channel composite generation (#509)
  processing-engine/app/composite/routes.py
Due: mypy

feat: add NASA/STScI thumbnail images to featured targets
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
Due: none

feat: add NASA/STScI thumbnail images to featured targets (#523)
  backend/JwstDataAnalysis.API/Configuration/featured-targets.json
Due: none

fix: show active stage indicator during composite processing
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
Due: eslint, prettier

fix: show active stage indicator during composite processing (#524)
  frontend/jwst-frontend/src/components/guided/ProcessStep.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
