Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

feat: CE Phase 2 — /api/composite/generate-nchannel facade + /api error shim
  processing-engine/app/composite/api_routes.py
  processing-engine/app/db/repository.py
  processing-engine/app/exceptions.py
  processing-engine/main.py
  processing-engine/tests/contract/test_ce_composite_contracts.py
  processing-engine/tests/db/fakes.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: CE Phase 2 — /api/composite/generate-nchannel facade + /api error shim (#1657)
  processing-engine/app/composite/api_routes.py
  processing-engine/app/db/repository.py
  processing-engine/app/exceptions.py
  processing-engine/main.py
  processing-engine/tests/contract/test_ce_composite_contracts.py
  processing-engine/tests/db/fakes.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: CE Phase 2 — render router fold + last /api dataId shims
  AGENTS.md
  docs/architecture/quality-attributes.md
  docs/key-files.md
  docs/plans/features/ce-phase1-route-allowlist.md
  processing-engine/app/analysis/api_routes.py
  processing-engine/app/db/access.py
  processing-engine/app/library/routes.py
  processing-engine/app/render/__init__.py
  processing-engine/app/render/routes.py
  processing-engine/main.py
  processing-engine/tests/contract/test_ce_render_analysis_contracts.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

feat: CE Phase 2 — render router fold + last /api dataId shims (#1658)
  AGENTS.md
  docs/architecture/quality-attributes.md
  docs/key-files.md
  docs/plans/features/ce-phase1-route-allowlist.md
  processing-engine/app/analysis/api_routes.py
  processing-engine/app/db/access.py
  processing-engine/app/library/routes.py
  processing-engine/app/render/__init__.py
  processing-engine/app/render/routes.py
  processing-engine/main.py
  processing-engine/tests/contract/test_ce_render_analysis_contracts.py
  processing-engine/tests/test_ce_mode_mounting.py
Due: mypy

docs: CE Phase 2 completion — plan checkboxes + quick-reference CE API section
  docs/plans/features/community-edition-v1.md
  docs/quick-reference.md
Due: none

docs: CE Phase 2 completion — plan checkboxes + quick-reference CE API section (#1659)
  docs/plans/features/community-edition-v1.md
  docs/quick-reference.md
Due: none

feat: CE Phase 3 — VITE_CE_MODE flag + route/nav/library gating
  frontend/jwst-frontend/src/App.ce.test.tsx
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.ce.test.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.test.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/config/ce.test.ts
  frontend/jwst-frontend/src/config/ce.ts
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
  frontend/jwst-frontend/src/vite-env.d.ts
Due: eslint, prettier

feat: CE Phase 3 — VITE_CE_MODE flag + route/nav/library gating (#1660)
  frontend/jwst-frontend/src/App.ce.test.tsx
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.ce.test.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.test.tsx
  frontend/jwst-frontend/src/components/layout/SharedLayout.tsx
  frontend/jwst-frontend/src/config/ce.test.ts
  frontend/jwst-frontend/src/config/ce.ts
  frontend/jwst-frontend/src/pages/MyLibrary.tsx
  frontend/jwst-frontend/src/vite-env.d.ts
Due: eslint, prettier

feat: CE Phase 3 — stranger-proof affordances, 429/timeout UX, de-jargon
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.ce.test.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/layout/MastStatusPill.ce.test.tsx
  frontend/jwst-frontend/src/components/layout/MastStatusPill.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/utils/compositeErrors.test.ts
  frontend/jwst-frontend/src/utils/compositeErrors.ts
Due: eslint, prettier

feat: CE Phase 3 — stranger-proof affordances, 429/timeout UX, de-jargon (#1661)
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.ce.test.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/layout/MastStatusPill.ce.test.tsx
  frontend/jwst-frontend/src/components/layout/MastStatusPill.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
  frontend/jwst-frontend/src/pages/DiscoveryHome.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/utils/compositeErrors.test.ts
  frontend/jwst-frontend/src/utils/compositeErrors.ts
Due: eslint, prettier

docs: CE Phase 3 completion — plan checkboxes + notes
  docs/plans/features/community-edition-v1.md
Due: none

docs: CE Phase 3 completion — plan checkboxes + notes (#1662)
  docs/plans/features/community-edition-v1.md
Due: none

feat: CE Phase 4 — global render semaphore (two-stage queue-or-429)
  docker/.env.example
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_render_semaphore.py
Due: mypy

feat: CE Phase 4 — global render semaphore (two-stage queue-or-429) (#1663)
  docker/.env.example
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_render_semaphore.py
Due: mypy

feat: CE Phase 4 — deployment stack (compose, nginx rate limits, ceReader)
  docker/.env.example
  docker/docker-compose.ce.yml
  docker/mongo-init-ce/create-ce-reader.js
  docs/architecture/deployment-architecture.md
  docs/architecture/docker-compose.md
  docs/architecture/network-topology.md
  frontend/jwst-frontend/Dockerfile
  frontend/jwst-frontend/nginx-ce.conf
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/mast_service.py
Due: mypy

feat: CE Phase 4 — deployment stack (compose, nginx rate limits, ceReader) (#1665)
  docker/.env.example
  docker/docker-compose.ce.yml
  docker/mongo-init-ce/create-ce-reader.js
  docs/architecture/deployment-architecture.md
  docs/architecture/docker-compose.md
  docs/architecture/network-topology.md
  frontend/jwst-frontend/Dockerfile
  frontend/jwst-frontend/nginx-ce.conf
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/mast_service.py
Due: mypy

docs: mark CE plan Phase 4 complete (#1663, #1665)
  docs/plans/features/community-edition-v1.md
Due: none

docs: mark CE plan Phase 4 complete (#1663, #1665) (#1666)
  docs/plans/features/community-edition-v1.md
Due: none

feat: CE Phase 5 — seed bundle tool with completeness gate
  docker/docker-compose.yml
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_seed_ce.py
  scripts/restore-seed.sh
  scripts/seed-ce.sh
Due: mypy

feat: CE Phase 5 — seed bundle tool with completeness gate (#1669)
  docker/docker-compose.yml
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_seed_ce.py
  scripts/restore-seed.sh
  scripts/seed-ce.sh
Due: mypy

feat: CE Phase 5 — relaxed downscale threshold for CE + gate posture flag
  docker/.env.example
  docker/docker-compose.ce.yml
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_seed_ce.py
Due: mypy

feat: CE Phase 5 — relaxed downscale threshold for CE + gate posture flag (#1670)
  docker/.env.example
  docker/docker-compose.ce.yml
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_seed_ce.py
Due: mypy

feat: CE Phase 5 — --exclude curation flag for the seed gate
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_seed_ce.py
Due: mypy

feat: SEED_HARDLINK=1 mode — hardlink bundle data on same-filesystem builds
  scripts/seed-ce.sh
Due: none

feat: CE Phase 5 — --exclude curation flag for the seed gate (#1671)
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_seed_ce.py
  scripts/seed-ce.sh
Due: mypy

fix: CE render timeout 120s → 600s (relaxed-threshold posture)
  docs/architecture/deployment-architecture.md
  docs/architecture/docker-compose.md
  docs/architecture/network-topology.md
  frontend/jwst-frontend/nginx-ce.conf
Due: none

fix: CE render timeout 120s → 600s (relaxed-threshold posture) (#1672)
  docs/architecture/deployment-architecture.md
  docs/architecture/docker-compose.md
  docs/architecture/network-topology.md
  frontend/jwst-frontend/nginx-ce.conf
Due: none

docs: mark CE plan Phase 5 complete (#1669-#1672)
  docs/plans/features/community-edition-v1.md
Due: none

docs: mark CE plan Phase 5 complete (#1669-#1672) (#1673)
  docs/plans/features/community-edition-v1.md
Due: none

feat: group target-page recipes into Ready to render / Not in library
  docs/plans/features/quick/recipe-grouping-and-fetch-cli.md
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/discovery/RecipeCard.availability.test.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.test.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/jwstDataService.test.ts
  frontend/jwst-frontend/src/services/jwstDataService.ts
  frontend/jwst-frontend/src/utils/observationUtils.test.ts
  frontend/jwst-frontend/src/utils/observationUtils.ts
Due: eslint, prettier

feat: group target-page recipes into Ready to render / Not in library (#1677)
  docs/plans/features/quick/recipe-grouping-and-fetch-cli.md
  frontend/jwst-frontend/e2e/target-detail.spec.ts
  frontend/jwst-frontend/src/components/discovery/RecipeCard.availability.test.tsx
  frontend/jwst-frontend/src/components/discovery/RecipeCard.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.css
  frontend/jwst-frontend/src/pages/TargetDetail.test.tsx
  frontend/jwst-frontend/src/pages/TargetDetail.tsx
  frontend/jwst-frontend/src/services/jwstDataService.test.ts
  frontend/jwst-frontend/src/services/jwstDataService.ts
  frontend/jwst-frontend/src/utils/observationUtils.test.ts
  frontend/jwst-frontend/src/utils/observationUtils.ts
Due: eslint, prettier

feat: fetch-recipe admin CLI — gap-fill missing data for one recipe
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_seed_ce.py
  scripts/README.md
  scripts/fetch-recipe.sh
Due: mypy

feat: fetch-recipe admin CLI — gap-fill missing data for one recipe (#1678)
  processing-engine/scripts/seed_ce.py
  processing-engine/tests/test_seed_ce.py
  scripts/README.md
  scripts/fetch-recipe.sh
Due: mypy

fix: recipe availability must not depend on MAST row order
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/utils/observationUtils.test.ts
  frontend/jwst-frontend/src/utils/observationUtils.ts
Due: eslint, prettier

fix: recipe availability must not depend on MAST row order (#1679)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/utils/observationUtils.test.ts
  frontend/jwst-frontend/src/utils/observationUtils.ts
Due: eslint, prettier

fix: wizard availability now matches the target card (any obs per filter)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/utils/observationUtils.test.ts
  frontend/jwst-frontend/src/utils/observationUtils.ts
Due: eslint, prettier

fix: wizard availability now matches the target card (any obs per filter) (#1680)
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/utils/observationUtils.test.ts
  frontend/jwst-frontend/src/utils/observationUtils.ts
Due: eslint, prettier

fix: show friendly message instead of raw nginx 502 page on gateway errors
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
Due: eslint, prettier

feat: extend global render semaphore to cover mosaic renders (#1645)
  docker/.env.example
  docker/docker-compose.ce.yml
  docs/plans/features/community-edition-v1.md
  processing-engine/app/composite/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/render/render_gate.py
  processing-engine/tests/test_render_semaphore.py
Due: mypy

style: ruff-format render_gate (collapse RENDER_QUEUE_DEPTH to one line)
  processing-engine/app/render/render_gate.py
Due: mypy
