Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: resolve 20 CodeQL security alerts (path traversal & sanitization) (#290)
  .github/scripts/validate-pr.js
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  processing-engine/app/analysis/routes.py
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/main.py
Due: mypy

fix: resolve 16 CodeQL py/path-injection alerts with startswith sanitizer
  processing-engine/app/analysis/routes.py
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/main.py
Due: mypy

fix: resolve 16 CodeQL py/path-injection alerts with startswith sanitizer (#291)
  processing-engine/app/analysis/routes.py
  processing-engine/app/mast/download_state_manager.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/main.py
Due: mypy

fix: use string-based path ops so CodeQL tracks startswith sanitizer
  processing-engine/app/analysis/routes.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/main.py
Due: mypy

fix: use string-based path ops so CodeQL tracks startswith sanitizer (#292)
  processing-engine/app/analysis/routes.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mosaic/routes.py
  processing-engine/main.py
Due: mypy

fix: remove default credentials from docker-compose.yml
  docker/docker-compose.yml
Due: none

fix: remove default credentials from docker-compose.yml (#293)
  docker/docker-compose.yml
Due: none

fix: enable E2E export tests with seed data and auth flow
  .github/workflows/ci.yml
  frontend/jwst-frontend/e2e/export.spec.ts
  tests/fixtures/e2e/mast/e2e-test-obs/test_mirimage_i2d.fits
  tests/fixtures/e2e/seed-data.json
Due: none

fix: enable E2E export tests with seed data and auth flow (#294)
  .github/workflows/ci.yml
  frontend/jwst-frontend/e2e/export.spec.ts
  tests/fixtures/e2e/mast/e2e-test-obs/test_mirimage_i2d.fits
  tests/fixtures/e2e/seed-data.json
Due: none

chore: add issue link prompt to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: add issue link prompt to PR template (#295)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: add automatic FITS thumbnail generation for dashboard cards
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerViewerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
  docs/development-plan.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  processing-engine/main.py
  processing-engine/tests/test_thumbnail.py
Due: eslint, prettier, mypy

feat: add automatic FITS thumbnail generation for dashboard cards (#297)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerViewerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
  backend/JwstDataAnalysis.API/Models/JwstDataModel.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
  docs/development-plan.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/types/JwstDataTypes.ts
  processing-engine/main.py
  processing-engine/tests/test_thumbnail.py
Due: eslint, prettier, mypy

feat: add thumbnails to lineage view and fix thumbnail generation path bug
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.Log.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

fix: add JsonPropertyName for snake_case thumbnail_base64 deserialization
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
Due: none

chore: update Quality Checklist to reference local checks instead of CI
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refactor: change default colormap from inferno to grayscale
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/MosaicModels.cs
  frontend/jwst-frontend/src/components/ComparisonImagePicker.tsx
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  processing-engine/app/mosaic/models.py
  processing-engine/main.py
Due: eslint, prettier, mypy

feat: add lineage view thumbnails and fix thumbnail path bug (#300)
  .github/PULL_REQUEST_TEMPLATE.md
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/MosaicModels.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.Log.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
  frontend/jwst-frontend/src/components/ComparisonImagePicker.tsx
  frontend/jwst-frontend/src/components/ImageComparisonViewer.tsx
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  processing-engine/app/mosaic/models.py
  processing-engine/main.py
Due: eslint, prettier, mypy

refactor: split JwstDataDashboard into focused view components
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.css
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.css
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.css
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.css
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.css
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
  frontend/jwst-frontend/src/utils/formatUtils.ts
  frontend/jwst-frontend/src/utils/statusUtils.ts
Due: eslint, prettier

refactor: split JwstDataDashboard into focused view components (#308)
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.css
  frontend/jwst-frontend/src/components/dashboard/DashboardToolbar.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.css
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.css
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.css
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.css
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.css
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.tsx
  frontend/jwst-frontend/src/components/dashboard/UploadModal.css
  frontend/jwst-frontend/src/components/dashboard/UploadModal.tsx
  frontend/jwst-frontend/src/utils/formatUtils.ts
  frontend/jwst-frontend/src/utils/statusUtils.ts
Due: eslint, prettier

test: add synthetic and fixture-based thumbnail tests
  processing-engine/tests/fixtures/jwst_miri_small.fits
  processing-engine/tests/test_thumbnail.py
Due: mypy

test: add synthetic and fixture-based thumbnail tests (#309)
  processing-engine/tests/fixtures/jwst_miri_small.fits
  processing-engine/tests/test_thumbnail.py
Due: mypy

chore: block commits on main and allow branch deletion in hooks
  .githooks/pre-commit
  .githooks/pre-push
Due: none

chore: block commits on main and allow branch deletion in hooks (#310)
  .githooks/pre-commit
  .githooks/pre-push
Due: none

chore: add branch cleanup script for squash-merge workflows
  scripts/cleanup-branch.sh
Due: none

chore: add branch cleanup script for squash-merge workflows (#311)
  scripts/cleanup-branch.sh
Due: none

chore: optimize CodeQL CI with path filtering and caching
  .github/workflows/security.yml
  AGENTS.md
Due: none

chore: revert to Autobuild for C# CodeQL
  .github/workflows/security.yml
Due: none
