Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: the offer must describe the search that actually ran (#1760)
  docs/mast-usage.md
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.test.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.tsx
  frontend/jwst-frontend/src/components/mast/rawFallback.test.ts
  frontend/jwst-frontend/src/components/mast/rawFallback.ts
Due: eslint, prettier

fix: carrying an attempt forward must take its siblings too (#1758)
  frontend/jwst-frontend/src/components/calibration/attempts.test.ts
  frontend/jwst-frontend/src/components/calibration/attempts.ts
  frontend/jwst-frontend/src/pages/CalibrationAttempts.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationAttempts.tsx
Due: eslint, prettier

feat: compare calibration attempts and carry the best forward (#1758) (#1759)
  frontend/jwst-frontend/src/App.tsx
  frontend/jwst-frontend/src/components/calibration/attempts.test.ts
  frontend/jwst-frontend/src/components/calibration/attempts.ts
  frontend/jwst-frontend/src/pages/CalibrationAttempts.css
  frontend/jwst-frontend/src/pages/CalibrationAttempts.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationAttempts.tsx
  frontend/jwst-frontend/src/pages/CalibrationRuns.tsx
Due: eslint, prettier

feat: offer raw data when a target has no finished image (#1760) (#1761)
  docs/mast-usage.md
  frontend/jwst-frontend/src/components/mast/MastSearch.css
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.test.tsx
  frontend/jwst-frontend/src/components/mast/SearchForm.tsx
  frontend/jwst-frontend/src/components/mast/rawFallback.test.ts
  frontend/jwst-frontend/src/components/mast/rawFallback.ts
Due: eslint, prettier

fix: broken doc link breaking the docs deploy on main
  docs/plans/features/650-production-environment-configuration.md
Due: none

fix: broken doc link breaking the docs deploy on main (#1762)
  docs/plans/features/650-production-environment-configuration.md
Due: none

fix: make the data mount explicit so worktree runs find the real library (#1753)
  docker/docker-compose.yml
  docs/quick-reference.md
Due: none

fix: calibrate action in the library's default (lineage) view
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
Due: eslint, prettier

test: assert calibration is wired into BOTH views, and fix the tooltip
  frontend/jwst-frontend/src/components/JwstDataDashboard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

fix: calibrate action in the library's default (lineage) view (#1767)
  frontend/jwst-frontend/src/components/JwstDataDashboard.test.tsx
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.ce.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.test.tsx
  frontend/jwst-frontend/src/components/dashboard/LineageView.tsx
Due: eslint, prettier

fix: reach the processing engine from the browser, including over LAN
  docker/.env.example
  docker/docker-compose.agent.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docs/quick-reference.md
  docs/setup-guide.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/config/engine.test.ts
  frontend/jwst-frontend/src/config/viteGuards.test.ts
  frontend/jwst-frontend/src/config/viteGuards.ts
  frontend/jwst-frontend/vite.config.ts
  processing-engine/app/config.py
  processing-engine/main.py
  processing-engine/tests/test_config_env_helpers.py
Due: eslint, prettier, mypy

fix: reach the processing engine from the browser, including over LAN (#1769)
  docker/.env.example
  docker/docker-compose.agent.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docs/quick-reference.md
  docs/setup-guide.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/config/engine.test.ts
  frontend/jwst-frontend/src/config/viteGuards.test.ts
  frontend/jwst-frontend/src/config/viteGuards.ts
  frontend/jwst-frontend/vite.config.ts
  processing-engine/app/config.py
  processing-engine/main.py
  processing-engine/tests/test_config_env_helpers.py
Due: eslint, prettier, mypy

feat: run liveness signals — per-file progress, timed log flush, updated_at
  docs/architecture/calibration-pipeline-flow.md
  docs/quick-reference.md
  processing-engine/app/calibration/executor.py
  processing-engine/app/jobs/models.py
  processing-engine/app/jobs/runner.py
  processing-engine/app/jobs/store.py
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_jobs_store.py
Due: mypy

feat: make a silent calibration run legible on the run page
  frontend/jwst-frontend/src/components/calibration/StageTimeline.css
  frontend/jwst-frontend/src/components/calibration/StageTimeline.test.tsx
  frontend/jwst-frontend/src/components/calibration/StageTimeline.tsx
  frontend/jwst-frontend/src/components/calibration/runTiming.test.ts
  frontend/jwst-frontend/src/components/calibration/runTiming.ts
  frontend/jwst-frontend/src/hooks/useCalibrationJob.test.ts
  frontend/jwst-frontend/src/hooks/useCalibrationJob.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
Due: eslint, prettier

test: make the heartbeat timer tests deterministic under load
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
Due: eslint, prettier

feat: make a silent calibration run legible on the run page (#1772)
  frontend/jwst-frontend/src/components/calibration/StageTimeline.css
  frontend/jwst-frontend/src/components/calibration/StageTimeline.test.tsx
  frontend/jwst-frontend/src/components/calibration/StageTimeline.tsx
  frontend/jwst-frontend/src/components/calibration/runTiming.test.ts
  frontend/jwst-frontend/src/components/calibration/runTiming.ts
  frontend/jwst-frontend/src/hooks/useCalibrationJob.test.ts
  frontend/jwst-frontend/src/hooks/useCalibrationJob.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
Due: eslint, prettier

fix: real liveness heartbeat, and don't swallow the runner's cancellation
  docker/.env.example
  docker/docker-compose.yml
  docs/architecture/calibration-pipeline-flow.md
  docs/quick-reference.md
  docs/setup-guide.md
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  processing-engine/app/calibration/executor.py
  processing-engine/app/jobs/store.py
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_jobs_store.py
Due: eslint, prettier, mypy

feat: run liveness signals — per-file progress, timed log flush, updated_at, honest interruption (#1771)
  docker/.env.example
  docker/docker-compose.yml
  docs/architecture/calibration-pipeline-flow.md
  docs/quick-reference.md
  docs/setup-guide.md
  frontend/jwst-frontend/src/types/CalibrationTypes.ts
  processing-engine/app/calibration/executor.py
  processing-engine/app/jobs/models.py
  processing-engine/app/jobs/runner.py
  processing-engine/app/jobs/store.py
  processing-engine/tests/test_calibration_executor.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_jobs_store.py
Due: eslint, prettier, mypy

fix: surface the render gate's 429 to clients, and let queued renders wait
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/EngineHttpErrorsTests.cs
  backend/JwstDataAnalysis.API/Controllers/ApiControllerBase.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/EngineHttpErrors.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  docker/.env.example
  docs/plans/features/community-edition-v1.md
  processing-engine/app/mosaic/routes.py
  processing-engine/app/render/render_gate.py
  processing-engine/tests/test_render_semaphore.py
Due: mypy

style: reformat for prettier 3.9.5
  frontend/jwst-frontend/src/components/ui/toast.tsx
  frontend/jwst-frontend/src/types/JobTypes.ts
  frontend/jwst-frontend/src/types/MosaicTypes.ts
  frontend/jwst-frontend/src/utils/colormaps.ts
Due: eslint, prettier

fix: bound background waiting, and carry Retry-After off the NDJSON path
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API/Controllers/ApiControllerBase.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docker/.env.example
  docs/plans/features/community-edition-v1.md
  processing-engine/app/config.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/render/render_gate.py
  processing-engine/tests/test_config_env_helpers.py
  processing-engine/tests/test_render_semaphore.py
Due: mypy

fix: emit retry_after as a number, and stop serializing background renders
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ProcessingErrorMessagesTests.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ProcessingErrorMessages.cs
  docker/.env.example
  docs/plans/features/community-edition-v1.md
  processing-engine/app/composite/routes.py
  processing-engine/app/config.py
  processing-engine/app/render/render_gate.py
  processing-engine/tests/test_config_env_helpers.py
  processing-engine/tests/test_render_semaphore.py
Due: mypy

fix: qualify the background-mode claims, validate queue depth, doc the 429
  docs/architecture/error-recovery.md
  processing-engine/app/composite/routes.py
  processing-engine/app/config.py
  processing-engine/app/render/render_gate.py
  processing-engine/tests/test_config_env_helpers.py
  processing-engine/tests/test_render_semaphore.py
Due: mypy

docs: mirror the full known-gap list into the CE plan, tighten two tests
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  docker/.env.example
  docs/plans/features/community-edition-v1.md
  processing-engine/app/render/render_gate.py
Due: mypy

feat: extend global render semaphore to cover mosaic renders (#1645) (#1685)
  backend/JwstDataAnalysis.API.Tests/Controllers/CompositeControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MosaicControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/CompositeServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/EngineHttpErrorsTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ProcessingErrorMessagesTests.cs
  backend/JwstDataAnalysis.API/Controllers/ApiControllerBase.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/EngineHttpErrors.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/ProcessingErrorMessages.cs
  docker/.env.example
  docker/docker-compose.ce.yml
  docs/architecture/error-recovery.md
  docs/plans/features/community-edition-v1.md
  processing-engine/app/composite/routes.py
  processing-engine/app/config.py
  processing-engine/app/mosaic/routes.py
  processing-engine/app/render/render_gate.py
  processing-engine/tests/test_config_env_helpers.py
  processing-engine/tests/test_render_semaphore.py
Due: mypy

docs: plan for post-audit backlog quick wins (#1572, #1603, #1604, #1563, #1585)
  docs/plans/features/backlog-quick-wins.md
Due: none

fix: enforce ownership on CancelImport (IDOR) and record job owner at creation
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/IImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.Log.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
  docs/plans/features/backlog-quick-wins.md
Due: none

fix: dual-write cancellation as the job owner, not the requester
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.Log.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
Due: none

fix: enforce ownership on CancelImport (IDOR) and record job owner at creation (#1781)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/IImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.Log.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
  docs/plans/features/backlog-quick-wins.md
Due: none

fix: gate bulk import on auth for anonymous /archive visitors (#1648)
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.test.tsx
  frontend/jwst-frontend/src/components/mast/ResultsTable.tsx
Due: eslint, prettier

fix: resolve engine download IDs to their owning import job (#1782)
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/IImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
Due: none

feat: surface the source catalog calibration runs already compute
  docs/plans/features/quick/s1-surface-source-catalog.md
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  processing-engine/app/analysis/routes.py
  processing-engine/app/calibration/seeds/miri-imaging.json
  processing-engine/app/calibration/seeds/nircam-imaging.json
  processing-engine/app/calibration/seeds/niriss-imaging.json
  processing-engine/app/jobs/routes.py
  processing-engine/tests/test_calibration_recipes.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_table_routes.py
Due: eslint, prettier, mypy

fix: read mixin columns in ECSV catalogs, and format sky positions
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_table_routes.py
Due: mypy

feat: surface the source catalog calibration runs already compute (#1801)
  docs/plans/features/quick/s1-surface-source-catalog.md
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  processing-engine/app/analysis/routes.py
  processing-engine/app/calibration/seeds/miri-imaging.json
  processing-engine/app/calibration/seeds/nircam-imaging.json
  processing-engine/app/calibration/seeds/niriss-imaging.json
  processing-engine/app/jobs/routes.py
  processing-engine/tests/test_calibration_recipes.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_table_routes.py
Due: eslint, prettier, mypy

feat: name Level-3 products after the data, key library records by path
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceDeduplicationTests.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.Log.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  docs/plans/features/derived-product-names.md
  processing-engine/app/calibration/executor.py
  processing-engine/app/calibration/product_naming.py
  processing-engine/app/jobs/routes.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_product_naming.py
Due: mypy

feat: name Level-3 products after the data, key library records by path (#1804)
  backend/JwstDataAnalysis.API.Tests/Services/MongoDBServiceDeduplicationTests.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.Log.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  docs/plans/features/derived-product-names.md
  processing-engine/app/calibration/executor.py
  processing-engine/app/calibration/product_naming.py
  processing-engine/app/jobs/routes.py
  processing-engine/tests/test_jobs_routes.py
  processing-engine/tests/test_product_naming.py
Due: mypy

fix: TableViewer ECSV numeric alignment and CSV filename
  frontend/jwst-frontend/src/components/TableViewer.test.tsx
  frontend/jwst-frontend/src/components/TableViewer.tsx
Due: eslint, prettier

fix: calibration UI resilience — partial loads, polling retry, thumb fallback
  frontend/jwst-frontend/src/components/mast/MastSearch.test.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/hooks/useCalibrationJob.test.ts
  frontend/jwst-frontend/src/hooks/useCalibrationJob.ts
  frontend/jwst-frontend/src/pages/CalibrateRun.css
  frontend/jwst-frontend/src/pages/CalibrationAttempts.css
  frontend/jwst-frontend/src/pages/CalibrationAttempts.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationAttempts.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.test.tsx
  frontend/jwst-frontend/src/pages/CalibrationGallery.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
Due: eslint, prettier

fix: import job ownership, ID-space conflation and cancel lifecycle
  backend/JwstDataAnalysis.API.Tests/Controllers/JobsControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API/Controllers/JobsController.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/IImportJobTracker.cs
  backend/JwstDataAnalysis.API/Services/ImportJobTracker.cs
Due: none

fix: surface real API errors instead of raw JSON, XML bodies and silence
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/mast/MastSearch.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/pages/MosaicPage.tsx
  frontend/jwst-frontend/src/pages/RunDetail.test.tsx
  frontend/jwst-frontend/src/pages/RunDetail.tsx
  frontend/jwst-frontend/src/services/ApiError.test.ts
  frontend/jwst-frontend/src/services/ApiError.ts
Due: eslint, prettier
