Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

feat: add target stage and instrument filters to mosaic selection
  docs/desktop-requirements.md
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

feat: add server-side FITS mosaic save flow
  backend/JwstDataAnalysis.API/Controllers/MosaicController.cs
  backend/JwstDataAnalysis.API/Models/MosaicModels.cs
  backend/JwstDataAnalysis.API/Services/IMosaicService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/services/mosaicService.ts
  frontend/jwst-frontend/src/types/MosaicTypes.ts
  processing-engine/app/mosaic/models.py
  processing-engine/app/mosaic/routes.py
  processing-engine/tests/test_mosaic_engine.py
Due: eslint, prettier, mypy

fix: keep mosaic wizard open after FITS save
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

feat: add dashboard tag filter for saved mosaics
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  docs/standards/frontend-development.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

feat: enrich generated mosaic FITS metadata
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  docs/quick-reference.md
  docs/standards/backend-development.md
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/app/mosaic/routes.py
  processing-engine/tests/test_mosaic_engine.py
Due: mypy

docs: make challenge-first collaboration the default
  AGENTS.md
  CLAUDE.md
Due: none

chore: add public repository preflight audit script
  scripts/README.md
  scripts/public-preflight.sh
Due: none

docs: expand AGENTS.md as model-independent agent guide, slim CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

chore: enhance public preflight script and fix tracked .claude symlink
  .claude
  scripts/README.md
  scripts/public-preflight.sh
Due: none

chore: prepare repository for public visibility
  .gitignore
  AGENTS.md
  CLAUDE.md
  docs/JWST_Image_Processing_Research.py
  scripts/public-preflight.sh
Due: none

chore: enable CodeQL security scanning and branch protection
  .githooks/pre-commit
  .github/workflows/security.yml
  docs/tech-debt.md
Due: none

docs: add challenge-first collaboration style to AGENTS.md
  AGENTS.md
Due: none

chore: remove stale CLAUDE.md references from public docs
  README.md
  docs/architecture.md
  docs/tech-debt.md
  scripts/README.md
Due: none

chore: add playwright-cli integration for browser automation and screenshots
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  docs/images/.gitkeep
  frontend/jwst-frontend/playwright.config.ts
  playwright-cli.json
  scripts/README.md
  scripts/capture-screenshots.sh
Due: none

chore: mark e2e-test job continue-on-error for initial rollout
  .github/workflows/ci.yml
Due: none

chore: track e2e Docker permission issue as tech debt #94
  docs/tech-debt.md
Due: none

fix: resolve e2e CI Docker stack permission and frontend issues
  .github/workflows/ci.yml
  docs/tech-debt.md
Due: none

refactor: move frontend service into base docker-compose.yml
  .github/workflows/ci.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
Due: none

perf: use GHA cache for e2e Docker image builds
  .github/workflows/ci.yml
Due: none

fix: resolve 10 e2e test failures, track export test gap as tech debt
  docs/tech-debt.md
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
  frontend/jwst-frontend/src/pages/RegisterPage.tsx
Due: eslint, prettier

fix: replace Math.random with crypto.randomUUID in e2e tests
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
Due: none

chore: add local PR standards validator script
  scripts/README.md
  scripts/validate-pr.sh
Due: none
