Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: expand background target filter to catch -BG suffix and BACKGROUND keyword
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
  scripts/recipe-walkthrough.py
Due: mypy

fix: exclude background/calibration targets from recipe generation (#880)
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
  scripts/recipe-walkthrough.py
Due: mypy

fix: resolution blur, per-channel feathering, and instrument-aware stretch for mixed-instrument composites
  processing-engine/app/composite/auto_stretch.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/app/instruments.py
  processing-engine/tests/test_auto_stretch.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_instruments.py
Due: mypy

fix: resolution blur, per-channel feathering, and instrument-aware stretch for mixed-instrument composites (#881)
  processing-engine/app/composite/auto_stretch.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/app/instruments.py
  processing-engine/tests/test_auto_stretch.py
  processing-engine/tests/test_composite_downscale.py
  processing-engine/tests/test_instruments.py
Due: mypy

fix: auto-enable feathering for multi-instrument composites
  .claude/skills/plan-eng-review/SKILL.md
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_color_mapping.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: bump auto-feather formula for stronger default blending
  processing-engine/app/composite/routes.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

Revert "fix: bump auto-feather formula for stronger default blending"
  processing-engine/app/composite/routes.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_recipe_engine.py
Due: mypy

fix: auto-enable feathering for multi-instrument composites (#884)
  .claude/skills/plan-eng-review/SKILL.md
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/pages/GuidedCreate.tsx
  frontend/jwst-frontend/src/types/DiscoveryTypes.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/app/discovery/models.py
  processing-engine/app/discovery/recipe_engine.py
  processing-engine/tests/test_color_mapping.py
  processing-engine/tests/test_recipe_engine.py
Due: eslint, prettier, mypy

fix: use line content as React key instead of array index
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/pages/CompositePage.tsx
Due: eslint, prettier

fix: use line content as React key instead of array index (#886)
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/pages/CompositePage.tsx
Due: eslint, prettier

chore: process improvements — trim AGENTS.md, add skills, docs audit
  .claude/skills/debug/SKILL.md
  .claude/skills/doc-update/SKILL.md
  .claude/skills/git-workflow/SKILL.md
  AGENTS.md
  docs/audits/2026-03-19-docs-audit.md
  frontend/jwst-frontend/.gitignore
Due: none

chore: process improvements — trim AGENTS.md, add skills, docs audit (#887)
  .claude/skills/debug/SKILL.md
  .claude/skills/doc-update/SKILL.md
  .claude/skills/git-workflow/SKILL.md
  AGENTS.md
  docs/audits/2026-03-19-docs-audit.md
  frontend/jwst-frontend/.gitignore
Due: none

fix: instrument-level blending for multi-instrument composites
  .claude/skills/plan-ceo-review/SKILL.md
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

fix: instrument-level blending for multi-instrument composites (#888)
  .claude/skills/plan-ceo-review/SKILL.md
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

fix: color-contribution feathering for multi-instrument composites
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

fix: color-contribution feathering for multi-instrument composites (#890)
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

docs: add blog posts for March 16-20 + enrich-blog skill
  .claude/skills/enrich-blog/SKILL.md
  docs/blog/posts/2026-03-16.md
  docs/blog/posts/2026-03-17.md
  docs/blog/posts/2026-03-18.md
  docs/blog/posts/2026-03-19.md
  docs/blog/posts/2026-03-20.md
Due: none

docs: add blog posts for March 16-20 + enrich-blog skill (#892)
  .claude/skills/enrich-blog/SKILL.md
  docs/blog/posts/2026-03-16.md
  docs/blog/posts/2026-03-17.md
  docs/blog/posts/2026-03-18.md
  docs/blog/posts/2026-03-19.md
  docs/blog/posts/2026-03-20.md
Due: none

fix: refine MIRI boundary transition with smoothstep, CIELAB lerp, and sRGB gamma
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
Due: mypy

fix: remove invalid eslint-disable references to non-existent rule
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/hooks/useSimulatedProgress.ts
Due: eslint, prettier

fix: disable new @eslint-react rules that break CI across all branches
  frontend/jwst-frontend/eslint.config.js
Due: none

fix: refine MIRI boundary transition — smoothstep, CIELAB lerp, sRGB gamma (#903)
  frontend/jwst-frontend/eslint.config.js
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/components/WhatsNewPanel.tsx
  frontend/jwst-frontend/src/components/guided/ExportFramingPanel.tsx
  frontend/jwst-frontend/src/components/guided/ResultStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/hooks/useSimulatedProgress.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy

fix: chunked CIELAB blending to prevent OOM on multi-instrument composites
  processing-engine/app/composite/color_mapping.py
Due: mypy

fix: chunked CIELAB blending to prevent OOM on multi-instrument composites (#904)
  processing-engine/app/composite/color_mapping.py
Due: mypy

fix: use union coverage mask for per-channel feathering
  processing-engine/app/composite/routes.py
Due: mypy

fix: use union coverage mask for per-channel feathering (#907)
  processing-engine/app/composite/routes.py
Due: mypy

fix: correct composite memory budget to prevent OOM on large NIRCAM data
  processing-engine/app/composite/routes.py
  scripts/recipe-walkthrough.py
Due: mypy

test: update downscale budget tests for N+13 array model and 3GB default
  processing-engine/tests/test_composite_downscale.py
Due: mypy

fix: correct composite memory budget to prevent OOM on large NIRCAM data (#909)
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_composite_downscale.py
  scripts/recipe-walkthrough.py
Due: mypy

fix: disable per-channel feathering for single-instrument composites
  processing-engine/app/composite/routes.py
Due: mypy

fix: disable per-channel feathering for single-instrument composites (#914)
  processing-engine/app/composite/routes.py
Due: mypy

chore: CEO review skill auto-files risk issues + allow multiple tech debt checkboxes
  .claude/skills/plan-ceo-review/SKILL.md
  .github/scripts/validate-pr.js
Due: none

chore: CEO review skill auto-files risk issues + allow multiple tech debt checkboxes (#915)
  .claude/skills/plan-ceo-review/SKILL.md
  .github/scripts/validate-pr.js
Due: none

refactor: add z-index/spacing tokens and remove dead CSS
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/components/AuthToast.css
  frontend/jwst-frontend/src/components/ComparisonImagePicker.css
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.css
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.css
  frontend/jwst-frontend/src/components/dashboard/LineageView.css
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.css
  frontend/jwst-frontend/src/components/dashboard/UploadModal.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/MyLibrary.css
  frontend/jwst-frontend/src/pages/TargetDetail.css
Due: prettier

refactor: add z-index/spacing tokens and remove dead CSS (#917)
  frontend/jwst-frontend/src/App.css
  frontend/jwst-frontend/src/components/AuthToast.css
  frontend/jwst-frontend/src/components/ComparisonImagePicker.css
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/ImageComparisonViewer.css
  frontend/jwst-frontend/src/components/ImageViewer.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/SpectralViewer.css
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/UserMenu.css
  frontend/jwst-frontend/src/components/WhatsNewPanel.css
  frontend/jwst-frontend/src/components/dashboard/DeleteConfirmationModal.css
  frontend/jwst-frontend/src/components/dashboard/FloatingAnalysisBar.css
  frontend/jwst-frontend/src/components/dashboard/LineageView.css
  frontend/jwst-frontend/src/components/dashboard/TargetGroupView.css
  frontend/jwst-frontend/src/components/dashboard/UploadModal.css
  frontend/jwst-frontend/src/components/guided/ProcessStep.css
  frontend/jwst-frontend/src/components/guided/ResultStep.css
  frontend/jwst-frontend/src/components/layout/SharedLayout.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/index.css
  frontend/jwst-frontend/src/pages/DiscoveryHome.css
  frontend/jwst-frontend/src/pages/MyLibrary.css
  frontend/jwst-frontend/src/pages/TargetDetail.css
Due: prettier

chore: update skill files to use --body-file pattern
  .claude/skills/git-workflow/SKILL.md
  .claude/skills/retro/SKILL.md
Due: none

chore: update design system docs and recipe-grader tree view
  .interface-design/system.md
  scripts/recipe-grader.py
Due: none

chore: session cleanup — skill fixes, design system refresh, recipe-grader tree (#918)
  .claude/skills/git-workflow/SKILL.md
  .claude/skills/retro/SKILL.md
  .interface-design/system.md
  scripts/recipe-grader.py
Due: none

fix: cap auto palette at blue (240°) instead of purple (280°)
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy

fix: cap auto palette at blue (240°) instead of purple (280°) (#919)
  frontend/jwst-frontend/src/utils/wavelengthUtils.test.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/tests/test_color_mapping.py
Due: eslint, prettier, mypy
