Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

.pre-commit-config.yaml:

# Pre-commit hooks for JWST Data Analysis Application
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # Processing Engine - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^processing-engine/
      - id: ruff-format
        files: ^processing-engine/

  # Processing Engine - mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd processing-engine && mypy .'
        language: system
        files: ^processing-engine/.*\.py$
        pass_filenames: false

  # Backend - dotnet format (optional, can be slow)
  # Uncomment if you want format checking in pre-commit
  # - repo: local
  #   hooks:
  #     - id: dotnet-format
  #       name: dotnet format
  #       entry: dotnet format backend/JwstDataAnalysis.API --verify-no-changes
  #       language: system
  #       files: ^backend/.*\.cs$
  #       pass_filenames: false

fix: correct API endpoint URL for composite service
  frontend/jwst-frontend/src/services/compositeService.ts
Due: eslint, prettier

fix: auto-close wizard after successful export download
  frontend/jwst-frontend/src/components/CompositeWizard.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
Due: eslint, prettier

fix: ensure export button is visible in wizard
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
Due: eslint, prettier

feat: add calibration level filter to MAST search
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/services/mastService.ts
  frontend/jwst-frontend/src/types/MastTypes.ts
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
Due: eslint, prettier, mypy

feat: filter imports by calibration level
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/services/mastService.ts
  processing-engine/app/mast/mast_service.py
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
Due: eslint, prettier, mypy

fix: pass calib_level to processing engine for downloads
  backend/JwstDataAnalysis.API/Services/MastService.cs
Due: none

docs: add calibration level filter documentation
  docs/mast-usage.md
Due: none

feat: replace Grouped view with By Target grouping
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

feat: add filter badge to dashboard cards for RGB composite selection
  frontend/jwst-frontend/src/components/JwstDataDashboard.css
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

fix: add 401 interceptor with automatic token refresh retry
  frontend/jwst-frontend/src/context/AuthContext.test.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/authService.test.ts
  frontend/jwst-frontend/src/services/authService.ts
  frontend/jwst-frontend/src/services/index.ts
Due: eslint, prettier

feat: enable parallel multi-observation downloads in MAST bulk import
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/types/MastTypes.ts
Due: eslint, prettier

feat: improve bulk import progress UI with distinguishable rows
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
Due: eslint, prettier

fix: prevent duplicate FITS imports and improve error/auth debugging
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Services/IMongoDBService.cs
  backend/JwstDataAnalysis.API/Services/MongoDBService.cs
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/context/AuthContext.tsx
  frontend/jwst-frontend/src/services/apiClient.ts
  frontend/jwst-frontend/src/services/index.ts
Due: eslint, prettier

fix: CORS headers missing on rate limit responses
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/appsettings.json
Due: none

fix: add fallback token refresh for timing issues
  frontend/jwst-frontend/src/services/apiClient.ts
Due: eslint, prettier

perf: optimize CI builds with parallel jobs and caching
  .github/workflows/ci.yml
Due: none

fix: prevent bulk import modal from closing when first job completes
  frontend/jwst-frontend/src/components/MastSearch.tsx
Due: eslint, prettier

feat: show 'Imported' status for already-downloaded observations in MAST search
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
Due: eslint, prettier

feat: add resumable downloads panel to MAST search
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/services/mastService.ts
Due: eslint, prettier

fix: resolve white screen when opening MAST search with resumable jobs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  frontend/jwst-frontend/src/components/MastSearch.tsx
Due: eslint, prettier
