Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: add Python CI coverage threshold at 50% (#434)
  .github/workflows/ci.yml
  processing-engine/pyproject.toml
  processing-engine/requirements.txt
Due: none

test: add tests for statistics, utils, and filters modules
  processing-engine/tests/test_filters.py
  processing-engine/tests/test_statistics.py
  processing-engine/tests/test_utils.py
Due: mypy

test: add tests for statistics, utils, and filters modules (#435)
  processing-engine/tests/test_filters.py
  processing-engine/tests/test_statistics.py
  processing-engine/tests/test_utils.py
Due: mypy

test: add enhancement and detection tests, bump coverage to 55%
  processing-engine/pyproject.toml
  processing-engine/tests/test_detection.py
  processing-engine/tests/test_enhancement.py
Due: mypy

test: add enhancement and detection tests, bump coverage to 55% (#436)
  processing-engine/pyproject.toml
  processing-engine/tests/test_detection.py
  processing-engine/tests/test_enhancement.py
Due: mypy

chore: bump Python CI coverage threshold to 60%
  processing-engine/pyproject.toml
Due: none

chore: bump Python CI coverage threshold to 60% (#437)
  processing-engine/pyproject.toml
Due: none

feat: add .NET backend CI coverage threshold at 15%
  .github/workflows/ci.yml
  .gitignore
  backend/JwstDataAnalysis.API.Tests/JwstDataAnalysis.API.Tests.csproj
Due: none

feat: add .NET backend CI coverage threshold at 15% (#438)
  .github/workflows/ci.yml
  .gitignore
  backend/JwstDataAnalysis.API.Tests/JwstDataAnalysis.API.Tests.csproj
Due: none

test: add unit tests for ImportJobTracker, FileContentValidator, LocalStorageProvider
  backend/JwstDataAnalysis.API.Tests/Services/FileContentValidatorTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/LocalStorageProviderTests.cs
Due: none

test: add unit tests for ImportJobTracker, FileContentValidator, LocalStorageProvider (#439)
  backend/JwstDataAnalysis.API.Tests/Services/FileContentValidatorTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ImportJobTrackerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/LocalStorageProviderTests.cs
Due: none

chore: bump .NET coverage threshold from 15% to 20%
  .github/workflows/ci.yml
Due: none

chore: bump .NET coverage threshold from 15% to 20% (#440)
  .github/workflows/ci.yml
Due: none

test: add unit tests for AuthController, AnalysisController, ThumbnailQueue, StorageKeyHelper, SeedDataService
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/AuthControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/SeedDataServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/StorageKeyHelperTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailQueueTests.cs
Due: none

test: add unit tests for AuthController, AnalysisController, ThumbnailQueue, StorageKeyHelper, SeedDataService (#441)
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/AuthControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/SeedDataServiceTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/StorageKeyHelperTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ThumbnailQueueTests.cs
Due: none

fix: admin-gate migration endpoints and prevent ownership spoofing on create
  backend/JwstDataAnalysis.API.Tests/Fixtures/TestDataFixtures.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
Due: none

fix: admin-gate migration endpoints and prevent ownership spoofing on create (#462)
  backend/JwstDataAnalysis.API.Tests/Fixtures/TestDataFixtures.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/DataValidationModels.cs
Due: none

feat: add smoothing controls and source detection overlay (C1 + D2)
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/AnalysisModels.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.Log.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/IAnalysisService.cs
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/viewer/SmoothingControls.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionOverlay.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionPanel.tsx
  frontend/jwst-frontend/src/services/analysisService.ts
  frontend/jwst-frontend/src/types/AnalysisTypes.ts
  processing-engine/app/analysis/models.py
  processing-engine/app/analysis/routes.py
  processing-engine/main.py
Due: eslint, prettier, mypy

docs: update docs for smoothing controls and source detection (C1 + D2)
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
Due: none

fix: show human-readable label in panel headers instead of raw method value
  frontend/jwst-frontend/src/components/viewer/SmoothingControls.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionPanel.tsx
Due: eslint, prettier

fix: use inline styles for source detection buttons matching viewer theme
  frontend/jwst-frontend/src/components/viewer/SourceDetectionPanel.tsx
Due: eslint, prettier

fix: match panel header styling to existing stretch/curves pattern
  frontend/jwst-frontend/src/components/viewer/SmoothingControls.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionPanel.tsx
Due: eslint, prettier

fix: correct source detection overlay coordinate alignment
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionOverlay.tsx
Due: eslint, prettier

fix: address review findings across all layers
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  frontend/jwst-frontend/src/components/viewer/SourceDetectionOverlay.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionPanel.tsx
  processing-engine/app/analysis/models.py
  processing-engine/app/analysis/routes.py
  processing-engine/app/processing/detection.py
  processing-engine/main.py
Due: eslint, prettier, mypy

fix: filter source detections in NaN border regions
  processing-engine/app/analysis/routes.py
Due: mypy

feat: add smoothing controls and source detection overlay (C1 + D2) (#463)
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Models/AnalysisModels.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.Log.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/IAnalysisService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/ImageViewer.tsx
  frontend/jwst-frontend/src/components/viewer/SmoothingControls.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionOverlay.tsx
  frontend/jwst-frontend/src/components/viewer/SourceDetectionPanel.tsx
  frontend/jwst-frontend/src/services/analysisService.ts
  frontend/jwst-frontend/src/types/AnalysisTypes.ts
  processing-engine/app/analysis/models.py
  processing-engine/app/analysis/routes.py
  processing-engine/app/processing/detection.py
  processing-engine/main.py
Due: eslint, prettier, mypy

test: fix SA1516, SA1202, CA2201 lint errors in test files
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/AuthControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/SeedDataServiceTests.cs
Due: none

test: fix SA1516, SA1202, CA2201 lint errors in test files (#464)
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/AuthControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/SeedDataServiceTests.cs
Due: none

feat: add FITS table viewer for non-image FITS products
  backend/JwstDataAnalysis.API.Tests/Controllers/AnalysisControllerTests.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/AnalysisController.cs
  backend/JwstDataAnalysis.API/Models/AnalysisModels.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.Log.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/IAnalysisService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/TableViewer.css
  frontend/jwst-frontend/src/components/TableViewer.tsx
  frontend/jwst-frontend/src/components/dashboard/DataCard.tsx
  frontend/jwst-frontend/src/services/analysisService.ts
  frontend/jwst-frontend/src/types/AnalysisTypes.ts
  processing-engine/app/analysis/models.py
  processing-engine/app/analysis/routes.py
  processing-engine/tests/test_table_routes.py
Due: eslint, prettier, mypy

fix: enable Table button in LineageFileCard for table-type FITS files
  frontend/jwst-frontend/src/components/dashboard/LineageFileCard.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
