Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

feat: mosaic wizard UI refresh with 2-step flow and thumbnail cards
  docs/development-plan.md
  docs/key-files.md
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/wizard/FootprintPreview.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
  frontend/jwst-frontend/src/types/MosaicTypes.ts
Due: eslint, prettier

feat: normalize MAST target search name variants
  docs/desktop-requirements.md
  docs/quick-reference.md
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_mast_target_search_variants.py
Due: mypy

feat: normalize MAST target search name variants (#329)
  docs/desktop-requirements.md
  docs/quick-reference.md
  processing-engine/app/mast/mast_service.py
  processing-engine/tests/test_mast_target_search_variants.py
Due: mypy

feat: mosaic wizard UI refresh with 2-step flow and thumbnail cards (#328)
  docs/development-plan.md
  docs/key-files.md
  frontend/jwst-frontend/src/components/MosaicWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/wizard/FootprintPreview.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
  frontend/jwst-frontend/src/types/MosaicTypes.ts
Due: eslint, prettier

feat: multi-agent Docker stack infrastructure
  .gitignore
  docker/docker-compose.agent.yml
  docker/docker-compose.override.yml
  docker/docker-compose.shared.yml
  docker/docker-compose.yml
  frontend/jwst-frontend/.dockerignore
  scripts/agent-stack.sh
Due: none

chore: add start.sh wrapper for two-step Docker startup
  scripts/start.sh
Due: none

fix: keep MongoDB in main compose for zero workflow change
  docker/docker-compose.override.yml
  docker/docker-compose.shared.yml
  docker/docker-compose.yml
  scripts/agent-stack.sh
  scripts/start.sh
Due: none

feat: add --pr flag to agent-stack.sh and review.sh for PR previews
  scripts/agent-stack.sh
  scripts/review.sh
Due: none

feat: multi-agent Docker stack infrastructure (#330)
  .gitignore
  docker/docker-compose.agent.yml
  docker/docker-compose.yml
  frontend/jwst-frontend/.dockerignore
  scripts/agent-stack.sh
  scripts/review.sh
Due: none

fix: agent-stack.sh bugs and review.sh improvements
  docker/docker-compose.agent.yml
  docker/docker-compose.override.yml
  scripts/agent-stack.sh
  scripts/review.sh
Due: none

fix: agent-stack.sh bugs and review.sh improvements (#346)
  docker/docker-compose.agent.yml
  docker/docker-compose.override.yml
  scripts/agent-stack.sh
  scripts/review.sh
Due: none

fix: add 127.0.0.1 to CORS allowed origins in .env.example
  docker/.env.example
Due: none

fix: add 127.0.0.1 to CORS allowed origins in .env.example (#349)
  docker/.env.example
Due: none

fix: move Generate Mosaic to wizard footer as primary action
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
Due: eslint, prettier

fix: replace Done button with subtle Close text link
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

fix: improve mosaic wizard footer UX — primary action is now Generate Mosaic (#350)
  frontend/jwst-frontend/src/components/CompositeWizard.css
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicPreviewStep.tsx
Due: eslint, prettier

fix: collapsible footprint preview and mask sensor edge zeros in mosaic
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/tests/test_mosaic_engine.py
Due: eslint, prettier, mypy

fix: defer data refresh until wizard closes to prevent unmount crash
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
Due: eslint, prettier

fix: collapsible footprint preview and mask sensor edge zeros in mosaic (#351)
  frontend/jwst-frontend/src/components/MosaicWizard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.css
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
  processing-engine/app/mosaic/mosaic_engine.py
  processing-engine/tests/test_mosaic_engine.py
Due: eslint, prettier, mypy

fix: replace instrument filter with wavelength filter, fix mosaic viewer and thumbnails
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

fix: replace instrument filter with wavelength filter, fix mosaic viewer and thumbnails (#352)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

fix: trim leading/trailing spaces from search input before filtering
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

fix: trim leading/trailing spaces from search input before filtering (#353)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

fix: include target name in dashboard search filtering
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
Due: eslint, prettier

fix: normalize hyphens/underscores in search to match spaces
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

fix: include target name in dashboard search filtering (#354)
  frontend/jwst-frontend/src/components/JwstDataDashboard.tsx
  frontend/jwst-frontend/src/components/wizard/MosaicSelectStep.tsx
Due: eslint, prettier

feat: add background neutralization for RGB composite wizard
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

chore: add branch name validation to pre-PR-create hook
  .claude/hooks/validate-before-pr-create.sh
Due: none

chore: remove hook file from tracking
  .claude/hooks/validate-before-pr-create.sh
Due: none

feat: add background neutralization for RGB composite wizard (#356)
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
Due: eslint, prettier, mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
