Repository Snoww3d/jwst-data-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, mypy

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd processing-engine && mypy .'
  language: system
  pass_filenames: false

refactor: remove deprecated 3-channel RGB composite endpoint (B3.6)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  docs/development-plan.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

refactor: remove deprecated 3-channel RGB composite endpoint (B3.6) (#368)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.Log.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/ICompositeService.cs
  docs/development-plan.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignmentStep.tsx
  frontend/jwst-frontend/src/services/compositeService.ts
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/cache.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

feat: add luminance channel support for LRGB compositing (B3.4)
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/development-plan.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

fix: restore non-conflicting hue when toggling luminance off
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
Due: eslint, prettier

fix: swap channel label between color name and Luminance on toggle
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

feat: add RGB/LRGB preset buttons to channel assign step
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
Due: eslint, prettier

fix: preserve image assignments when switching RGB/LRGB presets
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
Due: eslint, prettier

fix: update controller validation to allow luminance channels
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
Due: none

feat: add luminance channel support for LRGB compositing (B3.4) (#369)
  backend/JwstDataAnalysis.API/Controllers/CompositeController.cs
  backend/JwstDataAnalysis.API/Models/CompositeModels.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  docs/development-plan.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.css
  frontend/jwst-frontend/src/components/wizard/CompositePreviewStep.tsx
  frontend/jwst-frontend/src/types/CompositeTypes.ts
  frontend/jwst-frontend/src/utils/wavelengthUtils.ts
  processing-engine/app/composite/color_mapping.py
  processing-engine/app/composite/models.py
  processing-engine/app/composite/routes.py
  processing-engine/tests/test_nchannel_composite.py
Due: eslint, prettier, mypy

fix: attempt token refresh on load when access token is expired
  frontend/jwst-frontend/src/context/AuthContext.tsx
Due: eslint, prettier

fix: attempt token refresh on load when access token is expired (#370)
  frontend/jwst-frontend/src/context/AuthContext.tsx
Due: eslint, prettier

test: add comprehensive E2E test suite with 53 new tests
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/e2e/comparison-viewer.spec.ts
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/dashboard.spec.ts
  frontend/jwst-frontend/e2e/export.spec.ts
  frontend/jwst-frontend/e2e/fits-viewer.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/e2e/mosaic-wizard.spec.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
  frontend/jwst-frontend/e2e/ux-regression.spec.ts
  frontend/jwst-frontend/e2e/viewer-tools.spec.ts
Due: none

test: add comprehensive E2E test suite with 53 new tests (#371)
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  frontend/jwst-frontend/e2e/auth.spec.ts
  frontend/jwst-frontend/e2e/comparison-viewer.spec.ts
  frontend/jwst-frontend/e2e/composite-wizard.spec.ts
  frontend/jwst-frontend/e2e/dashboard.spec.ts
  frontend/jwst-frontend/e2e/export.spec.ts
  frontend/jwst-frontend/e2e/fits-viewer.spec.ts
  frontend/jwst-frontend/e2e/helpers.ts
  frontend/jwst-frontend/e2e/mast-search.spec.ts
  frontend/jwst-frontend/e2e/mosaic-wizard.spec.ts
  frontend/jwst-frontend/e2e/session-persistence.spec.ts
  frontend/jwst-frontend/e2e/smoke.spec.ts
  frontend/jwst-frontend/e2e/ux-regression.spec.ts
  frontend/jwst-frontend/e2e/viewer-tools.spec.ts
Due: none

fix: update stale pytest match patterns for ChannelColor validation
  processing-engine/tests/test_color_mapping.py
Due: mypy

fix: update stale pytest match patterns for ChannelColor validation (#373)
  processing-engine/tests/test_color_mapping.py
Due: mypy

feat: add JWST filter presets dropdown for composite wizard (B3.5)
  docs/development-plan.md
  docs/key-files.md
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/utils/filterPresets.test.ts
  frontend/jwst-frontend/src/utils/filterPresets.ts
Due: eslint, prettier

feat: add JWST filter presets dropdown for composite wizard (B3.5) (#374)
  docs/development-plan.md
  docs/key-files.md
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.css
  frontend/jwst-frontend/src/components/wizard/ChannelAssignStep.tsx
  frontend/jwst-frontend/src/utils/filterPresets.test.ts
  frontend/jwst-frontend/src/utils/filterPresets.ts
Due: eslint, prettier

feat: add S3 direct access for JWST FITS downloads (F1.1-F1.5)
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/IMastService.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/services/mastService.ts
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mast/s3_client.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/app/mast/s3_resolver.py
  processing-engine/requirements.txt
  processing-engine/tests/test_s3_client.py
  processing-engine/tests/test_s3_downloader.py
  processing-engine/tests/test_s3_resolver.py
Due: eslint, prettier, mypy

feat: add storage abstraction layer for backend and processing engine (F2)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerViewerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/Storage/IStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
  docker/docker-compose.yml
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  processing-engine/app/storage/__init__.py
  processing-engine/app/storage/factory.py
  processing-engine/app/storage/local_storage.py
  processing-engine/app/storage/provider.py
  processing-engine/tests/test_storage.py
Due: mypy

fix: address PR #376 review feedback (C1-C3, M1-M5, minor)
  processing-engine/app/mast/routes.py
  processing-engine/app/mast/s3_client.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/app/mast/s3_resolver.py
  processing-engine/tests/test_s3_client.py
  processing-engine/tests/test_s3_downloader.py
Due: mypy

fix: address PR review — path traversal, deduplication, thread safety
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/StorageKeyHelper.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
  processing-engine/app/storage/factory.py
  processing-engine/app/storage/local_storage.py
  processing-engine/tests/test_storage.py
Due: mypy

docs: add StorageKeyHelper to key-files.md
  docs/key-files.md
Due: none

feat: add S3 direct access for JWST FITS downloads (F1) (#376)
  backend/JwstDataAnalysis.API/Controllers/MastController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/MastController.cs
  backend/JwstDataAnalysis.API/Models/MastModels.cs
  backend/JwstDataAnalysis.API/Services/IMastService.cs
  backend/JwstDataAnalysis.API/Services/MastService.cs
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  frontend/jwst-frontend/src/components/MastSearch.css
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/services/index.ts
  frontend/jwst-frontend/src/services/mastService.ts
  processing-engine/app/mast/models.py
  processing-engine/app/mast/routes.py
  processing-engine/app/mast/s3_client.py
  processing-engine/app/mast/s3_downloader.py
  processing-engine/app/mast/s3_resolver.py
  processing-engine/requirements.txt
  processing-engine/tests/test_s3_client.py
  processing-engine/tests/test_s3_downloader.py
  processing-engine/tests/test_s3_resolver.py
Due: eslint, prettier, mypy

feat: add storage abstraction layer for backend and processing engine (F2) (#378)
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Controllers/JwstDataControllerViewerTests.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.Log.cs
  backend/JwstDataAnalysis.API/Controllers/DataManagementController.cs
  backend/JwstDataAnalysis.API/Controllers/JwstDataController.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/AnalysisService.cs
  backend/JwstDataAnalysis.API/Services/CompositeService.cs
  backend/JwstDataAnalysis.API/Services/MosaicService.cs
  backend/JwstDataAnalysis.API/Services/Storage/IStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/LocalStorageProvider.cs
  backend/JwstDataAnalysis.API/Services/Storage/StorageKeyHelper.cs
  backend/JwstDataAnalysis.API/Services/ThumbnailService.cs
  docker/docker-compose.yml
  docs/development-plan.md
  docs/key-files.md
  docs/quick-reference.md
  docs/standards/backend-development.md
  processing-engine/app/storage/__init__.py
  processing-engine/app/storage/factory.py
  processing-engine/app/storage/local_storage.py
  processing-engine/app/storage/provider.py
  processing-engine/tests/test_storage.py
Due: mypy

test: add E2E tests for MAST download UI and source selection
  frontend/jwst-frontend/e2e/mast-download.spec.ts
Due: none

fix: replace non-null assertions with explicit guards in filterPresets tests
  frontend/jwst-frontend/src/utils/filterPresets.test.ts
Due: eslint, prettier

test: add E2E tests for MAST download UI and source selection (#380)
  frontend/jwst-frontend/e2e/mast-download.spec.ts
  frontend/jwst-frontend/src/utils/filterPresets.test.ts
Due: eslint, prettier

fix: correct S3 downloader test assertion for path traversal sanitization
  processing-engine/tests/test_s3_downloader.py
Due: mypy

feat: add processing engine health check and Docker healthcheck probes
  backend/JwstDataAnalysis.API.Tests/Controllers/MastControllerTests.cs
  backend/JwstDataAnalysis.API.Tests/Services/ProcessingEngineHealthCheckTests.cs
  backend/JwstDataAnalysis.API/Program.cs
  backend/JwstDataAnalysis.API/Services/ProcessingEngineHealthCheck.cs
  docker/docker-compose.agent.yml
  docker/docker-compose.yml
  docs/key-files.md
  docs/quick-reference.md
  frontend/jwst-frontend/src/components/MastSearch.tsx
  frontend/jwst-frontend/src/services/healthService.ts
  processing-engine/Dockerfile
Due: eslint, prettier

fix: correct S3 downloader test assertion for path traversal sanitization (#381)
  processing-engine/tests/test_s3_downloader.py
Due: mypy

Path conditions:
  eslint: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/jwst-frontend/src/.*\.(ts|tsx|css|json)$
  mypy: any of: ^processing-engine/.*\.py$
